<div class="hero" id="title-hero">

  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-10">
          <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Sök värd</h2>
          <h2 class="subtitle is-6">Nedan finner du information om hur du ansöker till att vara värd för TEAM-dagarna 2022 samt en beskrivning av vad de olika värdposterna innebär.</h2>

            <h5 class="subtitle is-6">Nu söker vi värdar inför mässan år 2022! Alla värdar får gå på AW den första mässdagen och banketten den andra dagen. Båda eventen äger rum på Konsert och Kongress i Linköping. Alla värdar får även en jättesnygg 
              TEAM-ryggsäck. Oavsett vilken post du söker är det ett lärorikt arbete och en bra erfarenhet att skriva på ditt CV. Tveka inte, SÖK värd redan idag! Sista ansökningsdag är måndagen den 7 september kl.23.59.  Företagsvärdar rekryteras även 
              löpande under ansökningsperioden. 
            </h5><br>
            <h5 class="subtitle is-6 has-text-danger">Ansökan för i år har stängt.</h5>
            <!-- <a class="button is-medium" href="https://forms.gle/hW8y8fXYAAMbgmVq7" target="_blank"><span>Till ansökan</span><span class="icon" id="white-icon"><i class="fas fa-external-link-alt"></i></span></a> -->
          <br>
        
        </div>
      </div>
    </div>
  </div>
</div>


<section class="hero">
  <div class="container has-text-centered is-mobile">
    <div class="columns is-multiline">
  
      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-3">Värdar</h1>
        </div>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Företagsvärd</h1>
        <p>Som företagsvärd kommer du vara företagens högra hand. Ni kommer bli tilldelade varsitt företag som ni ansvarar över, både innan och under mässdagarna. Innan mässan kommer ni kontakta ert företag för att presentera er, samla in den sista informationen samt bestämma mötesplats. Under mässan är ert huvuduppdrag att företagen ska vara nöjda. Det innebär också att hjälpa företagen checka in, hitta deras monterplats och ta in extrabeställningar. Detta innebär att ni måste vara tillgängliga under hela dagen/dagarna som företagen står på mässan. Ett ypperligt tillfälle att ha nära kontakt med ett företag. 
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Mässvärd</h1>
        <p>Som mässvärd kommer du ha övergripande ansvar vid riggning av mässan (Upp-, om-, och nedriggning). Detta inkluderar utplacering av montrar, lägga matta och bygga upp lounger. Under mässdagarna kommer du även ha ansvar för utlämning av extrabeställningar till företag och uppdatering av lagernivåer. 
          <!--Du kommer även ha marknadsföringsansvar för pusseljakten, detta inkluderar att mingla med studenter och tipsa om att medverka i pusseljakten! -->
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Info och hållbarhetsvärd
        </h1>
        <p>Som info- och hållbarhetsvärd arbetar du främst med att informera och svara på frågor om mässan. Det handlar både om att mingla och berätta för studenter om mässan samt att stå i mässans informationsdisk. I disken hjälper du till med incheckning och utcheckning av företag, lägger extrabeställningar av material samt svarar på frågor. Du kommer också att få röra dig runt på mässan för att se till att sorteringen av avfall sköts genom att tömma kärlen samt hjälpa och uppmuntra besökare att slänga i rätt behållare. Du är även beredd att hoppa in och stötta andra poster om det krävs! Info- och hållbarhetsvärd passar dig som gillar att vara social, stå i centrum och ha koll på läget. Du ska vara stresstålig och kunna hålla koll på många saker samtidigt. 
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Logistikvärd</h1>
        <p>Som logistikvärd kommer du att vara logistikansvariges högra hand under mässan. Du kommer främst ansvara över logistikdisken där du tar emot bokningar av persontransport och schemalägger dessa. Du kommer även att hjälpa till med att organisera och hålla koll på packade montrar som företagen vill hämta ut/lämna in. B-körkort är meriterande, men inte nödvändigt, då det kan behövas i eventuell nödsituation.</p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Eventvärd</h1>
        <p>Som eventvärd kommer du hjälpa till på gästföreläsningar och företagsevent. Posten innebär att du hjälper till under mässdagarna, men det kan även förekomma visst engagemang innan mässan. Det kan dessutom hända att du hjälper till vid kontaktsamtal för att avlasta. Vid kontaktsamtalen kommer du vägleda studenter och företag dit samt ringa in eventuella reserver. Vid gästföreläsningar och företagsevent kommer du hjälpa till med uppdrag så som att släppa in studenter vid föreläsningar, förbereda salar samt serva företag och föreläsare. Posten kräver inga särskilda erfarenheter. Som person är du social med ett leende på läpparna, har ett stort servicetänk, är flexibel och är stresstålig.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Kontaktsamtalsvärd</h1>
        <p>Som kontaktsamtalsvärd hjälper du till vid disken för kontaktsamtal under mässdagarna. Där får du hänga med oss och checka in alla studenter och företag. Vid kontaktsamtalen kommer du vägleda studenter och företag dit samt ringa in eventuella reserver. Posten kräver inga särskilda erfarenheter. Det är meriterande om du är stresstålig, har ett bra servicetänk och bidrar till en härlig stämning.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Bankett och AW-värd
        </h1>
        <p>Som Bankett och AW-värd får du mycket frihet och möjlighet att ta fram din kreativa sida. Din främsta uppgift är att hjälpa mig (Lydia) med både högt och lågt inför kvällseventen Bankett och AW. Detta kan vara allt ifrån att ansvara över dekorationen till att göra det sista pysslet innan gästerna anländer, där det ofta är flera bollar i luften samtidigt. Du kommer vara ledig under eventen, det är förberedelserna jag behöver dig till! Med denna post har du verkligen möjlighet att bidra och inspirera. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Chaufför</h1>
        <p>Som chaufför kommer du ansvara över att transportera företagsrepresentanterna mellan resecentrum, mässan och deras hotell. Som chaufför blir du TEAMs ansikte utåt mot företagen, då du ofta är den första person som företagsrepresentanterna träffar i samband med mässan. För denna post krävs det att du har B-körkort.
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Fotovärd</h1>
        <p>Som fotovärd agerar du fotograf under de båda mässdagarna. Utöver detta ingår redigering av bilder i din post som fotovärd. Tillsammans med din kollega som fotovärd fördelar ni arbetet mellan er på lämpligt vis så ni båda har möjlighet att delta i mässan. Tidigare erfarenhet av fotografering, bildredigering samt egen kamera är meriterande. Som person är du social och har lätt för att ta kontakt med andra. Du är kreativ och har öga för stunder att bevara.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Filmvärd</h1>
        <p>Som filmvärd är din uppgift att skapa en minnesvärd och heltäckande film från mässdagarna och kvällseventen. Du jobbar båda dagarna men får bestämma själv över din tid och hur du vill distribuera den. Under tiden du jobbar ska du försöka fånga mässans ögonblick och höjdpunkter  samt redigera och klippa ihop en film. Då du inte behöver filma allting får du även tid att besöka mässan samt delta i kvällsaktiviteterna. Tidigare erfarenhet av filmredigering och egen kamera är meriterande. Som person är du kreativ, har känsla för vad som gör en sevärd film samt har lätt för att ta kontakt med folk.
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">IT-värd
        </h1>
        <p>Som IT-värd kommer du ha koll på elen och hjälpa till med riggning och avriggning av el för samtliga företag. Du förväntas även vara redo under icke-schemalagda tider utifall något skulle hända, agera standby! </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Jourvärd
        </h1>
        <p>Som jourvärd får du möjligheten vara TEAM-stabens högra hand under mässdagarna. Det innebär att hjälpa till på olika håll och kanter av mässan där det behövs. Som person ska du vara ständigt på tårna, händig och snabbtänkt. Du får möjligheten att överblicka mässans alla delar. </p>
        <br>
        <h1 class="title is-4">Spons och servicevärd</h1>
        <p>Som Spons och servicevärd får du hjälpa till och ansvara för olika lounger, eller vara med och fixa lunch till alla företag och värdar. De lounger och ansvarsområden som finns är CV-fotografering, frisör, naglar/make-up, utelounge, företagslounge, studentlounge. </p>
      <br><br>
      </div>

    </div>
    <!-- <a class="button is-primary is-medium" href="https://docs.google.com/forms/d/e/1FAIpQLSfHwvsS1iH9eem8_17FDYhvg3UWgsO1672t9RferjC7rPMxyA/viewform" target="_blank"><span>Till ansökan</span><span class="icon"><i class="fas fa-external-link-alt"></i></span></a> -->
  </div>
</section>
