<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-8">
          <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Sök värd</h2>
          
          <h5 class="subtitle is-6" *ngIf="isApplicationOpen">
            Nu söker vi värdar inför mässan 2026!
          </h5>
          <h5 class="subtitle is-6 has-text-danger" *ngIf="!isApplicationOpen">
            Ansökan till värd för mässan 2026 är stängd, men håll utkik för ansökan för mässan 2027!
          </h5>
          
          <h5 class="is-6 has-text-justified" style="text-align-last: center;">
            Nedan finner du info om av vad de olika värdposterna innebär samt ansökningsformuläret. Förmåner som värd är att du får gå gratis 
            på årets finaste <strong>bankett</strong> på Konsert och Kongress i Linköping. Oavsett post så är det också ett lärorikt arbete, en bra erfarenhet 
            att skriva på ditt CV och en bra chans att knyta kontakter med både företag och andra studenter!
          </h5>

          <div class="content is-3 has-text-left is-6 has-items-centered">
            <div class="krav-box">
              Krav för att vara värd:
              <ul>
                <li>Du är student på Linköpings universitet (förtur till studenter från indek och ekonomprogrammet)</li>
                <li>Kan närvara på värdutbildningen den <strong>6:e september</strong> (kl. 14:15-17:00)</li>
                <li>Kan närvara på upprigg av mässan kvällen den <strong>21:a september</strong> (från 16:30)</li>
                <li>Vara tillgänglig hela dagen under båda mässdagarna, <strong>22-23:e september</strong></li>
              </ul>
            </div>
          </div>
          <br>
          <h5 class="is-6" *ngIf="isApplicationOpen">
            Tveka inte, SÖK värd redan idag! Sista ansökningsdag är <strong>tisdagen den 1:a september</strong> kl. 23:59.<br>
            Företagsvärdar rekryteras även löpande under ansökningsperioden.
            <!-- <br><br> -->
          </h5>

          <!-- Ansökan button -->
          <a class="button is-medium" *ngIf="isApplicationOpen" href="https://forms.gle/Zvcx5hiQAGHhJFfW7" target="_blank">
            <span>SÖK VÄRD</span>
            <span class="icon" id="white-icon">
              <i class="fas fa-external-link-alt" style="color: white;"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> 

<section class="hero">
  <div class="container has-text-centered is-mobile">
    <div class="columns is-multiline">
  
      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-3">Värdar</h1>
        </div>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Företagsvärd</h1>
        <p>Som företagsvärd är du företagens högra hand och mässans ansikte utåt. Det är du som har stenkoll på allt, svarar på frågor och ser till att våra utställare får en fantastisk upplevelse. I rollen hjälper du till med allt från incheckning och monterbygge till löpande service under dagarna. Du blir den närmsta kontakten för ditt tilldelade företag, vilket ger dig en unik chans att nätverka och knyta värdefulla kontakter. Rollen passar dig som är serviceminded, gillar att ta ansvar och kan vara tillgänglig under mässdagarna för att representera både TEAM-dagarna och Linköpings universitet på bästa möjliga sätt. Ta chansen att utveckla ditt nätverk för framtiden!  
        </p>
      </div>
      <!-- <div class="column is-4">
        <h1 class="title is-4">Mässvärd</h1>
        <p>Som mässvärd kommer du ha övergripande ansvar vid riggning av mässan (upp-, om-, och nedriggning). Detta inkluderar utplacering 
          av montrar, lägga matta och bygga upp lounger. Under mässdagarna kommer du även ha ansvar för utlämning av extrabeställningar till 
          företag, uppdatering av lagernivåer och hjälpa till i garderober. Du kommer även marknadsföra <a [routerLink]="['/framtidschansen']">
            Framtidschansen</a>, vilket inkluderar att mingla med studenter och tipsa om att medverka i Framtidschansen!
        </p>
      </div> -->
      <div class="column is-4">
        <h1 class="title is-4">Info- och hållbarhetsvärd</h1>
        <p>Som info- och hållbarhetsvärd är du en viktig kontaktpunkt under mässan. Du arbetar främst med att informera och svara på frågor om mässan, både genom att mingla och berätta för studenter om mässan samt genom att stå i informationsdisken. Där hjälper du till med in- och utcheckning av företag och svarar på frågor från både besökare och företagsrepresentanter. Du ser även till att sorteringen av avfall fungerar som den ska genom att tömma kärl och hjälpa besökare att slänga rätt. Rollen passar dig som är social, stresstålig och gillar att ha koll på läget. 
        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Logistikvärd</h1>
        <p>Som logistikvärd är du logistikansvariges högra hand under mässan och har en viktig roll i att få logistiken att fungera smidigt. Du ansvarar främst för logistikdisken där du tar emot bokningar av persontransporter och planerar chaufförernas körschema. Du hjälper även företag med in- och utlämning av montrar och ser till att material hanteras på ett organiserat sätt. Rollen passar dig som är strukturerad, lösningsorienterad och gillar att ha överblick. B-körkort är meriterande, men inget krav, då det kan behövas i eventuell nödsituation. 
        </p>
      </div>
      <!-- <div class="column is-4">
        <h1 class="title is-4">Eventvärd</h1>
        <p>Som eventvärd kommer du att hjälpa till på gästföreläsningar samt under andra <a [routerLink]="['/events']">företagsevent</a>. Det kan 
          dessutom hända att du även får hjälpa till vid kontaktsamtal för att avlasta vid behov. Vid kontaktsamtalen kommer du att vägleda 
          studenter och företag dit samt ringa in eventuella reserver. Vid gästföreläsningar och företagsevent kommer du att hjälpa till med uppdrag 
          såsom att släppa in studenter vid föreläsningar, förbereda salar samt hjälpa företagen och föreläsare. Posten kräver inga tidigare 
          erfarenheter men som person är du social med ett leende på läpparna, har ett stort servicetänk, är flexibel och stresstålig.
        </p>
      </div> -->
      <div class="column is-4">
        <h1 class="title is-4">Bankett och AW-värd</h1>
        <p>Som bankett- och AW-värd är du med och skapar minnesvärda och välorganiserade event under TEAM-dagarna. Rollen är varierad och ger dig möjlighet att både ta ansvar och använda din kreativitet. Du hjälper bland annat till med förberedelser, dekoration och logistik samt välkomnar företagsrepresentanter under eventen. Du blir en viktig del av att allt flyter på och får samtidigt chansen att träffa både studenter och företag. Rollen passar dig som är social, kreativ och gillar att bidra till en härlig stämning! 
        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Kontaktsamtalsvärd</h1>
        <p>Som kontaktsamtalsvärd hjälper du till vid disken för kontaktsamtalen under mässdagarna. Där får du tillsammans med dina värdkollegor checka in alla studenter och företag. Under kontaktsamtalen guidar du studenter och företag till rätt kontaktsamtalsrum samt ringer in eventuella reserver om någon deltagare avanmäler sig. Du ansvarar även för att fika- och dryckesbordet är påfyllt. För att trivas i rollen bör du vara serviceinriktad, trygg i att ta ansvar och vilja bidra till en härlig stämning.
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Fotovärd</h1>
        <p>Som fotovärd agerar du fotograf under båda mässdagarna. Utöver detta ingår redigering av bilder i din post som fotovärd. Tillsammans med din kollega som fotovärd fördelar ni arbetet mellan er på lämpligt vis så ni båda har möjlighet att delta i mässan. Tidigare erfarenhet av fotografering, bildredigering samt egen kamera är meriterande men inget krav. Som person är du social och har lätt för att ta kontakt med andra. Du är kreativ och har öga för stunder att bevara.
        </p>
      </div>
      <!-- <div class="column is-4">
        <h1 class="title is-4">Filmvärd</h1>
        <p>Som filmvärd är din uppgift att skapa en minnesvärd och heltäckande film från mässdagarna och kvällseventen. Du jobbar båda dagarna 
          men får bestämma själv över din tid och hur du vill distribuera den. Under tiden du jobbar ska du försöka fånga mässans ögonblick och 
          höjdpunkter samt redigera och klippa ihop en film. Du får du även tid att besöka mässan samt delta i kvällsaktiviteterna. Tidigare 
          erfarenhet av redigering och egen kamera är meriterande. Som person är du kreativ, har känsla för vad som gör en sevärd film samt 
          har lätt för att ta kontakt med folk.
        </p>
      </div> -->

      <div class="column is-4">
        <h1 class="title is-4">Chaufför</h1>
        <p>Som chaufför ansvarar du för att transportera företagsrepresentanter mellan resecentrum, mässan och deras hotell. Du är ofta den första personen företagen möter och blir därför TEAMs ansikte utåt. Med ett professionellt och vänligt bemötande bidrar du till att ge företagen en bra start på sin mässupplevelse. Detta ger dig även möjligheten att ensam få mingla med företagen i en avslappnad miljö. Under mässdagarna ansvarar du för att transporterna sker på ett smidigt och säkert sätt enligt schemat. Rollen passar dig som är serviceinriktad, ansvarstagande och trivs med att möta nya människor samt att köra bil. För denna post krävs B-körkort.
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">IT-värd</h1>
        <p>Som IT-värd ser du tillsammans med IT-ansvarig och en annan IT-värd till att elen på mässan fungerar som den ska. Du hjälper till att rigga upp och ner el samt ser till att företagen får den el de behöver under mässdagarna. Arbetet följer en planering som tagits fram inför mässan, men du behöver också vara uppmärksam och kunna lösa praktiska problem som dyker upp längs vägen. Ingen tidigare erfarenhet krävs, men kunskap inom el eller liknande är meriterande. Rollen passar dig som är händig, strukturerad och lösningsorienterad.
        </p>
        <br><br><br><br>
        <h1 class="title is-4">Jourvärd</h1>
        <p>Som jourvärd är du TEAM-stabens högra hand under mässdagarna. Rollen innebär att rycka in där det behövs och hjälpa till med både planerade och oväntade uppgifter runt om på mässan. Det gör rollen varierad och ger dig möjlighet att vara delaktig i många olika delar av mässan. Vi söker dig som är initiativrik, flexibel och trivs i ett högt tempo. Som jourvärd får du en unik inblick i mässans alla delar och blir en viktig del av att skapa en lyckad mässa.
        </p>
        <br><br>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Lunch- och loungevärd</h1>
        <p>Som lunch- och loungevärd får du hjälpa till och ansvara för mässans olika lounger, samt vara med och fixa frukost och lunch till alla företag. De lounger och ansvarsområden som finns på mässan är CV-fotografering, skönhetslounge med frisörer och nagelterapeuter, tävlingslounge, företagslounge och studentlounge. Tillsammans med andra värdar skapar du en trevlig miljö runt mässan samtidigt som du får möjligheten att träffa företagsrepresentanter och andra studenter. Som person ser vi gärna att du är serviceinriktad, organiserad och stresstålig! 
        </p>
      </div>
    </div>
  </div>
</section>
