<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Sök värd </h1>
          <h2 class="subtitle">Tveka inte, sök värd och TAGGA TEAM!</h2> </div>
      </div>
    </div>
  </div>
</div>


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h5 class="subtitle">TEAM-dagarna 2018 börjar närma sig och vi söker värdar som kan hjälpa till under dessa två grymma och fullspäckade dagar. Att vara värd under TEAM-dagarna är ett fantastiskt tillfälle där du blir en erfarenhet rikare och får lära känna studenter från andra årskurser samt program. Förutom det får du även vara med på en värd-kick off, intressant utbildning ledd av Talent Eye, en mingelkväll där även representanter från företag kommer finnas på plats och en storslagen bankett. Mässan äger rum den 25-26 september.</h5>
        <h5 class="subtitle">Vi söker främst dig som läser Civilekonomprogrammet eller programmet för Industriell Ekonomi. </h5>
        <h5 class="subtitle">Hoppas du vill vara en del av vårt härliga gäng och tillsammans med oss bidra till en storslagen arbetsmarknadsmässa! </h5>
        <a class="button is-primary is-medium " href="https://docs.google.com/forms/d/e/1FAIpQLScoc-RyVls0ir1j22cZ9ea7xgowjhlSQysfbNr5Tp2aY5kzog/viewform" target="_blank">Till ansökan</a>
      </div>
      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-3">Värdar</h1>
        </div>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Event- och kontaktsamtalsvärd</h1>
        <p>Som eventvärd kommer du hjälpa till vid kontaktsamtal, gästföreläsningar och företagsevent. Posten innebär att man hjälper till under mässdagarna, men det kan även förekomma visst engagemang innan mässan. Vid kontaktsamtalen kommer du vägleda
          studenter och företag dit samt ringa in eventuella reserver. Vid gästföreläsningar och företagsevent kommer du hjälpa till vid event med att släppa in studenter vid föreläsningar, förbereda salar och serva företag/föreläsare. Posten kräver inga
          särskilda erfarenheter. Som person är du social med ett leende på läpparna, har ett stort servicetänk och är stresstålig. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Bankett- och mingelvärd</h1>
        <p>Som bankett- och mingelvärd hjälper du till innan och under de två kvällseventen. Detta innefattar att dekorera eventen, fixa iordning allt och hälsa gästerna välkomna. Som person är du flexibel och kreativ och är inte rädd för att ta egna initiativ.
          Erfarenhet av att jobba med event tidigare är meriterande. Vidare är körkort ett stort plus. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Chaufför</h1>
        <p>Som chaufför blir det du som kör företagsrepresentanterna under mässdagarna. Att vara chaufför innebär att du blir företagets första kontakt med TEAM och du får chansen att mingla med företagsrepresentanterna för att ge ett gott intryck av mässan.
          Att vara chaufför kräver självklart att du har körkort.
        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Fotovärd</h1>
        <p>Som fotovärd agerar du fotograf under en av mässdagarna och under ett kvällsevent. Jobbar du den 25 september fotar du under mässan och mingelkvällen, jobbar du den 26 september fotar du mässan och “rosa mattan” samt delar av banketten. Utöver
          detta så ingår redigering av bilder i denna post. Du får gå som besökare på eventet den kvällen då du inte jobbar. Du som fotar under banketten kommer också vara där som gäst men behöver ta några bilder under kvällen. Tidigare erfarenhet av
          fotografi samt redigering av bilder och egen kamera är meriterande. Som person är du social och har lätt för att ta kontakt med andra. Du är kreativ och har öga för stunder att bevara. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Filmvärd</h1>
        <p>Som filmvärd är din uppgift att skapa en minnesvärd och heltäckande film från mässdagarna och kvällseventen. Du jobbar båda dagarna men får bestämma själv över din tid och hur du vill distribuera den. Under tiden du jobbar ska du försöka fånga
          mässans ögonblick samt redigera och klippa ihop en film. Då du inte behöver filma allting får du även tid att besöka mässan samt delta i kvällsaktiviteterna. Tidigare erfarenhet av filmredigering och egen kamera är meriterande. Som person är
          du kreativ, har känsla för vad som gör en sevärd film samt har lätt för att ta kontakt med folk.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Företagsvärd</h1>
        <p>Som företagsvärd får du en personlig kontakt med ett företag innan och under mässan. Innan mässan ska du kontakta ditt företag och stämma av att all information stämmer, samt kunna svara på frågor företaget ställer till dig om TEAM. Du ska också
          under mässan vara tillgänglig i ditt företags monter för att hjälpa företagsrepresentanter med diverse praktiska saker. Det kan vara vägvisning, extrabeställningar, förvaring, transport och massa annat. Som företagsvärd förväntas du vara social
          och serviceinriktad. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Info- och miljövärd</h1>
        <p>Som info- och miljövärd arbetar du främst i mässans informationsdisk. Du hjälper till med incheckning och utcheckning av företag, lägger extrabeställningar av material på mässan och svarar på frågor. Du kan också komma att få röra dig runt på
          mässan för att se till att sorteringen av avfall sköts och se till att kärlen töms och eventuellt hjälpa besökare att slänga i rätt behållare. Det är ett spännande jobb för dig som gillar att stå i centrum och ha bra koll på läget. Som person
          är du social och har lätt att bemöta andra. Du är även beredd att hoppa in och stötta på andra poster om det krävs! Du ska vara stresstålig och kunna hålla koll på många saker samtidigt. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">IT-värd</h1>
        <p>Som IT-värd ansvarar du för mycket av den tekniska utrustningen på mässan. Du hjälper till att sätta igång projektorer, mikrofoner och TV-skärmar. Du kommer även hjälpa till att dela ut kablar och annan teknisk utrustning. Du har ett intresse
          för teknik och elektronik, är service-minded och jobbar snabbt. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Jourvärd</h1>
        <p>Som jourvärd får du möjligheten vara TEAM-stabens högra hand under mässdagarna. Det innebär att hjälpa till på olika håll och kanter av mässan där det behövs. Som person ska du vara en factotum, ständigt på tårna, händig och snabbtänkt. Du får
          möjligheten att överblicka mässans alla delar. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Lunch- och loungevärd</h1>
        <p>Som loungevärd kommer du att jobba i någon av våra tre lounger samt hjälpa till under lunchserveringarna och med CV-fotograferingen. Arbetet innefattar bland annat av att förbereda frukost för företagsrepresentanter och värdar, ställa fram fika,
          dryck och annat som kommer att finnas i loungerna. Det kommer att vara ett flexibelt arbete där värdarna kommer att rotera mellan loungerna. Arbete inom serviceyrket är meriterande och speciellt erfarenheter inom restaurangbranschen, men absolut
          inget krav. Annars är det viktigt att kunna hålla en hög servicenivå och vara stresstålig. Det är ett socialt arbete i en av mässans kärnor där många företagsrepresentanter och studenter kommer att cirkulera. </p>
        <p>Vi söker också två stycken värdar som kommer att ha ett större ansvar för företags- och studentloungen och vara våra högra händer. Om det låter intressant ange det i ansökan och motivera kort. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Logistikvärd</h1>
        <p>Som logistikvärd kommer du stå i logistikdisken där företag kommer kunna boka persontransport och transport av montrar från mässan. Du kommer även att hjälpa till att förflytta montrarna till de cirka 80 företag som ställer ut. Det är ett stort
          plus om du har körkort eftersom du även kan komma att fungera som extra resurs för olika transporter. Som person är du ansvarstagande och ordningsam eftersom posten innebär en stor del eget ansvar. </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Mässvärd</h1>
        <p>Som mässvärd är din uppgift att se till att mässan flyter på bra och att alla företag, studenter samt värdar håller sig till de säkerhetsregler som finns. Du kommer också få extra ansvar vid uppbyggnad och rivning av mässan och det är därför viktigt
          att du vågar ge direktiv till andra samt att du snabbt kan ta till dig information och agera efter förändringar. Utöver detta kommer du ha varierande arbetsuppgifter samt möjlighet att gå runt på mässan. Du är ansvarstagande, driven och du utför
          dina uppgifter med ett leende på läpparna. </p>
      </div>

    </div>

    <a class="button is-primary is-medium " href="https://docs.google.com/forms/d/e/1FAIpQLScoc-RyVls0ir1j22cZ9ea7xgowjhlSQysfbNr5Tp2aY5kzog/viewform" target="_blank">Till ansökan</a>



  </div>
</section>