<section class="hero is-fullheight has-bg-img">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
              <h2 class="title is-1 is-spaced" style="color: white; text-transform: uppercase">
                Business Battle
              </h2>
              
              <h3 class="subtitle is-6" style="color: white;">
                90 sekunder. Din makt. Deras chans.
              </h3>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered">
        <div class="column is-9">
          <p class="has-text-centered">
            Business Battle är ett evenemang där vi vänder på dynamiken mellan studenter och företag. I vanliga fall, är det upp 
            till den arbetssökande att motivera varför företaget ska välja just dig. På Business Battle vänder vi på detta, och 
            det är nu företagets tur, att på 90 sekunder övertyga studenterna varför just de är det bästa valet när man söker jobb. 
            Det är sedan just ni, studenterna, som väljer vilket företag som har genomfört den bästa pitchen och kommer belönas med 
            ett prestiegefyllt pris. Business Battle kommer att bli ett härligt morgonevenemang i C4 den <b>24:e september 9:15-10:00</b>, 
            lagom till att mässan öppnar. De 100 första studenterna som anmäler sig får gratis frukost!
            <br><br>
            <strong>Anmälan ligger ute på orbi nu!</strong>
          </p>
          <br>
          <p class="has-text-centered">
            Vi frågor hör av er till 
            <a href="mailto:alexander.melin@teamdagarna.com">alexander.melin@teamdagarna.com</a> eller
            <a href="mailto:liam.emelin@teamdagarna.com">liam.emelin@teamdagarna.com</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>