@media screen and (min-width: 769px) {
  .has-bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/lunchforelasning.jpg?alt=media&token=d3531d9a-ae69-42a8-a16d-180b0a9cad1d");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media screen and (max-width: 768px) {
  .has-bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/lunchforelasning.jpg?alt=media&token=d3531d9a-ae69-42a8-a16d-180b0a9cad1d");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
