<section class="hero is-fullheight has-bg-img">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
            <h2 class="title is-1 is-spaced" style="text-transform: uppercase; color: white;">
              Om TEAM-dagarna
            </h2>
            <h3 class="subtitle is-6" style="color: white;">
              TEAM (TekniskEkonomiska ArbetsMarknadsdagarna) är en av Sveriges största arbetsmarknadsmässor där 
              ambitiösa studenter möter eftertraktade arbetsgivare. Mässan representeras vanligtvis av cirka 
              75 - 80 utställande företag och attraherar över 4000 studenter. TEAM 2025 kommer genomföras på 
              Linköpings Universitet med huvudsyfte att presentera och sammanföra företag och studenter. 
            </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-halfheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">

      <div class="columns is-centered ">
        <div class="column">
          <h1 class="title is-3 is-spaced">Våreventet</h1>
          <h1 class="title is-5 is-italic">20 maj 2025</h1>
          <p>
            Vi i Dreamteam tycker det börjar bli dags att tagga igång inför TEAM-dagarna 2025 och därför är det äntligen 
            dags för vårt årliga VÅREVENT som äger rum tisdagen den 20:e maj. Under dagen kommer det finnas en hel del roliga 
            aktiviteter och självklart väldigt trevligt häng. För mer information och uppdateringar, följ oss på vår 
            <a href="https://www.instagram.com/teamdagarna/">Instagram</a> och <a href="https://www.facebook.com/TEAMdagarna">Facebook</a>. 
            Kom och häng med oss och tagga igång för TEAM 2025!
          </p>
          <br>
        </div>
        <div class="column">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/vareventet_overview_2025.png?alt=media&token=972b4f24-b753-4f2f-bec3-0f10c8762003" style="max-height: 350px;">
        </div>
      </div>
    </div>
  </div>
</section> 

<section class="hero is-halfheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">

      <div class="columns is-centered ">
        <div class="column">
            <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/IMG_3836-2.jpg?alt=media&token=da6652be-d204-4bfe-b62c-1e171dda9126" style="max-height: 350px;">
        </div>
        <div class="column">
          <h1 class="title is-3 is-spaced">Nolle-P</h1>
          <p>
            Vi från TEAM-dagarna är glada över att få delta i ännu ett Nolle-p. Både nya civilekonomer som I-are kan räkna med att möta 
            oss under er nolleperiod. Vi kommer bjuda på roliga lekar, fina priser och ett gott häng! Ser framemot att träffa er alla!
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</section> 


<section class="hero is-halfheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
    
      <div class="columns is-centered ">
        <div class="column">
          <h1 class="title is-3 is-spaced">Infördagarna</h1>
          <h1 class="title is-5 is-italic">8-19 september 2025</h1>
          <p>
            Infördagarna kommer äga rum veckan innan mässan och under dessa dagar kommer ett flertal spännande event att genomföras. 
            Eventen kan bestå av allt ifrån en lunchföreläsning till case-workshop eller frukostevent. Mer information om eventen 
            under infördagarna kommer komma upp på våra social medier närmare mässan.
          </p>
          <br>
        </div>

        <div class="column">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/infordagarna.jpg?alt=media&token=6f4cc298-2b0a-4751-a914-471e57f4ffa6" style="max-height: 350px;" >
        </div>     
      </div>
    </div>
  </div>
</section> 

<section class="hero is-halfheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">

      <div class="columns is-centered ">
        <div class="column">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/massdagarna.jpg?alt=media&token=6f33b1c3-d46e-4a79-a02c-75a8fbb467d6" style="max-height: 350px;" >
        </div>   
        <div class="column">
          <h1 class="title is-3 is-spaced">TEAM-dagarna
          </h1>
          <h1 class="title is-5 is-italic">23-24 september 2025</h1>

          <p>
            Två fantastiska dagar där du som student får en möjlighet att både få inspiration samt knyta kontakter med arbetslivet. 
            Under mässdagarna har vi ett fullspäckat schema med företagspresentationer, spännande föreläsningar & workshops. 
            Vi erbjuder även chansen att träffa företag vid ett personligt möte och skapa värdefulla kontakter genom att söka kontaktsamtal! 
            Utöver att lära känna företagen kommer det att finnas studentlounger med en hel del kul för dig som student. 
            Följ oss på sociala medier för mer information om mässan!
          </p>
          <br>

          <div class="level is-size-5">
            <div class="level-item has-text-centered"></div>
            <div class="level-item has-text-centered"></div>
            
            <div class="level-item has-text-centered">
              <a href="https://www.linkedin.com/company/teamdagarna/" target="_blank" class="level-item has-text-centered">
                <span class="icon" id="clickable-icon"><i class="fab fa-linkedin-in"></i></span>
              </a>
            </div>

            <div class="level-item has-text-centered">
              <a href="https://www.facebook.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                <span class="icon" id="clickable-icon"><i class="fab fa-facebook-f"></i></span>
              </a>
            </div>
            
            <div class="level-item has-text-centered">
              <a href="https://www.instagram.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                <span class="icon" id="clickable-icon"><i class="fab fa-instagram"></i></span>
              </a>
            </div>

            <div class="level-item has-text-centered"></div>
            <div class="level-item has-text-centered"></div>
          </div>          
          <br>
        </div>
      </div>
    </div>
  </div>
</section> 

<section class="hero is-halfheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      
      <div class="columns is-centered ">

        <div class="column">
          <h1 class="title is-3 is-spaced">
            AW & Bankett
          </h1>
          <h2 class="subtitle is-6">
            AW
          </h2>
          <p>
            Kvällen efter den första mässdagen bjuder TEAM in till After Work på Linköping
            Konsert & Kongress. Under denna härliga kväll bjuds det på buffé, dryck och musik
            där företagsrepresentanter och studenter får chansen att slappna av efter mässan.             
          </p>
          <br>
        
          <h2 class="subtitle is-6">
            Bankett</h2>
          <p>Den 24:e september avslutas TEAM-dagarna med en storslagen bankett på Linköping
            Konsert & Kongress. Kvällen inleds med mingel, följt av trerättersmiddag och
            spännande underhållning. Till sist avslutas denna fantastiska kväll med nattklubb på
            Konsert & Kongress.
          </p>
        </div>
        
        <div class="column">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/bankett2.jpg?alt=media&token=a3f6bfa6-4ede-45f1-8e17-96bdb81af76f" style="max-height: 350px; " >
        </div>
      </div>
    </div>
  </div>
</section>