<section class="hero is-fullheight has-bg-img">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
              <h2 class="title is-1 is-spaced" style="text-transform: uppercase; color:  white;">Om TEAM-dagarna</h2>
              <h3 class="subtitle is-6" style="color: white;">TEAM (TekniskEkonomiska ArbetsMarknadsdagarna) är en av Sveriges största arbetsmarknadsmässor där ambitiösa studenter möter eftertraktade arbetsgivare. 
                Mässan representeras vanligtvis av cirka 50 utställande företag och attraherar över 4000 studenter. TEAM 2022 kommer genomföras på Linköpings Universitet med huvudsyfte att 
                presentera och sammanföra företag och studenter. 
            </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">

      <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Tidslinje.png?alt=media&token=253e3b12-93aa-4adb-b3db-be8f06a8ec37" style="background-size: 100%;">


  </div>
</section>



<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">

      <div class="columns is-centered ">
        <div class="column">
         
            <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/vareventet-2.jpg?alt=media&token=92974098-6605-467a-b02d-7cc7a543d942" style="max-height: 350px;">
        </div>
        <div class="column">
          <h1 class="title is-3 is-spaced">Våreventet</h1>
          <h1 class="title is-5 is-italic">23 maj 2022</h1>
          <p>Vi i kommittén tycker det börjar bli dags att tagga igång inför TEAM-dagarna 2022 och därför är det äntligen dags för vårt 
            årliga VÅREVENT som äger rum måndagen den 23:e maj. Under dagen kommer det finnas en hel del roliga aktiviteter och självklart 
            finns våra sköna fatboys att hänga i. För mer information och uppdateringar, följ oss på vår <a href="https://www.instagram.com/teamdagarna/">Instagram</a> och <a href="https://www.facebook.com/TEAMdagarna">Facebook</a>. 
            Kom och häng med oss och tagga igång för TEAM 2022!
          </p>
          <br>
         
        </div>

      </div>
    </div>
  </div>
</section> 


<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
    
      <div class="columns is-centered ">
        <div class="column">
          <h1 class="title is-3 is-spaced">Infördagarna</h1>
          <h1 class="title is-5 is-italic">19-26 september 2022</h1>
          <p>Infördagarna kommer äga rum veckan innan mässan och under dessa dagar kommer ett flertal spännande event 
            att genomföras. Eventen kan bestå av allt ifrån en lunchföreläsning till case-workshop eller frukostevent. Mer information 
            om eventen under infördagarna kommer komma upp på våra social medier närmare mässan.
          </p>
          <br>
         
        </div>
        <div class="column">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/infordagarna.jpg?alt=media&token=6f4cc298-2b0a-4751-a914-471e57f4ffa6" style="max-height: 350px;" >
        </div>     
      </div>
    </div>
  </div>
</section> 

<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
    

      <div class="columns is-centered ">

        <div class="column">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/massdagarna.jpg?alt=media&token=6f33b1c3-d46e-4a79-a02c-75a8fbb467d6" style="max-height: 350px;" >
        </div>   
        <div class="column">
          <h1 class="title is-3 is-spaced">TEAM-dagarna
          </h1>
          <h1 class="title is-5 is-italic">27-28 september 2022</h1>

          <p>Två fantastiska dagar där du som student får en möjlighet att både få inspiration samt knyta kontakter med arbetslivet. Under mässdagarna har vi ett fullspäckat schema med företagspresentationer, spännande föreläsningar & workshops. Vi erbjuder även chansen att träffa företag vid ett personligt möte och skapa värdefulla kontakter genom att söka kontaktsamtal! 
            Utöver att lära känna företagen kommer det att finnas studentlounger med en hel del kul för dig som student. 
            Följ oss på sociala medier för mer information om mässan!  </p><br>
            <div class="level is-size-5">
              <div class="level-item has-text-centered"></div>
              <div class="level-item has-text-centered"></div>
              <div class="level-item has-text-centered">

              <a href="https://www.linkedin.com/company/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                  <span class="icon" id="clickable-icon"><i class="fab fa-linkedin-in"></i></span>
                              </a>
              </div>
              <div class="level-item has-text-centered">

              <a href="https://www.facebook.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                  <span class="icon" id="clickable-icon"><i class="fab fa-facebook-f"></i></span>
                              </a>

              </div>
              <div class="level-item has-text-centered">

              <a href="https://www.instagram.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                  <span class="icon" id="clickable-icon"><i class="fab fa-instagram"></i></span>
                              </a>
              </div>
              <div class="level-item has-text-centered"></div>
              <div class="level-item has-text-centered"></div>


            </div>          
          <br>
        </div>
         
      </div>
    </div>
  </div>
</section> 

<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      

      <div class="columns is-centered ">

        <div class="column">
          <h1 class="title is-3 is-spaced">AW & Bankett
          </h1>
          <h2 class="subtitle is-6">
            AW</h2>
          <p>Kvällen efter den första mässdagen bjuder TEAM in till After Work på Linköping
            Konsert & Kongress. Under denna härliga kväll bjuds det på buffé, dryck och musik
            där företagsrepresentanter och studentvärdar får chansen att slappna av efter mässan.             
          </p><br>
        
          <h2 class="subtitle is-6">
            Bankett</h2>
          <p>Den 28:e september avslutas TEAM-dagarna med en storslagen bankett på Linköping
            Konsert & Kongress. Kvällen inleds med mingel, följt av trerättersmiddag och
            spännande underhållning. Till sist avslutas denna fantastiska kväll med nattklubb på
            Konsert & Kongress.
          </p>
        </div>
       
      
          <div class="column">
            <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/bankett2.jpg?alt=media&token=a3f6bfa6-4ede-45f1-8e17-96bdb81af76f" style="max-height: 350px; " >
          </div>  
       
      </div>
    </div>
  </div>
</section> 








<!-- 
<section class="section">
  <div class="container">
    <div class="border-btm">
      <h1 class="title is-1">Om TEAM-dagarna</h1>
    </div>


    <div class="columns is-full">
      <div class="column is-full">
        <h5 class="subtitle">TEAM (TekniskEkonomiska ArbetsMarknadsdagarna) är en av Sveriges största arbetsmarknadsmässor där ambitiösa studenter möter eftertraktade arbetsgivare. 
          Mässan representeras vanligtvis av cirka 50 utställande företag och attraherar över 4000 studenter. TEAM 2022 kommer genomföras på Linköpings Universitet med huvudsyfte att 
          presentera och sammanföra företag och studenter. Som utställande företag i år får ni därmed en möjlighet att möta några av Sveriges mest eftertraktade studenter på väg ut i arbetslivet.
        </h5>
      </div> -->


      <!-- <div class="column">
        <div class="">
          <img class="" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/miljoevent.jpg?alt=media&token=b4b7a167-f126-429c-88d7-59039e21bae5">
        </div>

      </div> -->
    <!-- </div>

    <div class="columns is-vcentered is-multiline">
      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-2"> Programbeskrivningar</h1>
        </div>
      </div>
      <div class="column is-full">

        <h2 class="subtitle">Här beskrivs de båda programmen Industriell Ekonomi och Civilekonomi samt de olika inriktningarna som finns inom respektive program.</h2>
      </div>
    </div> -->



<!-- 
    <h1 class="title is-3 is-spaced">Civilingenjörsprogrammet Industriell Ekonomi</h1>
    <h2 class="subtitle is-3">
      Om utbildningen
    </h2>
    <p>Utbildningen Industriell Ekonomi är en femårig civilingenjörsutbildning som ger studenten omfattande kunskap inom både teknik och ekonomi. Kombinationen ger en god helhetssyn vilket 
      resulterar i att den industriella ekonomen i många fall agerar länken mellan tekniker och ekonomer, som vidare förstår organisationens helhet. Utbildningen var den första i sitt slag då 
      den grundades 1969 vid Linköpings Tekniska Högskola och är idag Sveriges mest sökta civilingenjörsutbildning.
    </p>
    <br>
    <p>Industriell ekonomi erbjuder dessutom en internationell inriktning med språken spanska, franska, tyska, japanska och kinesiska. Linköpings universitet är idag unika med att erbjuda dessa 
      inriktningar, vilka inkluderar obligatoriska utlandsstudier.</p>
    <br>
    <h2 class="subtitle is-3">Inriktningar</h2>
    <div class="columns">
      <div class="column is-6">
        <h2 class="subtitle">Tekniska kandidatprofiler</h2>
        <li>Systemteknik</li>
        <li>Maskinteknik</li>
        <li>Bioteknik</li>
        <li>Datateknik</li>
        <li>Energiteknik</li>
      </div>
      <div class="column is-6">
        <h2 class="subtitle">Ekonomiska masterprofiler</h2>
        <li>Digitalisering och management</li>
        <li>Finans</li>
        <li>Industriell marknadsföring</li>
        <li>Kvalitets- och verksamhetsutveckling</li>
        <li>Logistik och supply chain management</li>
        <li>Projekt, innovation och entreprenörskap</li>
        <li>Produktionsledning</li>
        <li>Strategi och styrning</li>
      </div>
    </div>

  </div> -->
<!-- </section> -->

<!-- 
<section class="section">
  <div class="container">
    <h1 class="title is-3 is-spaced">Civilekonomprogrammet</h1>
    <h2 class="subtitle is-3">
Om utbildningen
    </h2>
    <p>Det fyraåriga Civilekonomprogrammet är en utbildning som ger studenten förståelse om hur företag och organisationer fungerar. Vidare får studenten även gedigna ämneskunskaper såväl som en 
      god analytisk förmåga. Programmet ger studenten fundamentala möjligheter att i framtiden leda, organisera och utveckla företag och organisationer.
    </p>
    <br>
    <p>Civilekonomprogrammet erbjuder även fyra internationella språkinriktningar – franska, tyska, engelska och spanska. Utbildningen är riktad mot en yrkesverksamhet med internationell anknytning inom näringsliv 
      och organisationer. De internationella inriktningarna inkluderar minst en utbytestermin på ett internationellt universitet för studenten.</p>
    <br>
    <p>De två första åren lär sig studenten de ekonomiska grunderna och under det tredje året erbjuds möjligheten att välja mellan en företagsekonomisk alternativt en nationalekonomisk inriktning. Under det fjärde året 
      specialiserar sig studenten ytterligare för att kunna tillgodogöra sig den kompetens som dagens specialiserade yrken kräver.</p>
    <br>
    <h2 class="subtitle is-3">Inriktningar</h2>
    <div class="columns">
      <div class="column is-6">
        <h2 class="subtitle">Företagsekonomi</h2>
        <li>Redovisning</li>
        <li>Ekonomistyrning</li>
        <li>Strategi och marknadsföring</li>
        <li>Finansiell ekonomi</li>
      </div>
      <div class="column is-6">
        <h2 class="subtitle">Nationalekonomi</h2>
        <li>Ekonomisk analys</li>
        <li>Finansiell ekonomi</li>
      </div>
    </div>

  </div>
</section> -->