<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> TÄVLING!!! </h1>
          <h2 class="subtitle">Kul att du skaffat appen och hittat länken! Här kan du registrera dig för att vara med i utlottningen av biljetter till Dra't i Spa't!</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div *ngIf="user" class="column is-4 is-12-mobile">
        <figure class="image is-16by9">
          <a [routerLink]="['nydesign']">
            <img class="has ratio" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/CMBild.jpg?alt=media&token=83a4eea2-6855-407c-a861-9a86194fe0e1">
          </a>
        </figure>
        <br>
        <div *ngIf="submitMode && !registered">
          <button class="button is-fullwidth is-primary" (click)="register()" [ngClass]="{'is-loading':loading}" [disabled]="loading">Registrera dig! <span>&nbsp; <i class="fas fa-sign-in-alt"></i></span></button>
        </div>
        <div *ngIf="success && !loading">
          <div class="notification is-success">
            <h1 class="title is-5">Gratulerar!</h1>
            <p>Du är nu anmäld till tävlingen.</p>
          </div>
        </div>
        <div *ngIf="submitMode && registered && !loading">
          <div class="notification is-info">
            <h1 class="title is-5">Du är redan anmäld till tävlingen!</h1>
          </div>
        </div>
        <div *ngIf="notsuccess && !loading">
          <div class="notification is-warning">
            <h1 class="title is-5">Något gick fel!</h1>
            <p>Något gick snett när du skulle anmäla dig till tävlingen. Var vänlig försök igen!</p>
            <br>
            <a class="button is-white" (click)="refresh()">Prova igen!</a>
          </div>
        </div>
      </div>
      <div *ngIf="!user">
        <h1 class="title is-4">Du måste vara inloggad för att kunna registrera dig till tävlingen!</h1>
        <a [routerLink]="['../signin']" class="subtitle is-4 has-text-primary has-text-weight-semibold">
          Klicka här för att logga in!
        </a>
      </div>
    </div>
  </div>
</section>
