<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Sök DreamTEAM 2020 </h1>
          <!-- <h2 class="subtitle">UNDERTITEL</h2> -->
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h5 class="subtitle">Nu söker vi DreamTEAM 2020! Ta chansen att vara med och organisera en av de största (och bästa) arbetsmarknadsmässorna i Sverige!</h5>
        <h5 class="subtitle">Som en del av DreamTEAM lär du känna många nya människor och får möjlighet att knyta kontakter med företag. Det är en rolig erfarenhet som även är en bra merit på ditt CV!</h5>
        <h5 class="subtitle">Ansök redan idag – intervjuer sker löpande. <br>Sista ansökningsdag är söndag 2a februari kl. 23:59.</h5>
<br>
        <!-- <h5 class="subtitle has-text-danger">Ansökan har för i år stängt. </h5> -->
        <a class="button is-primary is-medium " href="https://docs.google.com/forms/d/e/1FAIpQLSfNHX3lBETIB-zpQrveIRi16OKkVWqilK7LzPJigciyi74j9w/viewform?fbclid=IwAR2HOuvRQjaAD5T4j85ylh9Yn6nep05RSHRf63czuB8LRtm2dO-UVCnQ9WM" target="_blank"><span>Till ansökan</span><span class="icon"><i class="fas fa-external-link-alt"></i></span></a>
        <br>
        <br>
        <h5 class="subtitle"><i>Staben 2020 arbetar aktivt med jävighet vilket betyder att din eventuella relation till någon i Staben inte kommer att ha någon inverkan på din rekryteringsprocess.</i></h5>
      </div>
      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-3">Postbeskrivningar</h1>
        </div>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">IT-ansvarig</h1>
        <p>Som IT-ansvarig kommer du vara TEAMs teknikguru. Du kommer ansvara för driften av vår hemsida samt app och leda utvecklingen för att få dessa så snygga som möjligt och implementera nya lösningar. För denna utveckling kommer du ha de senaste ramverken som
          finns på marknaden till hands. Utöver hemsidan kommer du även under mässan se till att alla företag har tillgång till både el och Wi-Fi.
          <br><br> Här finns utrymme för att applicera ditt teknikintresse på ett verkligt projekt som ger nyttiga erfarenheter för framtiden. Vi söker dig som har intresse av programmering och IT, där bra samarbetsförmåga och tidigare erfarenhet av webbprogrammering
          är ett stort plus.
          <br><br> <strong> Notera: </strong>Tidigare erfarenhet av att programmera appar behövs ej!
        </p>

      </div>
      <div class="column is-4">
        <h1 class="title is-4">Bankett- och mingelansvarig</h1>
        <p>Som bankett- och mingelansvarig kommer du ha den stora äran att avsluta mässan med årets fest: TEAM-banketten!
          <br><br> Du sköter planeringen och utförandet av mingelkvällen där studenterna får ytterligare möjlighet att knyta kontakter med företagen. I posten ingår det även att arrangera vissa interna event för att öka sammanhållningen och gemenskapen
          inom DreamTEAM 2020.
          <br><br> I denna kreativa post ser vi gärna en person som kan jobba självständigt och klarar av att hantera stressiga situationer. Har du erfarenhet av att organisera event samtidigt som du har ett öga för detaljer är det ett stort plus.
        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Info- & Miljöansvarig</h1>
        <p>TEAM har sedan 2016 varit ett miljöcertifierat event, vilket är något vi vill fortsätta med. Din utmaning är att fortsatt se till att kriterierna uppfylls och att TEAM gör så lite påverkan på miljön som möjligt. Här finns utrymme att på ett kul
          och nytänkande sätt lyfta fram TEAMs insats för miljön. Att vara målmedveten och ha ett intresse för miljöfrågor är därför ett klart plus!
          <br><br> Posten som info- och miljöansvarig innebär allsidigt arbete inom många delar av mässan. Som informationsansvarig bör du ha intresse och känsla för att uttrycka dig i skrift. Det är viktigt att du är stresstålig och snabbt kan komma
          upp med lösningar på olika problem som kan tänkas uppstå.
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Ansvarig företagsevent (2 personer)</h1>
        <p>Som ansvarig för företagsevent kommer du att anordna event både innan och under mässan. Tillsammans med företagen skapar ni nya och spännande event som uppskattas av studenterna, vilket kan vara allt från företagsbesök till workshops. Bara din
          fantasi sätter gränserna!
          <br><br> I posten som ansvarig för företagsevent ingår även att boka in gästföreläsare till mässan. Har du känsla för trender och kan förutse vad som kommer bli morgondagens hetaste snackis? Är du kreativ och nytänkande samt har ambitionen att
          göra TEAM-dagarna 2020 ännu bättre? Då är du rätt person för posten!
          <br><br> Har du tidigare erfarenhet av att anordna event är det meriterande.

        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Art Director</h1>
        <p>Som Art Director får du möjlighet att använda din kreativitet till att sätta din färgsprakande touch på mässan! Din huvudsakliga uppgift kommer vara att utforma alla TEAM:s grafiska delar, från webb till tryck. I ditt arbete kommer du ha möjlighet
          att förverkliga egna visioner och få utlopp för dina kreativa ådror.
          <br><br> Vi söker dig som besitter känsla för färg & form och brinner för kreativt skapande. Erfarenhet inom designprogram från Adobe-familjen (främst Illustrator, InDesign och Photoshop) är till en stor fördel men intresset för skapande är
          det viktigaste!
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Logistikansvarig</h1>
        <p>Som logistikansvarig koordinerar du all transport kring mässan, vilket bland annat involverar transport av företagens representanter och material som ska till och från mässan. Du kommer även vara ansvarig över TEAMs förråd och inventarier.
          <br><br> Rollen kräver att du kan ha många bollar i luften för att se till att företagen har vad de behöver under mässdagarna. Vi söker dig som är organiserad och har en förmåga att hålla huvudet kallt i pressade situationer.
        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Företags- och kontaktsamtalsansvarig</h1>
        <p>Företagen som deltar i TEAM erbjuds möjligheten att ha kontaktsamtal med studenter. Detta brukar vara ett uppskattat utbyte för både student och företag, då man får chansen att mötas under lugnare omständigheter i enrum. Som företagsansvarig med
          ansvar för kontaktsamtal är du en del av företagsgruppens arbete, men ditt huvudsakliga fokus ligger på att organisera kontaktsamtal.
          <br><br> Denna post ger dig stora möjligheter att nätverka med många företag på ett personligt plan. Här krävs det att man är intresserad av företagsansvaret men har lite extra känsla för struktur och erfarenhet av att arbeta i Excel.
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Mässansvarig</h1>
        <p>Som mässansvarig är du ansvarig för att organisera uppbyggnaden av mässområdet, planera flödet av studenter och placera ut företagens montrar. Vi söker dig som är strukturerad och alltid har koll på läget. När mässan går av stapeln har du det
          yttersta ansvaret för hela mässområdet. Detta betyder att du kommer spela en väldigt central roll och därför bör du besitta egenskaper som stresstålighet och god ledarskapsförmåga. Att ha varit ansvarig för större event tidigare är meriterande.
        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Marknadsföringsansvarig (2 personer)</h1>
        <p>Med kreativitet och nytänkande ska du som marknadsföringsansvarig arbeta för att forma TEAMs ansikte utåt, något som innefattar fria tyglar och möjligheten att verkställa just dina visioner. Som marknadsföringsansvarig ska du ha god samarbetsförmåga,
          vara kreativ, nytänkande och vara väl orienterad kring sociala medier. Foto- och filmintresse är meriterande!</p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Företagsansvarig (5 personer)</h1>
        <p>Är du en social och driven person som tycker om att utmana dig själv? Som företagsansvarig är du ansvarig för kontakt och rekrytering av företag till TEAM! Din huvudsakliga arbetsuppgift är att kontakta nya som gamla, stora som små företag samt
          fungera som en kontaktperson för företagen under året. Här gäller det att vara lyhörd och kunna sälja in mässan för att få in själva kärnan i TEAM, det vill säga företagen.
          <br><br> Du kommer få bra insyn i hur det är att samarbeta med företag, vilket gör att rollen erbjuder många värdefulla erfarenheter för framtida arbeten och stor personlig utveckling. Som företagsansvarig letar vi efter dig som är utåtriktad,
          strukturerad och ihärdig! Säljerfarenheter är meriterande.
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Spons- & Serviceansvarig (2 personer)</h1>
        <p>Som Spons & Serviceansvariga delar ni på ansvaret för TEAMs sponsarbete och för de lunchrum och lounger som kommer finnas på mässan. För att göra loungerna till en upplevelse och skapa en god atmosfär ser vi gärna att du är kreativ och har en
          god känsla för service. När du arbetar med spons får du chansen att tillföra det lilla extra till TEAM-dagarna och skapa mervärde för studenterna. Har du erfarenhet av sälj eller att söka spons är det meriterande!</p>
      </div>



    </div>
    <br>
    <br>
    <!-- <h5 class="subtitle has-text-danger">Ansökan har för i år stängt. </h5> -->
    <a class="button is-primary is-medium " href="https://docs.google.com/forms/d/e/1FAIpQLSfNHX3lBETIB-zpQrveIRi16OKkVWqilK7LzPJigciyi74j9w/viewform?fbclid=IwAR2HOuvRQjaAD5T4j85ylh9Yn6nep05RSHRf63czuB8LRtm2dO-UVCnQ9WM" target="_blank"><span>Till ansökan</span><span class="icon"><i class="fas fa-external-link-alt"></i></span></a>



  </div>
</section>
