<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Sök DreamTEAM 2021 </h1>
          <!-- <h2 class="subtitle">UNDERTITEL</h2> -->
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h5 class="subtitle">Nu söker vi DreamTEAM 2021! Ta chansen att vara med och organisera en av de största (och bästa) arbetsmarknadsmässorna i Sverige!</h5>
        <h5 class="subtitle">Som en del av DreamTEAM är du en av 17 drivna studenter och lär därmed känna många nya människor, samt får möjlighet att knyta kontakter med företag. Det är en rolig erfarenhet som även är mycket meriterande på ditt CV!</h5>
        <h5 class="subtitle">TEAM generellt är tidskrävande oavsett vilken post man blir tilldelad, och därav ska man vara beredd att lägga ner den tid som krävs. Känner du att du kommer kunna balansera dina andra åtaganden med TEAM, kommer vi tillsammans ha jättekul och åstadkomma en fantastisk mässa. Vi ser fram emot att läsa din ansökan! </h5>
        <h5 class="subtitle">Sista ansökningsdag är torsdag 18 februari kl. 23:59.</h5>
<br>
        <!-- <h5 class="subtitle has-text-danger">Ansökan har för i år stängt. </h5> -->
        <button class="button is-primary is-medium " disabled href="https://docs.google.com/forms/d/e/1FAIpQLSc4rYZlNULheQLelEeTFxq6p-bS6omLON7Qa66UNd_hBgd6Fw/viewform?usp=sf_link" target="_blank"><span>Till ansökan</span><span class="icon"><i class="fas fa-external-link-alt"></i></span></button>
        <br>
        <br>
        <h5 class="subtitle"><i>Staben 2021 arbetar aktivt med jävighet vilket betyder att din eventuella relation till någon i Staben inte kommer att ha någon inverkan på din rekryteringsprocess.</i></h5>
      </div>
      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-3">Postbeskrivningar</ h1>
        </div>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">IT-ansvarig (Två personer)</h1>
        <p>Som en av två IT-ansvariga kommer du vara TEAMs teknikguru. Du kommer ansvara för driften av vår hemsida och app, samt leda utvecklingen för att få dem så snygga som möjligt, samt implementera nya lösningar. 
          För denna utveckling kommer du ha de senaste ramverken på marknaden till hands. Utöver detta kommer du även hantera kontakten med Graduateland som är den digitala plattformen mässan kommer att hållas på. Du kommer således att ansvara för hur layouten på plattformen ska konstrueras för att passa TEAM-dagarnas behov.
          <br><br> Här finns utrymme för att applicera ditt teknikintresse på ett verkligt projekt som ger nyttiga erfarenheter för framtiden. Vi söker dig som har intresse av programmering och IT, där bra samarbetsförmåga och tidigare erfarenhet av webbprogrammering är ett stort plus.
          <br><br> 
          <!-- <strong> Notera: </strong>Tidigare erfarenhet av att programmera appar behövs ej! -->
        </p>

      </div>


      <!--<div class="column is-4">
        <h1 class="title is-4">Info- & Miljöansvarig</h1>
        <p>TEAM har sedan 2016 varit ett miljöcertifierat event, vilket är något vi vill fortsätta med. Din utmaning är att fortsatt se till att kriterierna uppfylls och att TEAM gör så lite påverkan på miljön som möjligt. Här finns utrymme att på ett kul
          och nytänkande sätt lyfta fram TEAMs insats för miljön. Att vara målmedveten och ha ett intresse för miljöfrågor är därför ett klart plus!
          <br><br> Posten som info- och miljöansvarig innebär allsidigt arbete inom många delar av mässan. Som informationsansvarig bör du ha intresse och känsla för att uttrycka dig i skrift. Det är viktigt att du är stresstålig och snabbt kan komma
          upp med lösningar på olika problem som kan tänkas uppstå.
        </p>
      </div>-->
      <div class="column is-4">
        <h1 class="title is-4">Ansvarig företagsevent (2 personer)</h1>
        <p>Som ansvarig för företagsevent kommer du att anordna event både innan och under mässan. Under rådande omständigheter kommer stor del av dessa troligtvis ta plats digitalt men rollen innefattar även att ta fram planer för potentiella fysiska event givet att restriktionerna skulle förändras.
           Målet är att skapa nya och spännande event som uppskattas av både företag och studenter, bara din fantasi sätter gränserna! 
          <br><br> I posten som ansvarig för företagsevent ingår även att boka in gästföreläsare till mässan. Har du känsla för trender och kan förutse vad som kommer bli morgondagens hetaste snackis? Är du kreativ och nytänkande samt har ambitionen att
          göra TEAM-dagarna 2021 ännu bättre? Då är du rätt person för posten!
          <br><br> Har du tidigare erfarenhet av att anordna event är det meriterande.
        </p>
      </div>

      <!-- <div class="column is-4">
        <h1 class="title is-4">Logistikansvarig</h1>
        <p>Som logistikansvarig koordinerar du all transport kring mässan, vilket bland annat involverar transport av företagens representanter och material som ska till och från mässan. Du kommer även vara ansvarig över TEAMs förråd och inventarier.
          <br><br> Rollen kräver att du kan ha många bollar i luften för att se till att företagen har vad de behöver under mässdagarna. Vi söker dig som är organiserad och har en förmåga att hålla huvudet kallt i pressade situationer.
        </p>
      </div> -->

      <div class="column is-4">
        <h1 class="title is-4">Företags- och kontaktsamtalsansvarig (2 personer)</h1>
        <p>Företagen som deltar i TEAM erbjuds möjligheten till att hålla kontaktsamtal med studenter. Man får då chansen som student att sitta enskilt med ett företag för ett samtal under lugnare omständigheter, vilket brukar vara uppskattat för både företaget och studenten. Ditt arbete i företagsgruppen kommer att, tillsammans med en till person, forma upplägget och utförandet av dessa kontaktsamtal. 
          Eftersom mässan kommer hållas digitalt i år, kommer ni ha ett starkt samarbete med IT-ansvariga i mässgruppen, samt delvis med företagsevent-ansvariga i event-gruppen.
          <br><br> Som person har du samma lust för att bemöta nya människor och företag som företags-ansvariga, men med mer fokus på nätverkande och relation till de. 
          Det kommer krävas en hel del struktur och excel-arbete för att hålla styr på all information, så du bör ha ett intresse även för detta!
        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Företagsansvarig (5 personer)</h1>
        <p>Som en del av företagsgruppen får man chansen att ta kontakt med företag och knyta an de till TEAM-dagarna. Du bör därför vara bekväm med att prata med nya människor, inte vara rädd för att göra fel eller ge upp det första du gör när du får ett nej i professionella sammanhang. Tidigare säljerfarenhet meriteras men är inte nödvändigt, det viktigaste är att du har en stark vilja och uthållighet då det är vad som kommer behövas för att kontakta en rad olika företag.
           Din huvudsakliga arbetsuppgift är att kontakta nya som gamla, stora som små företag samt fungera som en kontaktperson för företagen under året. Här gäller det att vara lyhörd och kunna sälja in mässan för att få in själva kärnan i TEAM, det vill säga företagen.
          <br><br> Du kommer få bra insyn i hur det är att samarbeta med företag, vilket gör att rollen erbjuder många värdefulla erfarenheter för framtida arbeten och stor personlig utveckling.
        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Marknadsföringsansvarig + info</h1>
        <p>Som marknadsföringsansvarig ansvarar du tillsammans med en kollega att ansvara för TEAMs marknadsföring, digital som fysisk. Du får hjälpa till att forma TEAM och utveckla marknadsföringskonceptet, speciellt i år då mässan är digital. Denna roll innebär fria tyglar och stora möjligheter att genomföra dina visioner. Som marknadsföringsansvarig ska du ha god samarbetsförmåga, vara kreativ, nytänkande och vara väl orienterad kring sociala medier.
           Denna roll som marknadsföringsansvarig har ett huvudfokus på info, och innebär att du främst kommer ansvara för de texter som skrivs till exempelvis evenemang samt info-folders. Som informationsansvarig bör du ha ett intresse och känsla för att uttrycka dig i skrift.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Marknadsföringsansvarig + foto/film</h1>
        <p>Som marknadsföringsansvarig ansvarar du tillsammans med en kollega att ansvara för TEAMs marknadsföring, digital som fysisk. Du får hjälpa till att forma TEAM och utveckla marknadsföringskonceptet, speciellt i år då mässan är digital. Denna roll innebär fria tyglar och stora möjligheter att genomföra dina visioner. Som marknadsföringsansvarig ska du ha god samarbetsförmåga, vara kreativ, nytänkande och vara väl orienterad kring sociala medier. 
           Denna position av marknadsföringsansvarig har ett huvudfokus på bildmaterial som foto och film, då mycket av marknadsföringen i år kommer ske digitalt. Därför är foto- och filmintresse är meriterande!</p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Spons- & miljöansvarig</h1>
        <p>Spons- och miljöansvarig är en av de nya posterna för i år. Posten innefattar dels ett tätt samarbete med TEAM-dagarnas Spons- och logistikansvarig när det kommer till TEAMs sponsorarbete, dels ett övergripande ansvar över TEAMs logistik. 
          Målet med sponsorarbetet är att tillföra det lilla extra till TEAM-dagarnas besökande. Då mässan sker digitalt kan denna post innebära stor flexibilitet, kreativitet och möjlighet att hitta på nya inspirerande koncept för mässans deltagare. 
          En stor dos av nyskapande kring hur man kan arbeta med spons trots restriktionerna är meriterande! Bara fantasin sätter gränsen. TEAM arbetar aktivt för miljön och har varit en miljöcertifierad mässa sedan 2016. Detta är något vi vill fortsätta att arbeta mot även om nu när mässan blir digital. Som ansvarig för miljö kommer du att få fortsätta med TEAMs miljöarbete samt få utveckla detta på den digitala mässan. 
          <br><br>Vi söker dig som är miljömedveten, utåtriktad och kreativ samt taggad på att balansera två viktiga ansvarsområden! 
        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Spons- & logistikansvarig</h1>
        <p>Spons och logistikansvarig är en av de nya posterna för i år. Posten innefattar dels ett tätt samarbete med TEAM-dagarnas Spons- och miljöansvariga när det kommer till TEAMs sponsorarbete, dels ett övergripande ansvar över TEAMs logistik. Målet med sponsarbetet är att tillföra det lilla extra till TEAM-dagarnas besökande. Då mässan sker digitalt kan detta exempelvis innebära att sätta ihop goodiebags som under mässdagen kan skickas ut till besökarna. 
          En stor dos av kreativitet kring hur man kan arbeta med spons trots restriktionerna är meriterande! Bara fantasin sätter gränsen. Logistikansvaret handlar främst om att ansvara över TEAMs förråd och inventarier, samt enklare uppgifter såsom att ta emot paket och eventuella transporter.
          <br><br>Vi söker dig som är miljömedveten, utåtriktad och kreativ samt taggad på att balansera två viktiga ansvarsområden!  </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Bankett och interna event</h1>
        <p>Bankett och interna event
          Som ansvarig för bankett och interna event kommer du ansvara för den, förhoppningsvis, kommande banketten. Banketten är avslutningen på mässan och därmed årets fest, 
          oavsett digital eller fysisk. Dessutom har du ansvar för att anordna och planera för interna event med målsättning att öka sammanhållningen och gemenskapen inom DreamTEAM 2020. 
          I denna kreativa post ser vi gärna en person som kan jobba självständigt och klarar av att hantera stressiga situationer. Har du erfarenhet av att organisera event samtidigt som du har ett öga för detaljer är det ett stort plus. 
        </p>
      </div>

      <div class="column is-4">
        <h1 class="title is-4">Art Director</h1>
        <p>Som Art Director får du möjlighet att använda din kreativitet till att sätta din färgsprakande touch på mässan! Din huvudsakliga uppgift kommer vara att utforma alla TEAM:s grafiska delar, från webb till tryck. I ditt arbete kommer du ha möjlighet
          att förverkliga egna visioner och få utlopp för dina kreativa ådror.
          <br><br> Vi söker dig som besitter känsla för färg & form och brinner för kreativt skapande. Erfarenhet inom designprogram från Adobe-familjen (främst Illustrator, InDesign och Photoshop) är till en stor fördel men intresset för skapande är
          det viktigaste!
        </p>
      </div>

    </div>
    <br>
    <br>
    <!--<h5 class="subtitle has-text-danger">Ansökan har för i år stängt. </h5> -->
    <button class="button is-primary is-medium " disabled href="https://docs.google.com/forms/d/e/1FAIpQLSfNHX3lBETIB-zpQrveIRi16OKkVWqilK7LzPJigciyi74j9w/viewform?fbclid=IwAR2HOuvRQjaAD5T4j85ylh9Yn6nep05RSHRf63czuB8LRtm2dO-UVCnQ9WM" target="_blank"><span>Till ansökan</span><span class="icon"><i class="fas fa-external-link-alt"></i></span></button>



  </div>
</section>
