<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> DreamTEAM 2019 </h1>
          <h2 class="subtitle">Nedan finner du kontaktuppgifter till DreamTEAM</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">

  <div class="container">

    <div class="columns is-centered is-multiline">
      <ng-container *ngFor="let dreamteamer of dreamteam | async">

        <div class="column is-4 is-3-fullhd">

          <div class="card is-teamview  bm--card-equal-height">
            <div class="card-header">
              <!-- <div *ngIf="company.logopath | async as url"> -->
              <img *ngIf="dreamteamer.primaryimagepath | storage | async as photoUrl " [src]="photoUrl ">
              <!-- </div> -->
            </div>
            <div class="card-body ">

              <div class="card-title">{{ dreamteamer.fullname }}
                <a *ngIf="dreamteamer.linkedinurl" href="{{ dreamteamer.linkedinurl }}" target="_blank" class="is-pulled-right is-size-6" data-balloon="Besök på LinkedIn" data-balloon-pos="up">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>

              <div class="card-meta">{{ dreamteamer.position }}
              </div>
              <div class="card-description is-size-7">
                <i class="fas fa-phone"></i>&nbsp;<a href="tel:+46{{ dreamteamer.internationalphone }}">{{ dreamteamer.phone }}</a>
                <br>
                <i class="far fa-envelope"></i>&nbsp;<a href="mailto:{{ dreamteamer.mail }}?subject=Teamdagarna">{{ dreamteamer.mail }}</a>
              </div>
            </div>
          </div>

        </div>
      </ng-container>
    </div>
  </div>

</section>

<!-- <section class="section">
<div class="container">
<div class="columns">
<div class="column is-3">
<div class="card">
<div class="card-image">
<figure class="image is-3by3">
<img src="assets/img/linus.jpg" alt="Placeholder image">
</figure>
</div>
<div class="card-content">
<div class="media">

<div class="media-content">
<p class="title is-4">Linus Gålén</p>
<p class="subtitle is-6">IT-ansvarig</p>
</div>
</div>

<div class="content">
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Phasellus nec iaculis mauris.
<br>
<a href="#">
<i class="fab fa-linkedin-in"></i>
</a>
</div>
</div>
</div>
</div>
<div class="column is-3">
<div class="card">
<div class="card-image">
<figure class="image is-3by3">
<img src="assets/img/linus.jpg" alt="Placeholder image">
</figure>
</div>
<div class="card-content">
<div class="media">

<div class="media-content">
<p class="title is-4">Linus Gålén</p>
<p class="subtitle is-6">IT-ansvarig</p>
</div>
</div>

<div class="content">
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Phasellus nec iaculis mauris.
<br>
<a href="#">
<i class="fab fa-linkedin-in"></i>
</a>
</div>
</div>
</div>
</div>
<div class="column is-3">
<div class="card">
<div class="card-image">
<figure class="image is-3by3">
<img src="assets/img/linus.jpg" alt="Placeholder image">
</figure>
</div>
<div class="card-content">
<div class="media">

<div class="media-content">
<p class="title is-4">Linus Gålén</p>
<p class="subtitle is-6">IT-ansvarig</p>
</div>
</div>

<div class="content">
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Phasellus nec iaculis mauris.
<br>
<a href="#">
<i class="fab fa-linkedin-in"></i>
</a>
</div>
</div>
</div>
</div>
<div class="column is-3">
<div class="card">
<div class="card-image">
<figure class="image is-3by3">
<img src="assets/img/linus.jpg" alt="Placeholder image">
</figure>
</div>
<div class="card-content">
<div class="media">

<div class="media-content">
<p class="title is-4">Linus Gålén</p>
<p class="subtitle is-6">IT-ansvarig</p>
</div>
</div>

<div class="content">
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Phasellus nec iaculis mauris.
<br>
<a href="#">
<i class="fab fa-linkedin-in"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section> -->
