<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Dreamteam 2018 </h1>
          <h2 class="subtitle">Nedan finner du kontaktuppgifter till Dreamteam.</h2> </div>
      </div>
    </div>
  </div>
</div>

<div class="container">



  <br>
  <br>

  <div class="columns is-centered is-multiline">

    <div class="column is-one-fifth" *ngFor="let number of [0,1,2,3,4]">
      <div class="card is-storyworld bm--card-equal-height">
        <div class="card-header">
          <!-- <div *ngIf="company.logopath | async as url"> -->
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/companylogos%2F1534074867899_IMG_1698-2.jpg?alt=media&token=bb838206-4e8e-45b0-9e61-3e8df77f6991">
          <!-- </div> -->
        </div>
        <div class="card-body ">

          <div class="card-title">Linus Gålén <a href="#" class="is-pulled-right is-size-6" data-balloon="Besök på LinkedIn" data-balloon-pos="up"><i class="fab fa-linkedin-in"></i></a></div>

          <div class="card-meta">Head of IT</div>
          <div class="card-description is-size-7">
            <i class="fas fa-phone"></i>&nbsp;<a href="tel:+46722410165">072-241 01 65</a>
            <br>
            <i class="far fa-envelope"></i>&nbsp;<a href="mailto:linus.galen@teamdagarna.com?subject=Teamdagarna">linus.galen@teamdagarna.com</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- <section class="section">
<div class="container">
<div class="columns">
  <div class="column is-3">
<div class="card">
  <div class="card-image">
    <figure class="image is-3by3">
      <img src="assets/img/linus.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">

      <div class="media-content">
        <p class="title is-4">Linus Gålén</p>
        <p class="subtitle is-6">IT-ansvarig</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris.
      <br>
      <a href="#">
      <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</div>
</div>
<div class="column is-3">
<div class="card">
<div class="card-image">
  <figure class="image is-3by3">
    <img src="assets/img/linus.jpg" alt="Placeholder image">
  </figure>
</div>
<div class="card-content">
  <div class="media">

    <div class="media-content">
      <p class="title is-4">Linus Gålén</p>
      <p class="subtitle is-6">IT-ansvarig</p>
    </div>
  </div>

  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus nec iaculis mauris.
    <br>
    <a href="#">
    <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="column is-3">
<div class="card">
<div class="card-image">
  <figure class="image is-3by3">
    <img src="assets/img/linus.jpg" alt="Placeholder image">
  </figure>
</div>
<div class="card-content">
  <div class="media">

    <div class="media-content">
      <p class="title is-4">Linus Gålén</p>
      <p class="subtitle is-6">IT-ansvarig</p>
    </div>
  </div>

  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus nec iaculis mauris.
    <br>
    <a href="#">
    <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</div>
</div>
</div>
<div class="column is-3">
<div class="card">
<div class="card-image">
  <figure class="image is-3by3">
    <img src="assets/img/linus.jpg" alt="Placeholder image">
  </figure>
</div>
<div class="card-content">
  <div class="media">

    <div class="media-content">
      <p class="title is-4">Linus Gålén</p>
      <p class="subtitle is-6">IT-ansvarig</p>
    </div>
  </div>

  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus nec iaculis mauris.
    <br>
    <a href="#">
    <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</div>
</div>
</div>
</div>
</div>
</section> -->