<footer class="footer footer-light">
  <div class="columns is-centered">      
    <div class="column is-9">
      <!-- <div class="container"> -->
      <!-- <nav class="level is-mobile is-size-4">
        <div class="is-centered"> -->
          <!-- <h1 class="logo is-bold" style="font-size: 45px;">TEAM-dagarna</h1> -->
          <nav class="level is-mobile is-size-4">
            <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/TEAM-logga.png?alt=media&token=d1d44724-1013-4583-aa4a-c218932fbb2e" alt="TEAM-dagarna" style="max-height: 70px;" >
          </nav>
            <!-- </div>

      </nav> -->
      
      <div class="columns footer-columns">
        <!-- Column -->

        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              Sociala medier
            </div>
              <div class="level-left is-size-4 social-buttons">
                <a href="https://www.linkedin.com/company/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                    <span class="icon" id="clickable-icon"><i class="fab fa-linkedin-in"></i></span>
                                </a>
                <a href="https://www.facebook.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                    <span class="icon" id="clickable-icon"><i class="fab fa-facebook-f"></i></span>
                                </a>
                <a href="https://www.instagram.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                    <span class="icon" id="clickable-icon"><i class="fab fa-instagram"></i></span>
                                </a>
              </div>
          </div>
        </div>



        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              Student
            </div>
            <ul class="link-list">
              <li><a [routerLink]="['companies']">Företagen 2022</a></li>

              <li><a [routerLink]="['events']">Event</a></li>
              
              <li><a [routerLink]="['masskarta']">Mässkarta</a></li>
              <li><a [routerLink]="['pusseljakten']">Pusseljakten</a></li>
              <li><a [routerLink]="['sokvard']">Sök värd</a></li> 
              <li><a [routerLink]="['interview']">Kontaktsamtal</a></li>
              <li><a [routerLink]="['blogposts']">TEAM-bloggen</a></li>
              <!--<li><a [routerLink]="['sokdreamteam']">Sök DreamTEAM 2021</a></li> -->
            </ul>
          </div>
        </div>
        <!-- Column -->
        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              Företag
            </div>
            <ul class="link-list">
              <!-- <li><a [routerLink]="['about']">Om TEAM-dagarna</a></li> -->
              <li><a [routerLink]="['weoffer']">Erbjudande</a></li>

              <li><a [routerLink]="['faq']">FAQ</a></li>
              <li><a [routerLink]="['educations']">Om utbildningarna</a></li>
              <!-- <li><a [routerLink]="['companyapplication']">Intresseanmälan</a></li> -->

              <li><a [routerLink]="['find']">Hitta hit</a></li>
              <li><a [routerLink]="['sponsors']">Sponsorer</a></li>


              <!-- <li><a href="#">Företagslogin</a></li> -->
            </ul>
          </div>
        </div>
        <!-- Column -->
        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              Om oss
            </div>
            <ul class="link-list">
              <li><a [routerLink]="['dreamteam']">Kontakt</a></li>
              <li><a [routerLink]="['about']">Om TEAM-dagarna</a></li>
              <!-- <li><a [routerLink]="['hallbarhet']">Hållbarhet</a></li> -->
              <li><a [routerLink]="['integritetspolicy']">Integritetspolicy</a></li>
              <!-- <li><a href="#">Hållbarhet</a></li> -->
            </ul>
          </div>
        </div>
        <!-- Column -->
        <!-- <div class="column is-half-mobile">
          <div class="level-left is-size-4 social-buttons">
            <a href="https://www.linkedin.com/company/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                <span class="icon" id="clickable-icon"><i class="fab fa-linkedin-in"></i></span>
                            </a>
            <a href="https://www.facebook.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                <span class="icon" id="clickable-icon"><i class="fab fa-facebook-f"></i></span>
                            </a>
            <a href="https://www.instagram.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                <span class="icon" id="clickable-icon"><i class="fab fa-instagram"></i></span>
                            </a>
          </div> -->
          <!-- <div class="copyright">
            <br>
            <span class="is-pulled-right">Utvecklad och underhålls med <i class="fa fa-heart has-text" style="color: #e77da9;"></i> av <span class="madewithlove"></span>.</span>
          </div> 
        </div> -->

      </div>

      <!-- </div> -->
    </div>
  </div>
  <div class="columns is-centered footer-copyright">
    <div class="column has-text-centered"><span>Utvecklad och underhålls med <i class="fa fa-heart has-text" style="color: #e77da9;"></i> av <span class="madewithlove"></span>.</span>
    <br>
      &copy; TEAM-dagarna 2023</div>
  </div>


</footer>

<img *ngIf="auth.canEdit(user)" class="minion" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/smurfis_126310613.gif?alt=media&token=dc158915-64e8-4138-a576-03fbaad976be" alt="">
