<footer class="footer footer-light">
  <div class="columns is-centered">      
    <div class="column is-9">
      <nav class="level is-mobile is-size-4">
        <img 
          src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/teamlogos%2FTEAM-logo-2025.png?alt=media&token=d5ca3a7b-0736-46ff-8e2a-13813ec884bd" 
          alt="TEAM-dagarna" 
          style="max-height: 100px;">
      </nav>

      <div class="columns footer-columns">
        
        <!-- Column: Sociala medier -->
        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              Sociala medier
            </div>
            <div class="level-left is-size-4 social-buttons">
              <a href="https://www.linkedin.com/company/teamdagarna/" target="_blank" class="level-item has-text-centered">
                <span class="icon" id="clickable-icon"><i class="fab fa-linkedin-in"></i></span>
              </a>
              <a href="https://www.facebook.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                <span class="icon" id="clickable-icon"><i class="fab fa-facebook-f"></i></span>
              </a>
              <a href="https://www.instagram.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                <span class="icon" id="clickable-icon"><i class="fab fa-instagram"></i></span>
              </a>
              <a href="https://open.spotify.com/episode/4wYGcJrEd2NljVdoYRuquC?si=ce1ae45c91494220&nd=1" target="_blank" class="level-item has-text-centered">
                <span class="icon" id="clickable-icon"><i class="fab fa-spotify"></i></span>
              </a>
            </div>
          </div>
        </div>

        <!-- Column: Studenter -->
        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              För studenter
            </div>
            <ul class="link-list">
              <li><a [routerLink]="['sokvard']">SÖK VÄRD 2025</a></li> 
              <li><a [routerLink]="['companies']">Företagen</a></li>
              <li><a [routerLink]="['events']">Event</a></li>
              <li><a [routerLink]="['jobcatalogue']">Jobbmöjligheter</a></li>
              <li><a [routerLink]="['framtidschansen']">Framtidschansen</a></li>
              <li><a [routerLink]="['exsiteccompetition']">Casetävling med Exsitec</a></li>
              <!--<li><a [routerLink]="['masskarta']">Mässkarta</a></li>
              <li><a [routerLink]="['fairschedule']">Mässchema</a></li>-->
              <li><a [routerLink]="['interviewapplication']">Kontaktsamtal</a></li>
              <!--<li><a [routerLink]="['sokdreamteam']">Sök DreamTEAM 2026</a></li> -->
            </ul>
          </div>
        </div>

        <!-- Column: Företag -->
        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              För företag
            </div>
            <ul class="link-list">
              <li><a [routerLink]="['weoffer']">Erbjudande</a></li>
              <li><a [routerLink]="['productportfolio']">Produktportfölj</a></li>
              <li><a [routerLink]="['educations']">Om utbildningarna</a></li>
              <li><a [routerLink]="['find']">Hitta hit</a></li>
              <li><a [routerLink]="['faq']">FAQ</a></li>
              <li><a [routerLink]="['pre-registration']">Intresseanmälan</a></li>
              <li><a [routerLink]="['sponsors']">Sponsorer</a></li>
              <!-- <li><a href="#">Företagslogin</a></li> -->
            </ul>
          </div>
        </div>

        <!-- Column: Om oss -->
        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              Om oss
            </div>
            <ul class="link-list">
              <li><a [routerLink]="['dreamteam']">Kontakt</a></li>
              <li><a [routerLink]="['about']">Om TEAM-dagarna</a></li>
              <li><a [routerLink]="['hallbarhet']">Hållbarhet</a></li>
              <li><a [routerLink]="['integritetspolicy']">Integritetspolicy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-centered footer-copyright">
    <div class="column has-text-centered">
      <span>
        Utvecklad och underhålls med <i class="fa fa-heart has-text" style="color: #e77da9;"></i> av DreamTEAM<br>
        Med ovärderlig hjälp från Albin Wiberg
      </span>
      <br>
      &copy; TEAM-dagarna 2025
    </div>
  </div>
</footer>

<img *ngIf="auth.canEdit(user)" class="minion" 
  src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/smurfis_126310613.gif?alt=media&token=dc158915-64e8-4138-a576-03fbaad976be" alt="">
