<footer class="footer footer-light">
  <div class="columns is-centered">
    <div class="column is-7">


      <!-- <div class="container"> -->
      <nav class="level is-mobile is-size-4">
        <div class="level-left">
          <h1 class="title is-2">Teamdagarna</h1>
        </div>

      </nav>

      <div class="columns footer-columns">
        <!-- Column -->
        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              För studenter
            </div>
            <ul class="link-list">
              <li><a [routerLink]="['companies']">Företag 2018</a></li>
              <li><a [routerLink]="['events']">Event</a></li>
              <li><a [routerLink]="['companymap']">Mässkarta</a></li>
              <li><a [routerLink]="['sokvard']">Sök värd</a></li>
              <li><a [routerLink]="['interview']">Sök kontaktsamtal</a></li>
              <!-- <li><a href="#">Sök kontaktsamtal</a></li>
              <li><a href="#">Evenemang</a></li>
              <li><a href="#">Mässjakten</a></li> -->
            </ul>
          </div>
        </div>
        <!-- Column -->
        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              För företag
            </div>
            <ul class="link-list">
              <li><a [routerLink]="['weoffer']">Vårt erbjudande</a></li>
              <li><a [routerLink]="['faq']">FAQ</a></li>
              <!-- <li><a href="#">Företagslogin</a></li> -->
              <li><a href="https://goo.gl/maps/mdw8wQ3hwvC2" target="_blank">Hitta hit <i class="fas fa-map-marker-alt"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- Column -->
        <div class="column is-half-mobile">
          <div class="footer-column">
            <div class="footer-header title is-5 has-text-weight-semibold">
              Om oss
            </div>
            <ul class="link-list">
              <li><a [routerLink]="['dreamteam']">Kontakt</a></li>
              <li><a [routerLink]="['about']">Om dagarna</a></li>
              <!-- <li><a href="#">Hållbarhet</a></li> -->
            </ul>
          </div>
        </div>
        <!-- Column -->
        <div class="column is-half-mobile">
          <div class="level-left is-size-4 social-buttons">
            <a href="https://www.linkedin.com/company/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                <span class="icon"><i class="fab fa-linkedin-in"></i></span>
                            </a>
            <a href="https://www.facebook.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                <span class="icon"><i class="fab fa-facebook-f"></i></span>
                            </a>
            <a href="https://www.instagram.com/teamdagarna/" class="level-item has-text-centered">
                                <span class="icon"><i class="fab fa-instagram"></i></span>
                            </a>
            <a href="https://www.snapchat.com/add/teamdagarna" target="_blank" class="level-item has-text-centered">
                                <span class="icon"><i class="fab fa-snapchat-ghost"></i></span>
                            </a>
          </div>
          <div class="copyright">
            <br>
            <span class="is-pulled-right">Utvecklad och underhålls med <i class="fa fa-heart has-text-danger"></i> av <span class="madewithlove"></span>.</span>
          </div>
        </div>

      </div>

      <!-- </div> -->
    </div>
  </div>
  <div class="columns is-centered footer-copyright">
    <div class="column has-text-centered">&copy; Teamdagarna 2018</div>
  </div>


</footer>


<img *ngIf="auth.canEdit(user)" class="minion" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/minions.png?alt=media&token=2f8f24fb-35a8-4dd8-84bc-cbdf91448c95" alt="">