<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Event </h1>
          <h2 class="subtitle">Både innan och under mässan anordnar vi ett antal event som står öppet för alla studenter. Nedan kan du hitta dessa event, läsa mer och anmäla dig. </h2> </div>
      </div>
    </div>
  </div>
</div>

<section class="section" *ngIf="selectedEvent">
  <div class="container">

    <div class="columns is-centered">
      <div class="column is-8 is-12-mobile">
        <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
          <ul>
            <li><a [routerLink]="['../../events']"><span><i class="far fa-calendar-alt"></i></span> &nbsp;Evenemang</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ selectedEvent.title }}</a></li>
          </ul>
        </nav>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <p><i class="far fa-calendar-alt"></i>&nbsp;{{ selectedEvent.eventstarts.toDate() | date:'dd MMM' }}</p>
            </div>
            <div class="level-item">
              <p><i class="far fa-clock"></i>&nbsp;{{ selectedEvent.eventstarts.toDate() | date:'HH:mm' }} - {{ selectedEvent.eventends.toDate() | date:'HH:mm' }}</p>
            </div>
            <div class="level-item">
              <p><i class="fas fa-map-marker-alt"></i>&nbsp;{{ selectedEvent.location }}</p>
            </div>
            <div class="level-item">
              <p *ngIf="selectedEvent.maxattendance > 0"><i class="fas fa-users"></i>&nbsp;{{ selectedEvent.maxattendance }} <span *ngIf="selectedEvent.signon && auth.canEdit(user)">({{ selectedEvent.maxattendance - numberofsignups}} platser kvar)</span></p>
            </div>
            <div class="level-item" *ngIf="selectedEvent.foodportions > 0">
              <span *ngIf="eventid != 'yFsyUZi4bNFsOjQMIFJo'"><p><i class="fas fa-utensils"></i>&nbsp;{{ selectedEvent.foodportions }} <span *ngIf="selectedEvent.signon">första anmälda får mat</span></p></span>
              <span *ngIf="eventid == 'yFsyUZi4bNFsOjQMIFJo'"><p><i class="fas fa-utensils"></i>&nbsp; Studenter som anmäler sig innan den 12/9 och får plats på eventet får mat.</p></span>
            </div>
          </div>
        </nav>
        <p *ngIf="selectedEvent.signonends.toDate() < today && signon"><em>Anmälan stänger {{ selectedEvent.signonends.toDate() | date:'dd MMM HH:mm' }}</em></p>
        <p *ngIf="selectedEvent.signonstarts.toDate() > today && signon"><em>Anmälan öppnar {{ selectedEvent.signonstarts.toDate() | date:'dd MMM HH:mm' }}</em></p>
        <br>


        <h1 class="title is-2 is-spaced">{{ selectedEvent.title}}</h1>
        <h2 class="subtitle is-4" *ngIf="selectedEvent.ingress">{{ selectedEvent.ingress }}</h2>
        <div class="columns">
          <div class="column is-4 is-12-mobile">
            <div class="event-item is-spaced">
              <div class="event-cover">
                <div class="event-image" *ngIf="selectedEvent.imagepath | storage | async as photoUrl " [ngStyle]="{ 'background-image': 'url(' + photoUrl + ')'}"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="content is-medium">
          <p style="white-space: pre-wrap;">{{ selectedEvent.about }}</p>

        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <p><i class="far fa-calendar-alt"></i>&nbsp;{{ selectedEvent.eventstarts.toDate() | date:'dd MMM' }}</p>
            </div>
            <div class="level-item">
              <p><i class="far fa-clock"></i>&nbsp;{{ selectedEvent.eventstarts.toDate() | date:'HH:mm' }} - {{ selectedEvent.eventends.toDate() | date:'HH:mm' }}</p>
            </div>
            <div class="level-item">
              <p><i class="fas fa-map-marker-alt"></i>&nbsp;{{ selectedEvent.location }}</p>
            </div>
            <div class="level-item">
              <p *ngIf="selectedEvent.maxattendance > 0"><i class="fas fa-users"></i>&nbsp;{{ selectedEvent.maxattendance }} <span *ngIf="selectedEvent.signon && auth.canEdit(user)">({{ selectedEvent.maxattendance - numberofsignups}} platser kvar)</span></p>
            </div>
            <div class="level-item" *ngIf="selectedEvent.foodportions > 0">
              <span *ngIf="eventid != 'yFsyUZi4bNFsOjQMIFJo'"><p><i class="fas fa-utensils"></i>&nbsp;{{ selectedEvent.foodportions }} <span *ngIf="selectedEvent.signon">första anmälda får mat</span></p></span>
              <span *ngIf="eventid == 'yFsyUZi4bNFsOjQMIFJo'"><p><i class="fas fa-utensils"></i>&nbsp; Studenter som anmäler sig innan den 12/9 och får plats på eventet får mat.</p></span>
            </div>
          </div>
        </nav>
        <ng-container *ngIf="selectedEvent.signon">
          <p *ngIf="selectedEvent.signonends.toDate() > today"><em>Anmälan stänger {{ selectedEvent.signonends.toDate() | date:'dd MMM HH:mm' }}</em></p>
          <p *ngIf="selectedEvent.signoffends.toDate() && selectedEvent.signoffends.toDate() > today"><em>Avamälan stänger {{ selectedEvent.signoffends.toDate() | date:'dd MMM HH:mm' }}</em></p>
          <p *ngIf="selectedEvent.signonstarts.toDate() > today"><em>Anmälan öppnar {{ selectedEvent.signonstarts.toDate() | date:'dd MMM HH:mm' }}</em></p>
          <br>
          <ng-container *ngIf="user">
            <ng-container *ngIf="attended && !confirmDelete && selectedEvent.signonstarts.toDate() < today && selectedEvent.signonends.toDate() > today">
              <p class="has-text-primary" *ngIf="attendedDoc.waitinglist && !confirmDelete">Du står som reserv.</p>
              <p class="has-text-primary" *ngIf="!attendedDoc.waitinglist && !confirmDelete">Du är anmäld (Garanterad mat: <span *ngIf="attendedDoc.getsfood">Ja</span><span *ngIf="!attendedDoc.getsfood">Nej</span>).</p>
              <br>
              <a class="button is-primary is-outlined" (click)="delete()">
            <span>Avanmäl dig</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </a>
            </ng-container>
            <ng-container *ngIf="!attended && selectedEvent.signonstarts.toDate() < today && selectedEvent.signonends.toDate() > today && loaded">

              <a class="button is-primary" [ngClass]="{'is-loading': loading}" (click)="attend() " *ngIf="(selectedEvent.maxattendance - numberofsignups)> 0 && loaded">Anmäl dig*</a>

              <p class="has-text-danger" *ngIf="(selectedEvent.maxattendance - numberofsignups) < 1">Eventet är för tillfället fullt, men du kan sätta upp dig på reservlistan. Kom ihåg att om du sätter upp dig på reservlistan så är det du själv som måste hålla koll på om du fått en plats eller inte. Detta ser du lätt under din profil.</p>
              <br>
              <p class="has-text-danger" *ngIf="(selectedEvent.maxattendance - numberofsignups) < 1">Just nu är det {{numberofreserves}} stycken reserver på listan.</p>
              <br>
              <a class="button is-primary" [ngClass]="{'is-loading': loading}" (click)="reserv()" *ngIf="(selectedEvent.maxattendance - numberofsignups) < 1">Sätt upp dig som reserv</a>
            </ng-container>
          </ng-container>
          <br>
          <p class="has-text-danger" *ngIf="attenderror">Något gick fel och du Kunde inte anmäla dig. Är du redan anmäld?</p>
          <p class="has-text-primary" *ngIf="confirmDelete">Du är nu borttagen.</p>
          <p class="has-text-primary" *ngIf="confirmReserv">Du är nu satt på reservlistan. Följ om du fått en plats under din profil.</p>
        </ng-container>
        <p *ngIf="!user && selectedEvent.signon"><em>Du måste vara inloggad för att kunna anmäla dig.</em></p>
        <br>
        <br>
        <p class="subtitle is-6">*Vi kan endast garantera specialkost om anmälan kommer in 4 dagar innan. Om du anmält dig på ett event och inte dycker upp gäller samma policy som I-Sektionen och ELIN tillämpar. Läs mer på din respektive sektions hemsida.</p>
      </div>
    </div>
  </div>
</section>
