<div class="hero" id="title-hero">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        <div class="columns is-centered ">
          <div class="column is-9">
                <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Om utbildningarna</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        
                <a href="http://www.isektionen.se" target="_blank ">
                      <img style="max-height: 90px;" alt="Industriell Ekonomi " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/I-logga.png?alt=media&token=001ebdd1-7045-44ae-bb9a-12acc77b11fc">
                    </a><br>
  
        <h1 class="title is-3 is-spaced">Civilingenjörsprogrammet Industriell Ekonomi</h1><br>
  
        <div class="columns is-centered ">
          <div class="column">
            <h2 class="subtitle is-3">
              Om utbildningen
            </h2>
            <p>Utbildningen Industriell Ekonomi är en femårig civilingenjörsutbildning som ger studenten omfattande kunskap inom både teknik och ekonomi. Kombinationen ger en god helhetssyn vilket 
              resulterar i att den industriella ekonomen i många fall agerar länken mellan tekniker och ekonomer, som vidare förstår organisationens helhet. Utbildningen var den första i sitt slag då 
              den grundades 1969 vid Linköpings Tekniska Högskola och är idag Sveriges mest sökta civilingenjörsutbildning.
            </p>
            <br>
            <p>Industriell ekonomi erbjuder dessutom en internationell inriktning med språken spanska, franska, tyska, japanska och kinesiska. Linköpings universitet är idag unika med att erbjuda dessa 
              inriktningar, vilka inkluderar obligatoriska utlandsstudier.</p>
            <br>
          </div>
  
          <div class="column">
            <h2 class="subtitle is-3">Inriktningar</h2>
            <div class="columns">
              <div class="column is-6">
                <h2 class="subtitle">Tekniska kandidatprofiler</h2>
                <div class="profileTextOrientation">
                <li>Systemteknik</li>
                <li>Maskinteknik</li>
                <li>Bioteknik</li>
                <li>Datateknik</li>
                <li>Energiteknik</li>
                </div>
              </div>
              <div class="column is-6">
                <h2 class="subtitle">Ekonomiska masterprofiler</h2>
                <div class="profileTextRightMargin">
                <li>Digital affärsutveckling</li>
                <li>Digitalisering och management</li>
                <li>Industriell marknadsföring</li>
                <li>Kvalitets- och verksamhetsutveckling</li>
                <li>Logistik och supply chain management</li>
                <li>Projekt, innovation och entreprenörskap</li>
                <li>Produktionsledning</li>
                <li>Strategi och styrning</li>
                <li>Finans</li>
                </div>
              </div>
            </div>
          </div>     
        </div>
      </div>
    </div>
  
  </section> 
  
  
  
  
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        
        <a href="https://elin.se" target="_blank ">
          <img style="max-height: 90px;" alt="Elin " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/ELIN%20(1).png?alt=media&token=5b5b2bc8-0e7f-40ce-bc80-dc5312fe7c1d">
        </a><br>
  
        <h1 class="title is-3 is-spaced">Civilekonomprogrammet</h1><br>
  
        <div class="columns is-centered ">
          <div class="column">
            <h2 class="subtitle is-3">
            Om utbildningen
                </h2>
                <p>Det fyraåriga Civilekonomprogrammet är en utbildning som ger studenten förståelse om hur företag och organisationer fungerar. Vidare får studenten även gedigna ämneskunskaper såväl som en 
                  god analytisk förmåga. Programmet ger studenten fundamentala möjligheter att i framtiden leda, organisera och utveckla företag och organisationer.
                </p>
                <br>
                <p>Civilekonomprogrammet erbjuder även fyra internationella språkinriktningar – franska, tyska, engelska och spanska. Utbildningen är riktad mot en yrkesverksamhet med internationell anknytning inom näringsliv 
                  och organisationer. De internationella inriktningarna inkluderar minst en utbytestermin på ett internationellt universitet för studenten.</p>
                <br>
                <p>De två första åren lär sig studenten de ekonomiska grunderna och under det tredje året erbjuds möjligheten att välja mellan en företagsekonomisk alternativt en nationalekonomisk inriktning. Under det fjärde året 
                  specialiserar sig studenten ytterligare för att kunna tillgodogöra sig den kompetens som dagens specialiserade yrken kräver.</p>
                <br>
          </div>
  
          <div class="column">
            <h2 class="subtitle is-3">Inriktningar</h2>
            <div class="columns">
              <div class="column is-6">
                <h2 class="subtitle">Företagsekonomi</h2>
                <div class="profileTextOrientation">
                <li>Redovisning</li>
                <li>Ekonomistyrning</li>
                <li>Strategi och marknadsföring</li>
                <li>Finansiell ekonomi</li>
                </div>
              </div>
              <div class="column is-6 profileTextOrientation">
                <h2 class="subtitle">Nationalekonomi</h2>
                <div style="text-align: left; margin-right: 50px;">
                <li>Ekonomisk analys</li>
                <li>Finansiell ekonomi</li>
                </div>
              </div>
            </div>
        
          </div>     
        </div>
  
      </div>
    </div>
  
  </section> 