<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered">
        <div class="column is-7">
          <h1 class="title is-2 is-spaced" style="text-transform: uppercase">Boka CV-granskning</h1>
          <br>
  
          <p class="has-text-centered">
            <a href="https://unikstudent.se/">Unik Student</a> hjälper dig med gratis CV-granskning under TEAM-dagarna. 
            De erbjuder 15-minutersslottar under hela onsdagen där du kommer att få feedback på ditt CV och tips på hur 
            du kan förbättra det inför jobbsansökningar och intervjuer. Endast en tid per person är tillåtet. Vid frågor 
            hör av dig till <a href="mailto:edvin.jakabffy@teamdagarna.com">edvin.jakabffy@teamdagarna.com</a>
            eller <a href="mailto:nellie.brelin@teamdagarna.com">nellie.brelin@teamdagarna.com</a>.
          </p>
          <br>
          <p class="has-text-centered">
            Bokningen öppnar här onsdagen den <b>17:e september kl. 12:00.</b>
            <br><br>
            Först till kvarn gäller!!!
          </p>

          <!-- <h2><strong>Så behandlar vi dina uppgifter</strong></h2>
          <p> För att hantera din bokning behöver vi samla in ditt förnamn, efternamn och e-postadress. Uppgifterna 
            används endast för CV-granskningen och raderas efter eventet. Har du frågor kring detta hör av dig till
            <a href="mailto:itteamdagarna@gmail.com">itteamdagarna@gmail.com</a>. 
          </p>
          <br> -->

          <!-- <div
            class="calendly-inline-widget"
            data-url="https://calendly.com/itteamdagarna/cv-granskning-av-unik-student?primary_color=ffa5ce">
          </div> -->

          <div class="column" style="margin-top: 20px;">
            <a href="https://unikstudent.se/" target="_blank" rel="noopener noreferrer">
              <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%202025%2Funik_student_logo.png?alt=media&token=e5e453a9-8245-4599-b215-095ca5c629ca" style="max-height: 200px;">
            </a>
          </div>
        </div>   
      </div>  
    </div>  
  </div>
</div>