nav {
  opacity: 0.9;
  // height: 70px;
  font-family: "Raleway";
  width: 100vw;
  height: 10vh;
  // margin-top: -0.5%;
}

.navbar-burger {
  color: #e77da9;
}

[hidden] {
  display: none !important;
}

// #space {
//   padding-top: 30px;
// }

// .navbar-link {
//   font-family: "PT Sans", sans-serif;
//   color: #463853;
// }

// .navbar-link :hover {
//   color: #e77da9;
// }

// .navbar-item {
//   font-family: "PT Sans", sans-serif;
//   color: #463853;
// }
