nav {
  opacity: 0.9;
  // height: 70px;
  font-family: "Raleway";
  width: 100vw;
  height: 10vh;
  // margin-top: -0.5%;
}

.navbar-burger {
  color: #e77da9;
}

[hidden] {
  display: none !important;
}

#navbar-pink {
  color: #463853;

  &:hover {
    color: #e77da9;
  }
}

#pink-arrow {
  color: #e77da9;
}

#navburger {
  color: #e77da9;
}

img {
  padding-bottom: 10px;
}
