<nav id ="navbar" class="navbar is-fixed-top is-spaced">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['']">
      <img 
        src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/teamlogos%2FTEAM-logo-2025.png?alt=media&token=d5ca3a7b-0736-46ff-8e2a-13813ec884bd"
        alt="TEAM-dagarna"
        style="max-height: 60px;">
    </a>

    <a role="button" class="navbar-burger" id="navburger" aria-label="menu" aria-expanded="false" 
    data-target="navbarBasicExample" (click)="toggleMenu()" [ngClass]="{'is-active': isMenuActive}">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': isMenuActive}">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable" id="pink-arrow">
        <a class="navbar-link" id="navbar-pink">
          Student
        </a> 
        <div class="navbar-dropdown is-boxed" id="pink-arrow">
          <a class="navbar-item" [routerLink]="['jobcatalogue']" id="navbar-pink" (click)="toggleMenu()">
            Jobbmöjligheter
          </a>
          <a class="navbar-item" [routerLink]="['framtidschansen']" id="navbar-pink" (click)="toggleMenu()">
            Framtidschansen
          </a>
          <!--<a class="navbar-item" [routerLink]="['casetavling']" id="navbar-pink" (click)="toggleMenu()">
            Casetävling med Exsitec
          </a>-->
          <a class="navbar-item" [routerLink]="['businessbattle']" id="navbar-pink" (click)="toggleMenu()">
            Business Battle
          </a>
          <!--<a class="navbar-item" [routerLink]="['leaderboard']">
            Ledartavla
          </a>-->
          <!--<a class="navbar-item mobileLink is-disabled" [routerLink]="['foretagsskyltar']">
            Företagsskyltar
          </a>-->
          <hr class="navbar-divider">
          <a class="navbar-item mobileLink is-disabled" [routerLink]="['interviewapplication']" id="navbar-pink" (click)="toggleMenu()">
            Kontaktsamtal
          </a>
          <a class="navbar-item mobileLink is-disabled" [routerLink]="['cv-review']" id="navbar-pink" (click)="toggleMenu()">
            CV-granskning
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" id="navbar-pink">
          Företag
        </a>
        <div class="navbar-dropdown is-boxed" >
          <a class="navbar-item" [routerLink]="['weoffer']"  id="navbar-pink" (click)="toggleMenu()">
            Erbjudande
          </a>
          <a class="navbar-item" [routerLink]="['productportfolio']"  id="navbar-pink" (click)="toggleMenu()">
            Produktportfölj
          </a> 
          <a class="navbar-item" [routerLink]="['educations']"  id="navbar-pink" (click)="toggleMenu()">
            Om utbildningarna
          </a>
          <a class="navbar-item" [routerLink]="['find']" id="navbar-pink" (click)="toggleMenu()">
            Hitta hit
          </a>
          <a class="navbar-item" [routerLink]="['faq']"  id="navbar-pink" (click)="toggleMenu()">
            FAQ
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" [routerLink]="['pre-registration']"  id="navbar-pink" (click)="toggleMenu()">
            Intresseanmälan
          </a>
          <!--<a class="navbar-item" [routerLink]="['companysignin']" id="navbar-pink" (click)="toggleMenu()">
            Login gästföretag
          </a>-->
          <!--<a class="navbar-item" [routerLink]="['companyguest']">
            Företagssida
          </a>-->
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"  id="navbar-pink">
          Mässan
        </a>
        <div class="navbar-dropdown is-boxed" >
          <a class="navbar-item" [routerLink]="['companies']" id="navbar-pink" (click)="toggleMenu()">
            Företagen 2025
          </a>
          <!-- <a class="navbar-item" [routerLink]="['events']" id="navbar-pink" (click)="toggleMenu()">
            Event
          </a> -->
          <!-- <a class="navbar-item" [routerLink]="['infordagarna']" id="navbar-pink" (click)="toggleMenu()">
            Infördagarna
          </a> -->
          <!-- <a class="navbar-item" [routerLink]="['fairschedule']" id="navbar-pink" (click)="toggleMenu()">
            Mässchema
          </a> -->
          <!-- <a class="navbar-item" [routerLink]="['fairmap']" id="navbar-pink" (click)="toggleMenu()">
            Mässkarta
          </a> -->
          <a class="navbar-item" [routerLink]="['sponsors']" id="navbar-pink" (click)="toggleMenu()">
            Sponsorer
          </a>
        </div>
      </div>

      <a class="navbar-item mobileLink" [routerLink]="['hallbarhet']" id="navbar-pink" (click)="toggleMenu()">
        Hållbarhet
      </a>

      <!-- <a class="navbar-item mobileLink" [routerLink]="['blogposts']"  id="navbar-pink" (click)="toggleMenu()">
        TEAM-bloggen
      </a> -->

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"  id="navbar-pink" (click)="toggleMenu()">
          Om oss
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" [routerLink]="['dreamteam']"  id="navbar-pink" (click)="toggleMenu()">
            Kontakt
          </a>
          <a class="navbar-item" [routerLink]="['arbetsmarknadsmassa']"  id="navbar-pink" (click)="toggleMenu()">
            Om TEAM-dagarna
          </a>
            <a class="navbar-item" [routerLink]="['integritetspolicy']" id="navbar-pink" (click)="toggleMenu()">
            Integritetspolicy
          </a>
        </div>
      </div>

      <a class="navbar-item mobileLink" [routerLink]="['career-fair']"  id="navbar-pink" (click)="toggleMenu()">
        English info
      </a>
    </div>
  </div>
  
  <div class="navbar-end">
    <div [hidden]="auth.isSignedIn()" class="navbar-item">
      <div class="field is-grouped">
        <p class="control">
          <a class="bd-tw-button button mobileLink" [routerLink]="['signin']">
            <span class="icon" id="white-icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
            <span>
              Logga in
            </span>
          </a>
        </p>
      </div>
    </div>
  </div> 

  <a [routerLink]="['profile']" class="navbar-item mobileLink"  id="navbar-pink" (click)="toggleMenu()">
    Min profil
  </a>
  
  <a (click)="auth.signOut()" [hidden]="!auth.isSignedIn()" class="navbar-item mobileLink" id="navbar-pink">
    <span>
      Logga ut &nbsp;
    </span>
    <span class="icon" style="color: #596ecc;">
      <i class="fas fa-sign-out-alt"></i>
    </span>
  </a>

  <div [hidden]="!auth.canEdit(user)" class="navbar-item" (click)="toggleMenu()">
    <div class="field is-grouped">
      <p class="control">
        <a class="bd-tw-button button mobileLink" [routerLink]="['/dreamteamadmin']">
          <span>
            DreamTEAM Admin
          </span>
          <span class="icon" style="color:white;">
            <i class="fas fa-user-secret"></i>
          </span>
        </a>
      </p>
    </div>
  </div>

  <span class="is-hidden-desktop">
    <div id="space"></div>
  </span>
  
  <div class="is-hidden-desktop" style="margin-bottom: 10rem;"></div>
</nav>