<form [formGroup]="generateForm" (ngSubmit)="submit(generateForm.value)">
  <div class="field">
    <label class="label">Välj företag</label>
    <div class="control has-icons-left">
      <div class="select is-primary is-large is-fullwidth">
        <select formControlName="comp" (ngModelChange)="getCompany($event)">
          <option value="-1">Välj företag</option>
          <option *ngFor="let company of companies" value="{{company.id}}" [selected]="company.id==preselected" [disabled]="hasCode(company.id)">{{ company.name }}</option>
      </select>
      </div>
      <div class="icon is-small is-left">
        <i class="far fa-building"></i>
      </div>
    </div>
  </div>

  <button type="submit" class="button is-fullwidth is-primary" [ngClass]="{'is-loading':loading}" [disabled]="false">Generera</button>
</form>

<br>
<ng-container *ngFor="let code of codes">
  <p>{{ code.companyname }}: {{ code.code }}</p>
</ng-container>