<div class="hero" id="title-hero">

    <div class="hero-body">
        <div class="container has-text-centered is-mobile">
            <div class="columns is-centered ">
                <div class="column is-9">
                    <h2 class="title is-1 is-spaced" style="text-transform: uppercase">Prislista</h2>

                    <p>Vänligen notera att vi är en ideell förening, därför redovisas samtliga priser exklusive moms.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-left is-mobile">
            <div class="columns is-centered">
                <table class="is-mobile">
                    <tr>
                        <th class="subtitle is-4">Företagspaket</th>
                    </tr>
                    <tr>
                        <td>Endagspaket</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">25 000 kr</td>
                    </tr>
                    <tr>
                        <td>Tvådagarspaket</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">35 000 kr</td>
                    </tr>
                    <tr>
                        <th class="subtitle is-4" id="product-portfolio-table">Event under mässan</th>
                    </tr>
                    <tr>
                        <td>Lunchföreläsning</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">20 000 kr</td>
                    </tr>
                    <tr>
                        <td>Företagsevent under mässan</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">15 000 kr</td>
                    </tr>
                    <tr>
                        <td>Pitch-föreläsning</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">1 250 kr</td>
                    </tr>
                    <tr>
                        <td>Framtidschansen</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">500 kr</td>
                    </tr>
                    <tr>
                        <td>Casetävling</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">5000 kr</td>
                    </tr>

                    <tr>
                        <th class="subtitle is-4" id="product-portfolio-table">Mat och dryck under mässan</th>
                    </tr>
                    <tr>
                        <td>Lunch och fika för ytterligare en person</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">150 kr / dag</td>
                    </tr>
                    <tr>
                        <td>Extra kuvert till AW (tisdagen)</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">500 kr</td>
                    </tr>
                    <tr>
                        <td>Extra kuvert till banketten (onsdagen)</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">1 000 kr</td>
                    </tr>

                    <tr>
                        <th class="subtitle is-4" id="product-portfolio-table">Att hyra</th>
                    </tr>
                    <tr>
                        <td>Extra ståbord</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">500 kr / dag</td>
                    </tr>
                    <tr>
                        <td>Barstol</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">300 kr / dag</td>
                    </tr>
                    <tr>
                        <td>Extra monterbredd</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">3 000 kr / m</td>
                    </tr>
                    <tr>
                        <td>Extra rum för kontaktsamtal</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">3 500 kr / rum</td>
                    </tr>

                    <tr>
                        <th class="subtitle is-4" id="product-portfolio-table">Event under inför-dagarna</th>
                    </tr>
                    <tr>
                        <td>Lunchföreläsning</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">15 000 kr</td>
                    </tr>
                    <tr>
                        <td>Casekväll</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">15 000 kr</td>
                    </tr>
                    <tr>
                        <td>Workshop-kväll</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">15 000 kr</td>
                    </tr>
                    <tr>
                        <td>Andra event</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">15 000 kr</td>
                    </tr>

                    <tr>
                        <th class="subtitle is-4" id="product-portfolio-table">Marknadsföring</th>
                    </tr>
                    <tr>
                        <td>Instagram-takeover</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">5 000 kr</td>
                    </tr>
                    <tr>
                        <td>Instagram-pitch</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">4 000 kr</td>
                    </tr>
                    <tr>
                        <td>Facebook-inlägg</td>
                        <td width="40rem"></td>
                        <td class="has-text-right">3 000 kr</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered is-mobile">
            <div class="columns is-centered">
                <div>
                    <p>Klicka på knappen för att komma till vår fullständiga produktportfölj!</p> 
                    <br>
                
                        <a class="button is-inverted is-outlined is-centered is-medium"
                            href="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/productportfolio%2FTEAM%20Produktportfo%CC%88lj%202023.pdf?alt=media&token=48360e77-c676-421e-b547-dc6dc1872979"
                            target="_blank"><span>Portfölj </span><span class="icon" id="white-icon"><i
                                    class="fas fa-external-link-alt"></i></span></a>
                                    <br>
                      
             
                </div>
            </div>
        </div>
    </div>
</section>