
<section class="hero" id="pink-hero" style="padding-top: 100px;">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <h2 class="title is-1 is-spaced" style="text-transform: uppercase">
        Casetävling med   
        <a href="https://www.exsitec.se/" target="_blank ">
          <img style="max-height: 40px; align-self: center;" alt="Exsitec " role="presentation "
            src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Exsitec_Logo_L_Rubine_RGB.png?alt=media&token=49de7f59-22fb-4a72-89ac-02019afb5285">
        </a>
      </h2>

      <h1 class="subtitle is-4 is-spaced">
        24:e september 2025
      </h1>
    </div>
  </div>
</section> 

<div class="hero" id="title-hero">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered">
        <div class="column is-6">
          <h1 style="font-weight: bold;">
            Utmana dig själv och visa vad du går för i årets casetävling 🚀 
            <br><br>
          </h1>
          <p class="is-6">
            Tillsammans med Exsitec, ett av Sveriges snabbast växande IT- och konsultbolag, bjuder TEAM-dagarna in till 
            casetävling. Här får du och ditt lag chansen att ta er an ett case baserat på ett verkligt uppdrag som Exsitec 
            själva har mött och löst. Caset är business-fokuserat och utformat för att utmana både ingenjörer och ekonomer. 
            Här gäller det att analysera, tänka strategiskt och hitta kreativa lösningar som håller i praktiken.
            <br><br>
            Anmäl ett helt lag på 3-4 personer eller registrera dig själv, så sätter vi ihop ett lag åt dig. Ni får ca 3,5 
            timmar på er att förbereda er lösning innan ni presenterar den inför Exsitecs panel.
            <br><br>
            Vinnarlaget belönas med en exklusiv lunch med Exsitecs rekryteringsteam. En chans att fira segern, bygga 
            värdefulla kontakter och få personliga tips kring CV och intervjuer.
            <br><br>
          </p>

          <p>
            <strong>Anmälan öppnar den 8:e september kl. 12:15!</strong>
            <br>
            Mer info och anmälan finns i <a href="https://www.facebook.com/events/657334093563707" target="_blank">Facebook-evenemanget</a>.
            <br><br>
            <!-- <strong>Anmälan öppnar i början av september!</strong>
            <br>
            Håll utkik på vår 
            <a href="https://www.instagram.com/teamdagarna/" target="_blank">Instagram</a>, 
            <a href="https://www.facebook.com/TEAMdagarna" target="_blank">Facebook</a> 
            och här på hemsidan för mer info och anmälan. -->
          </p>

          <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FTEAMdagarna%2Fposts%2Fpfbid02zXmtzyX6YWCjo1ZHxxJ45vUM2MXgkd9LNGCjxtaPB2XXECCenwfg53kZhSqY28Nml&show_text=true&width=500" width="500" height="690" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

          <!-- <a
            *ngIf="isButtonVisible" 
            class="button is-large" 
            style="background-color: #e77da9; color: white;" target="_blank"
            href="https://docs.google.com/forms/d/1OCgPfOJYdqDSQ2EUWo2NsQi9d-vqz0-eYsGdZWL_TDI/edit#settings">
            Anmäl dig här
          </a> -->
          <br><br>
        </div>
      </div>
    </div>
</div>
