<div class="hero" id="title-hero">
    <div class="hero-body">
      <div class="container is-mobile">
        <div class="columns is-centered">
          <div class="column is-9 has-text-centered">
            <div class="column is-centered">
              <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Företagen 2025</h2>
              <h2 class="subtitle is-6" style="color: #463853">
                Vi är stolta över att presentera 2025 års deltagande företag. Här kan du söka, filtrera och hitta ditt drömföretag 
                och framtida arbetsgivare. 
                <a href="/interviewapplication" style="font-weight: bold;">
                  Kontaktsamtalen
                </a> 
                  och 
                <a href="/jobcatalogue" style="font-weight: bold;">
                  Jobbkatalogen 
                </a>
                hittar du under student-fliken, här finns endast information om årets företag.
              </h2>
            </div>
            <div id="fair-catalogue"></div>
          </div>
        </div>
      </div>
    </div>
  </div>