<h1 class="title is-2">Tisdag</h1>
<form [formGroup]="treasureGenerateFormTuesday" (ngSubmit)="submitTuesday(treasureGenerateFormTuesday.value)">
  <div class="field">
    <label class="label">Välj företag</label>
    <div class="control has-icons-left">
      <div class="select is-primary is-large is-fullwidth">
        <select formControlName="comp" (ngModelChange)="getTreasureCompanyTuesday($event)">
          <option value="-1">Välj företag</option>
          <option *ngFor="let company of treasureCompaniesTuesday" value="{{company.id}}" [selected]="company.id==preselected" [disabled]="hasCodeTuesday(company.id)">{{ company.name }}</option>
      </select>
      </div>
      <div class="icon is-small is-left">
        <i class="far fa-building"></i>
      </div>
    </div>
  </div>

  <button type="submit" class="button is-fullwidth is-primary" [ngClass]="{'is-loading':loading1}" [disabled]="false">Generera</button>
</form>

<br>
<ng-container *ngFor="let code of treasureCodesTuesday">
  <p>{{ code.companyname }}: {{ code.treasurecode }}</p>
</ng-container>

<h1 class="title is-2">Onsdag</h1>
<form [formGroup]="treasureGenerateFormWednesday" (ngSubmit)="submitWednesday(treasureGenerateFormWednesday.value)">
  <div class="field">
    <label class="label">Välj företag</label>
    <div class="control has-icons-left">
      <div class="select is-primary is-large is-fullwidth">
        <select formControlName="comp" (ngModelChange)="getTreasureCompanyWednesday($event)">
          <option value="-1">Välj företag</option>
          <option *ngFor="let company of treasureCompaniesWednesday" value="{{company.id}}" [selected]="company.id==preselected" [disabled]="hasCodeWednesday(company.id)">{{ company.name }}</option>
      </select>
      </div>
      <div class="icon is-small is-left">
        <i class="far fa-building"></i>
      </div>
    </div>
  </div>

  <button type="submit" class="button is-fullwidth is-primary" [ngClass]="{'is-loading':loading2}" [disabled]="false">Generera</button>
</form>

<br>
<ng-container *ngFor="let code of treasureCodesWednesday">
  <p>{{ code.companyname }}: {{ code.treasurecode }}</p>
</ng-container>
