<!-- <div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
              <h2 class="title is-3 is-spaced" style="text-transform: uppercase">Vad vi erbjuder företagen</h2>
              <h2 class="subtitle">Här beskrivs vad TEAM-dagarna kan erbjuda Er och Ert företag, både under formella och mindre formella tillställningar. Tveka inte att kontakta oss om några frågor uppkommer.</h2> 
            </div>
      </div>
    </div>
  </div>
</div> -->


<section class="hero is-fullheight has-bg-img">
  <div class="hero-head">

    </div>
       
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        <div class="columns is-centered ">
          <div class="column is-9">
                <h2 class="title is-2 is-spaced" style="text-transform: uppercase; color: white;">Vad vi erbjuder företagen</h2>
                <h2 class="subtitle is-6" style="color: white;">Här beskrivs vad TEAM-dagarna kan erbjuda Er och Ert företag, både under formella och mindre formella tillställningar. Tveka inte att kontakta oss om några frågor uppkommer.</h2> 
              </div>
        </div>
      </div>
    </div>
            <div class="hero-foot">
                <nav class="tabs is-boxed is-fullwidth is-medium">
                    <div class="container">
                    <ul>
                        <li class="tab is-active" (click)="openTab($event, 'id_tab_1')"><a >TEAM-dagarna</a></li>
                        <li class="tab" (click)="openTab($event, 'id_tab_2')"><a >tab 2 title</a></li>
                        <li class="tab" (click)="openTab($event, 'id_tab_3')"><a >tab 3 title</a></li>
                    </ul>
                    </div>
                </nav>
            </div>
</section>   

<section class="section">

        <div class="container section">
            <div id="id_tab_1" class="content-tab">
                <div>
                    Om TEAM-dagarna
                </div>
            </div>
            <div id="id_tab_2" class="content-tab" style="display:none">
                <div>
                    content here
                </div>
            </div>
            <div id="id_tab_3" class="content-tab" style="display:none">
                <div>
                   content here
                </div>
            </div>
        </div>

</section>





<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6">
        <h1 class="title is-4">Monterplats</h1>
        <p>Under mässdagarna får ni en monterplats. <!-- Ni kan välja att stå en eller två dagar, där två dagar är till ett rabatterat paketpris.--></p>
      </div>
      <div class="column is-6">
        <h1 class="title is-4">Företagsvärd</h1>
        <p>Företagsvärden stödjer Er och Ert företag med allt praktiskt relaterat innan och under mässdagarna. Inför mässdagarna kommer Er företagsvärd att kontakta Er.</p>
      </div>
      <div class="column is-6">
        <h1 class="title is-4">Kontaktsamtal</h1>
        <p>Som utställande företag finns det möjlighet för Er att ha kontaktsamtal. Detta är ett utmärkt tillfälle att träffa en eller flera studenter under ett privat arrangerat möte. Ni väljer själva vilka studenter Ni träffar.</p>
      </div>
      <div class="column is-6">
        
        <h1 class="title is-4">AW</h1>
        <p>Informationen håller på att uppdateras</p>
        <!--<p>Efter den inledande mässdagen tisdagen den 24 september anordnas en AW för studenter och representerade företag. Evenemanget är ett unikt tillfälle för studenter och företag att mötas och knyta kontakter i en avslappnad miljö.</p> -->
      </div>
      <div class="column is-6">
        <h1 class="title is-4">Bankett</h1>
        <p>Informationen håller på att uppdateras</p>
        <!-- <p>Mässan avslutas onsdagen den 25 september med en storslagen bankett på Konsert och Kongress. Ni har möjlighet att få ta del av en helkväll som sent ska glömmas med trerätters-middag samt underhållning.</p> -->
      </div> 
      <div class="column is-6">
        <h1 class="title is-4">Marknadsföring</h1>
        <p>
          Som deltagande företag är Ni garanterade ett uppslag i vår digitala katalog samt representerade med länk och logga på TEAM-dagarnas hemsida.</p>
      </div>
      <div class="column is-6">
        <h1 class="title is-4">Företagsevent</h1>
        <p>Inför de två mässdagarna anordnas en vecka av företagsaktiviteter och event som vi benämner Inför-dagarna. Under dessa dagar har Ni Således möjlighet att delta genom att erbjuda exempelvis gästföreläsningar, caselösningar och/eller liknande event.
          Utöver Inför-dagarna erbjuder vi även möjlighet att anordna företagsevent under mässdagarna.</p>
      </div>




    </div>


  </div>
</section>
