<section class="hero is-fullheight has-bg-img">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
          <h2 class="title is-1 is-spaced" style="text-transform: uppercase; color: white;">Vad vi erbjuder företagen</h2>

          <h2 class="subtitle is-6" style="color: white;">
            Digital marknadsföring är något som kommer vara i fokus i år. Genom våra digitala 
            kanaler erbjuder vi en rad olika marknadsföringsmöjligheter både innan och under mässan.
            Under mässdagarna kommer det ges fantastiska möjligheter för både studenter och företag. 
            Årets upplaga kommer kantas av flera aktiviteter såsom föreläsningar, kontaktsamtal och 
            mycket mer. Efter första mässdagen tar vi en välförtjänt AW och hela mässan kommer avslutas 
            med en bankett för att fira vad vi åstadkommit tillsammans. 
          </h2> 
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth is-medium">
      <div class="container">
        <ul>
          <li class="tab" (click)="openTab($event, 'id_tab_1')"><a id="tabs-weoffer">Inför-dagarna</a></li>
          <li class="tab is-active" (click)="openTab($event, 'id_tab_2')"><a id="tabs-weoffer">TEAM-dagarna</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>  

<section class="hero">
  <div class="container section">
    <div id="id_tab_1" class="content-tab" style="display:none">
      <div class="hero-body">
        <div class="container has-text-centered is-mobile">
          <div class="columns is-centered ">
            <div class="column">
              <h1 class="title is-5 is-spaced">Inför-dagarna</h1>
              <p>Inför mässdagarna den 22-23 september kommer det att under en tvåveckorsperiod (7-
                18 september) att anordnas olika företagsevenemang där ni som företag har möjlighet
                att introducera er verksamhet och era företagskoncept till studenterna. Dessa veckor
                kallar vi Inför-dagarna.
              </p>
              <br>
              <p>
                Att delta under Inför-dagarna är en utmärkt möjlighet för utställare att bekanta sig
                med studenter innan mässan och därigenom öka chanserna till hög montertrafik under
                själva mässdagarna. Oavsett typ av evenemang är det alltid uppskattat att erbjuda mat
                eller en matkuponger till studenterna, vilket dessutom är ett effektivt sätt att attrahera
                fler deltagare.
              </p>
            </div>

            <div class="column">
              <h1 class="title is-5 is-spaced">Grön Inför-dag</h1>
              <p>Under Inför-dagarna kommer vi dedikera en dag till event som förhåller sig till miljö och hållbarhet. 
                TEAM-dagarna 2026 kommer vara ett hållbarhetscertifierat evenemang och hållbarhet och miljö är något vi 
                verkligen vill framhäva. Brinner ert företag för miljön ser vi till att just era event hamnar under denna dag.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="id_tab_2" class="content-tab" >
      <div class="hero-body">
        <div class="container has-text-centered is-mobile">
          <div class="columns is-centered ">
            <div class="column">
              <h1 class="title is-5 is-spaced">Framtidschansen</h1>
              <p>Framtidschansen är ett unikt koncept under mässans två dagar som syftar till att öka
                interaktionen mellan er och studenterna. Konceptet bygger på att ni som företag delar
                ut en Framtidschans till studenter som fångat ert intresse och som ni vill ha en fortsatt
                dialog med. Ni avgör själva vilka studenter ni tycker förtjänar era Framtidschanser och
                vilket pris ni delar ut. Dessa priser kan exempelvis vara en inbjudan till ert
                huvudkontor, en lunch med en företagsrepresentant, ett företagsevent, en CV-
                granskning eller någon slags inbjudan som ger studenten möjlighet att lära känna just
                er verksamhet bättre.
              </p>
              <br>
              <p>Genom att medverka i Framtidschansen driver ni inte enbart ökad trafik till er
                monterplats, ni profilerar er också som en engagerad och attraktiv arbetsgivare.
                Framtidschansen marknadsförs både inför och under mässdagarna för att vägleda rätt
                studenter direkt till er.
              </p>
            </div>

            <div class="column">
              <h1 class="title is-5 is-spaced">Klimatfinansiering</h1>
              <p>TEAM-dagarna är en hållbarhetscertifierad mässa och vi vill ge företagen som deltar
                möjlighet att vara med och bidra till att göra mässan så hållbar som möjligt.
                Klimatfinansiering innebär att en aktör tar ansvar för de utsläpp som omfattande
                aktiviteter orsakar genom att köpa kolkrediter som finansierar projekt som reducerar
                eller binder koldioxid utanför den egna värdekedjan.
              </p>
              <br>
              <p>
                Genom att vara med och klimatfinansiera visar ert företag på konkret miljöansvar,
                stärker hållbarhetsprofilen och bidrar till att göra mässan så hållbar som möjligt. I
                utbyte kommer företaget att få en symbolisk skylt vid montern samt en symbol på våra
                digitala plattformar som markerar företagets engagemang. Företagen som
                klimatfinansierar kommer även att uppmärksammas av TEAM via våra sociala medier.
              </p>
            </div>
          </div>
          <br>

          <div class="columns is-centered ">
            <div class="column">
              <h1 class="title is-5 is-spaced">Sommar- & Extrajobb möjligheter</h1>
              <p>TEAM-dagarna 2026 erbjuder företag möjligheten att lyfta fram aktuella tjänster som
                är relevanta för studenter att söka hos ert företag. Mässan är ett utmärkt tillfälle för
                studenter att leta sommarjobb, exjobb eller traineeprogram samtidigt som ni får
                möjlighet att knyta kontakter med potentiella framtida kollegor. Konceptet innebär
                exponering av vilka tjänster just ert företag erbjuder vid er monter och på så vis
                marknadsförs detta direkt till studenterna på mässan.
              </p>
            </div>

            <div class="column">
              <h1 class="title is-5 is-spaced">Startup Zone</h1>
              <p>Under mässan kommer det finnas möjlighet för start-ups, eller företag som tidigare varit det men
                etablerats, att inspirera studenter att gå samma väg. Det är en unik chans att träffa studenter och att
                sprida era visioner inför framtida affärsmöjligheter. Start-up Zone är ett utmärkt tillfälle att vara
                med och bidra till exponering för era företag och interagera med studenter på Linköpings universitet.
                Vi hoppas kunna erbjuda en unik möjlighet för er start-up på TEAM-dagarna där ni kan träffa och
                inspirera drivna studenter med era egna erfarenheter av entreprenörskap och företagande.
              </p>
              <br>
              <p>Pris för att delta som start-up på TEAM-dagarna beror på hur länge ni vill medverka och i vilken
                form ni vill göra detta vilket möjliggör att medverka på det sätt som passar er bäst!                       
              </p>
            </div>
          </div>
          <br>

          <div class="columns is-centered ">
            <div class="column">
              <h1 class="title is-5 is-spaced">Business Battle</h1>
              <p>Business Battle är ett koncept där ni som företag får möjlighet att framföra en 90-
                sekunders pitch för att övertyga studenterna om varför just ni är en attraktiv
                arbetsgivare. Detta sker mitt bland spektakulära mellanakter, där studenterna bjuds på
                show samtidigt som ni får chansen att göra ett starkt intryck. 
                Presentationens innehåll väljer ni själva. Den kan exempelvis handla om internship-
                möjligheter, en personlig resa inom företaget, hur det är att arbeta inom ett visst
                område - eller något annat som väcker intresse och engagemang hos studenterna. Likt
                en hisspitch får ni möjlighet att sälja in er verksamhet på ett engagerande sätt.
              </p>
              <br>
              <p>Business Battle var en av de stora höjdpunkterna under förra årets TEAM-dagar - ett
                energifyllt och inspirerande inslag som uppskattades av både företag och studenter!
                Genom att delta får ni en unik möjlighet att skapa ett starkt och varaktigt intryck,
                vilket leder till ökat intresse och fler besökare i er monter. I denna fartfyllda och underhållande 
                tävling är det studenterna som avgör det vinnande företaget.
              </p>
            </div>

            <div class="column">
              <h1 class="title is-5 is-spaced">Kontaktsamtal</h1>
              <p>Är ert företag intresserade av att träffa och knyta personlig kontakt med några av Sveriges mest eftertraktade studenter? Då är 
                kontaktsamtal något för er!
              </p>
              <br>
              <p>Under mässdagarna finns möjlighet att kostnadsfritt hålla individuella kontaktsamtal
                med studenter. Här får ni chansen att berätta mer om ert företag och samtidigt lära
                känna våra studenter bättre. Studenter ansöker om kontaktsamtal via vår hemsida, där
                ni sedan har möjlighet att se vilka som har sökt möte med er och välja vilka ni är
                intresserade av att etablera en kontakt med.
              </p>
              <br>
              <p>
                Kontaktsamtalen äger rum under hela dagen, från mässans öppning till stängning (kl 10:00 - 15:00).
                Varje dag innehåller 8 samtal med en lunchrast på 45 min och det finns även möjlighet att lägga till
                fler rum till en extra kostnad.
              </p>
            </div>
          </div>
          <br>
          
          <div class="columns is-centered ">
            <div class="column">
              <h1 class="title is-5 is-spaced">Case-tävling</h1>
              <p>Vill ni ge framtidens ekonomer och ingenjörer en verklig utmaning och samtidigt få
                värdefulla insikter i hur de angriper affärskritiska problem? TEAM-dagarnas case-
                tävling är en exklusiv möjlighet för ert företag att låta studenter från Industriell
                ekonomi och Civilekonomprogrammet analysera och lösa en konkret utmaning från er
                verksamhet.
              </p>
              <br>
              <p>Som case-företag får ni presentera ett verklighetsnära business case där tvärfunktionella
                studentteam arbetar fram innovativa lösningar. Efter en intensiv problemlösningsfas
                avslutas tävlingen med presentationer inför en jury. Här får ni ta del av studenternas
                analyser, strategiska resonemang och nytänkande idéer.
              </p>
              <br>
              <p>
                Detta är en möjlighet att positionera ert företag som en drivande aktör inom
                problemlösning och affärsutveckling, samtidigt som ni får nya perspektiv på
                utmaningar inom er bransch. Case-tävlingen är en av de mest prestigefyllda
                aktiviteterna under TEAM-dagarna – först till kvarn gäller!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
