<!-- END NAV -->
<div class="admin">


  <div class="columns">
    <div class="column is-2 is-offset-1">
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a class="is-active" [routerLink]="['/dreamteamadmin']">Dashboard</a></li>
          <li><a>Generella inställningar</a></li>
        </ul>
        <p class="menu-label">
          Admin
        </p>
        <ul class="menu-list">
          <li><a>Dreamteamers</a>
            <ul>
              <li><a [routerLink]="['addstaff']">Lägg till Dreamteamer</a></li>
            </ul>
          </li>
          <li>
            <a [routerLink]="['companies']">Företagen</a>
            <ul>
              <li><a [routerLink]="['addcompany']">Lägg till företag</a></li>

            </ul>
          </li>
          <li>
            <a [routerLink]="['events']">Event</a>
            <ul>
              <li><a [routerLink]="['addevent']">Lägg till event</a></li>
              <li><a [routerLink]="['checkin']">Incheckning</a></li>
            </ul>
          </li>
          <li>
            <a>Nyheter</a>
            <ul>
              <li><a>Lägg till nyhet</a></li>
            </ul>
          </li>


        </ul>
        <p class="menu-label">
          <span>Admin Platinum&trade; <i class="fas fa-chess-king"></i></span>
        </p>
        <ul class="menu-list">
          <li><a [routerLink]="['users']">Alla användare</a></li>
          <li><a [routerLink]="['companycodes']">Företagens inlogg </a></li>
          <li><a>Hantera adminroller</a></li>
          <li><a [routerLink]="['interviews']">Kontaktsamtal</a>
            <ul>
              <li><a>Hantera schema</a></li>
              <li><a>Företagsvy</a></li>
            </ul>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column is-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  <br>
  <br>
</div>