<!-- END NAV -->
<div class="admin">
  <div class="columns">
    <div class="column is-2 is-offset-1">
      <aside class="menu">
        
        <p class="menu-label"><a [routerLink]="['/dreamteamadmin']">Dashboard</a></p>

        <p class="menu-label">Dreamteam</p>
        <li><a [routerLink]="['dreamteam']">Redigera DreamTeamers</a></li>
        <li><a [routerLink]="['addstaff']">Lägg till DreamTeamer</a></li>

        <p class="menu-label">Event</p>
        <li><a [routerLink]="['events']">Redigera event</a></li>
        <li><a [routerLink]="['addevent']">Lägg till event</a></li>
        <li><a [routerLink]="['checkin']">Incheckning</a></li>
        
        <!-- <p class="menu-label">Blogg</p>
        <li><a [routerLink]="['blogpost']">Blogginlägg</a></li>
        <li><a [routerLink]="['addblogposts']">Lägg till blogginlägg</a></li> -->

        <p class="menu-label">Admin Platinum</p>
        <li><a [routerLink]="['companycodes']">Företagens inlogg </a></li>
        
      </aside>
    </div>

    <div class="column is-8">
      <div class="containerWhite"></div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <br>
  <br>
</div>
