.admin {
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background: #ecf0f3;
  padding-top: 80px;
}

.containerWhite {
  padding-top: 30px;
}

.menu {
  padding-top: 48px;
}

nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}

.navbar-item.brand-text {
  font-weight: 300;
}

.navbar-item,
.navbar-link {
  font-size: 14px;
  font-weight: 700;
}

.menu-label {
  color: #8f99a3;
  letter-spacing: 1.3;
  font-weight: 700;
}

.menu-list a {
  color: #0f1d38;
  font-size: 14px;
  font-weight: 700;
}

.menu-list a:hover {
  background-color: transparent;
  color: #e77da9;
}

.menu-list a.is-active {
  background-color: transparent;
  color: #e77da9;
  font-weight: 700;
}
