<div class="hero" id="title-hero">

  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
          <h2 class="title is-1 is-spaced" style="text-transform: uppercase">Kontaktsamtal</h2>
          </div>
      </div>
    </div>
  </div>
</div>


<section class="hero" *ngIf="user && !success && !notsuccess">
  <div class="container has-text-centered is-mobile">

  <div class="columns is-centered">
    <div class="column is-8 is-12-mobile">

      <h1 class="subtitle is-6"><strong>Ansökan för kontaktsamtal för TEAM-dagarna 2022 är stängd.</strong><br><br> Du som sökt kontaktsamtal kommer från och med den 15e september få reda på vilka företag som valt dig som kandidat under Mina sidor. Sista svarsdag för kontaktsamtalen är den 16e september.
      </h1><br>
    </div>
  </div>
  </div>
</section>
  
<!-- 
<section class="hero" *ngIf="user && !success && !notsuccess">
  <div class="container has-text-centered is-mobile">

  <div class="columns is-centered">
    <div class="column is-8 is-12-mobile">

      <h1 class="subtitle is-6">
        Ansökan för kontaktsamtal stänger den 6e september och därefter får företagen tillgång till alla ansökningar. Du som sökt kontaktsamtal kommer från och med den 15e september få reda på vilka företag som valt dig som kandidat. Sista svarsdag för kontaktsamtalen är den 16e september.
      </h1>
      <h1 class="subtitle is-6">
        Öppen ansökan är ytterligare en chans för dig som söker att få gå på kontaktsamtal. Företagen kommer att få tillgång till dessa ansökningar utöver de ansökningar som kommit explicit till deras företag. Du söker öppen ansökan genom att välja<strong> Öppen anmälan kontaktsamtal </strong> längst ned i listan nedan.</h1>

      <h1 class="subtitle is-6">
        <em>OBS! Du kan endast söka 6 stycken kontaktsamtal (plus öppen anmälan) och tacka ja till maximalt 6 stycken samtal.</em>
      </h1>
      <h5 *ngIf="applicationsMade > 5 && appliedOpen" class="subtitle is-6 "><strong class="has-text-danger">Du har sökt 6st plus öppen och kan därmed inte söka fler.</strong></h5>
      <h5 *ngIf="applicationsMade > 5 && !appliedOpen" class="subtitle is-6">Du har sökt 6st och kan nu därmed endast söka till den öppna.</h5>
      <h5 *ngIf="applicationsMade < 6 && !appliedOpen" class="subtitle is-6">Du har <strong>{{ 6 - applicationsMade }} stycken plus öppen ansökan kvar</strong>.</h5>
      <h5 *ngIf="applicationsMade < 6 && appliedOpen" class="subtitle is-6">Du har <strong>{{ 6 - applicationsMade }} stycken ansökningar kvar</strong>.</h5>

      <form [formGroup]="interviewForm" (ngSubmit)="submit()">

        <div class="field">
          <label class="label">Välj företag</label>
          <div class="control has-icons-left">
            <div class="select is-large is-fullwidth">
              <select formControlName="selectedCompany" (ngModelChange)="getCompany($event)">
                <option value="-1">Välj företag</option>
                <option *ngFor="let company of companies" value="{{company.id}}" [selected]="preselected != null && company.id==preselected" [disabled]="hasApplied(company.id) || (company.name !== 'Öppen anmälan kontaktsamtal' && applicationsMade > 5)">{{ company.name }}</option>
            </select>
            </div>
            <div class="icon is-small is-left">
              <i class="far fa-building"></i>
            </div>
          </div>
        </div>
        <br>

        <ng-container *ngIf="company">
          <div class="is-divider" data-content="FÖRETAGSINFO" *ngIf="company.name !== 'Öppen anmälan kontaktsamtal'"></div>
          <h5 class="title is-5 is-centered " *ngIf="company.internship || company.fulltime || company.parttime || company.summerjob || company.masterthesis || company.trainee || company.otherthesis">Vi erbjuder</h5>
          <div class="tags ">
            <span class="tag " *ngIf="company.internship ">Internship</span>
            <span class="tag " *ngIf="company.fulltime ">Heltidsjobb</span>
            <span class="tag " *ngIf="company.parttime ">Deltidsjobb</span>
            <span class="tag " *ngIf="company.summerjob ">Sommarjobb</span>
            <span class="tag " *ngIf="company.masterthesis ">Ex-jobb</span>
            <span class="tag " *ngIf="company.trainee ">Trainee</span>
            <span class="tag " *ngIf="company.otherthesis ">Uppsatshandledning</span>
          </div>

          <h5 class="title is-5 is-centered " *ngIf="company.engineers || company.filfakare">Vi söker</h5>
          <div class="tags ">
            <span class="tag " *ngIf="company.engineers ">Civilingenjörer i Industriell Ekonomi</span>
            <span class="tag " *ngIf="company.filfakare ">Civilekonomer</span>
     
          </div>
          <h5 class="title is-5 " *ngIf="company.about">Om oss</h5>
          <p style="white-space: pre-wrap;">{{ company.about }}</p>
          <br>
          <h5 *ngIf="company.values" class="title is-5 ">Vi värdesätter</h5>
          <p style="white-space: pre-wrap;">{{ company.values }}</p>
          <br>
          <h5 *ngIf="company.interviewinfo" class="title is-5 ">Kontaktsamtalsinfo</h5>
          <p style="white-space: pre-wrap;">{{ company.interviewinfo }}</p>



          <div class="is-divider" data-content="DIN PROFIL"></div>
          <p><strong>Namn:</strong> {{ user.firstname }} {{ user.lastname }}</p>
          <p><strong>LiU-ID:</strong> {{ user.liuid }}</p>
          <p><strong>Program:</strong> {{ user.program }}</p>
          <p><strong>År:</strong> {{ user.year }}</p>
          <p *ngIf="user.engineerbachelor"><strong>Kandidatprofil:</strong> {{ user.engineerbachelor }}</p>
          <p *ngIf="user.engineermaster"><strong>Masterprofil:</strong> {{ user.engineermaster }}</p>
          <p *ngIf="user.nekorfek"><strong>Nationalekonomi/Företagsekonomi:</strong> {{ user.nekorfek }}</p>
          <p *ngIf="user.filfakspecialization"><strong>Inriktning:</strong> {{ user.filfakspecialization }}</p>
          <p *ngIf="user.phoneNumber"><strong>Mobilnummer:</strong> +46{{ user.phoneNumber }}</p>
          <br>
          <p><em>Du kan redigera dina uppgifter under "Min profil".</em></p>


          <div class="is-divider" data-content="ANSÖKAN"></div>
          <h5 *ngIf="applicationsMade > 5 && appliedOpen" class="subtitle is-4 "><strong class="has-text-danger">Du har sökt 6st plus öppen och kan därmed inte söka fler.</strong></h5>
          <h5 *ngIf="applicationsMade > 5 && !appliedOpen" class="subtitle is-4">Du har sökt 6st och kan nu därmed endast söka till den öppna.</h5>
          <ng-container *ngIf="!((applicationsMade > 5 && company.name!='Öppen anmälan kontaktsamtal') || (appliedOpen && company.name=='Öppen anmälan kontaktsamtal'))">


            <p *ngIf="company.reqmaster"><strong>{{ company.name }}</strong> vill att du fyller i din masterprofil/inriktning under "Min profil" innan du skickar in ansökan.</p>


            <p *ngIf="company.name !== 'Öppen anmälan kontaktsamtal'"><strong>{{ company.name }}</strong> vill gärna att ni skickar med <strong *ngIf="company.reqresume">CV, </strong><strong *ngIf="company.reqcl">Personligt Brev, </strong> <strong *ngIf="company.reqmotivation">Kort motivering</strong>, <strong *ngIf="company.reqgrades">Betyg</strong> och <strong>Mobilnummer.</strong></p>
            <br>
            <div class="field">
              <label class="label" for="phoneNumber">Mobilnummer</label>
              <div class="field is-expanded">
                <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  +46
                </a>
              </p>
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Ditt mobilnummer" [ngClass]="{ 'is-success' : !phoneNumber.invalid,  'is-danger' : phoneNumber.invalid}" formControlName="phoneNumber">
              </p>
              <br>
              </div>
              </div>
              <div *ngIf="phoneNumber.invalid" class="help is-danger">
                Ditt telefonnummer är felaktigt formaterat. Kontrollera att du skrivit in telefonnumret i formatet "789123456".
              </div>
            </div>
            <br>

            <div class="columns is-centered">
              <ng-container *ngIf="company.reqresume">
                <div class="column is-3">
                  <div class="file has-name is-boxed">
                    <label class="file-label upload">
                <input class="file-input" type="file" (change)="startUploadResume($event.target.files)" accept="application/pdf">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Ladda upp CV
                  </span>
                </span>
                <span class="file-name has-text-centered">
                <ng-container *ngIf="cvuploaded">Filen är ok!</ng-container>
                <ng-container *ngIf="cverror">Fel format! Ladda upp .pdf</ng-container>
                </span>
              </label>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="company.reqcl">
                <div class="column is-3">
                  <div class="file has-name is-boxed">
                    <label class="file-label upload">
                <input class="file-input" type="file" (change)="startUploadCoverLetter($event.target.files)" accept="application/pdf">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Ladda upp personligt brev
                  </span>
                </span>
                <span class="file-name has-text-centered">
                  <ng-container *ngIf="cluploaded">Filen är uppladdad!</ng-container>
                  <ng-container *ngIf="clerror">Fel format! Ladda upp .pdf</ng-container>
                </span>
              </label>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="company.reqgrades">
                <div class="column is-3">
                  <div class="file has-name is-boxed">
                    <label class="file-label upload">
                <input class="file-input" type="file" (change)="startUploadGrades($event.target.files)" accept="application/pdf">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Ladda upp betyg
                  </span>
                </span>
                <span class="file-name has-text-centered">
                  <ng-container *ngIf="gradesuploaded">Filen är ok!</ng-container>
                  <ng-container *ngIf="gradeserror">Fel format! Ladda upp .pdf</ng-container>
                </span>
              </label>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="company.reqmotivation">
                <div class="column is-3">
                  <div class="file has-name is-boxed">
                    <label class="file-label upload">
                <input class="file-input" type="file" (change)="startUploadMotivation($event.target.files)" accept="application/pdf">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Ladda upp kort motivering
                  </span>
                </span>
                <span class="file-name has-text-centered">
                  <ng-container *ngIf="motivationuploaded">Filen är ok!</ng-container>
                  <ng-container *ngIf="motivationerror">Fel format! Ladda upp .pdf</ng-container>
                </span>
              </label>
                  </div>
                </div>
              </ng-container>

            </div>

            <span *ngIf="company.name == 'Öppen anmälan kontaktsamtal'"><p class="has-text-danger is-italic"> OBS! För den öppna ansökan är det valfritt att skicka med CV, Personligt Brev eller Betyg men det är obligatoriskt att ange sitt mobilnummer.</p><br></span>
            <button type="submit" id="submit-button" class="button is-fullwidth" [ngClass]="{'is-loading':loading}" [disabled]="(hasApplied(company.id) || (company.name !== 'Öppen anmälan kontaktsamtal' && applicationsMade > 5) || !okToSubmit()) && !applyOpenOkToSubmit()">Skicka ansökan</button><br>
            <span *ngIf="hasApplied(company.id) && !loading"><p class="has-text-danger has-text-centered is-italic"> Du har redan sökt till {{ company.name }} och kan därmed inte söka kontaktsamtal till dem igen.</p><br></span>
            <span *ngIf="(company.name !== 'Öppen anmälan kontaktsamtal' && applicationsMade > 5) && !loading"><p class="has-text-danger has-text-centered is-italic"> Du har redan sökt 6 kontaktsamtal och kan därmed inte söka fler! </p><br></span>

          </ng-container>
        </ng-container>
      </form>

    </div>
    </div>
  </div>
</section>


<section *ngIf="success" class="hero">
  <div class="container has-text-centered is-mobile" *ngIf="success">
      <h1 class="title is-5">Ansökan inskickad!</h1>
      <p>Du kan se dina gjorda ansökningar under "Min profil". Där kan du även se status för din ansökan.</p>
      <br>
      <p>Du har nu sökt {{ applicationsMade }} stycken samtal (excl. öppen anmälan). Du kan max söka till 6 stycken företag plus skicka in till den öppna ansökan.</p>
      <br>
      <a class="button" (click)="refresh()">Tillbaka till att söka fler</a><br><br>
  </div>
</section>

<section *ngIf="notsuccess" class="hero">
  <div class="container" *ngIf="notsuccess">
  </div>
  <div class="container has-text-centered is-mobile" *ngIf="notsuccess">
      <h1 class="title is-5">Något gick fel!</h1>
      <p>Något gick snett när ansäkan skulle skickas. Var vänlig kolla under "Min profil" och se om ansökan finns med där. Om den gör det så kan du se det som en bekräftelse, om inte, testa igen.</p>
      <br>
      <a class="button" (click)="refresh()">Tillbaka</a><br><br>
  </div>
</section> 


<section class="hero" *ngIf="!user">
  <div class="container">
  </div>
  <div class="container has-text-centered is-mobile" *ngIf="!user">
    <h1 class="title is-3">Du måste vara inloggad för att kunna söka kontaktsamtal!</h1>
    <a [routerLink]="['../signin']" class="subtitle is-3 has-text-weight-semibold">
      Klicka här för att logga in!
    </a>
  </div><br>
</section> -->
