<section class="section">
  <div class="container" *ngIf="!auth.isSignedIn()">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <div class="columns is-centered">
        <div class="column is-one-third">

          <div class="card login-card">
            <div class="card-content">

              <h3 class="title is-2">Logga in</h3>
              <h3 class="subtitle is-6">Om du inte tidigare varit inloggad på TEAM 2022 så ber vi dig skapa ett nytt konto via "Skapa konto" nedan.</h3>

              <div class="field">
                <label class="label" for="liuid">Liu-ID</label>
                <input class="input" type="text" placeholder="Ditt liu-id" formControlName="liuid">
                <div class="help is-danger" *ngIf="liuid.invalid && liuid.touched">
                  Måste skriva in ditt Liu-ID
                </div>
              </div>

              <div class="field">
                <label class="label" for="password">Lösenord</label>
                <input class="input" type="password" placeholder="Ditt lösenord" formControlName="password">
              </div>
              <p class="error-message">{{ errorMessage }}</p>

              <button type="submit" [ngClass]="{'is-loading':loading}" [disabled]="!loginForm.valid" class="button is-fullwidth">Logga in</button>
              <div class="login-other-actions">
                <a [routerLink]="['/signup']">
                  <p>
                    <i class="fas fa-plus-circle"></i> Skapa konto
                  </p>
                </a>
                <a [routerLink]="['/forgotpass']">
                  <p>
                    <i class="fas fa-sad-tear"></i> Glömt lösenord
                  </p>
                </a>

              </div>


            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="hero container" *ngIf="auth.isSignedIn()">
    <div class="columns is-centered">
          <h1 class="title is-3 has-text-primary has-text-centered">Snyggt, du är redan inloggad! Klicka på pusselbiten för att ta dig till startsidan :)</h1>
    </div>
    <br>
    <div class="columns is-centered">
    <figure class="image is-64x64">
      <a [routerLink]="['']">
        <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/ikon.png?alt=media&token=33401086-b60c-4e73-9dbd-66af65d9ea26">
      </a>
    </figure>
    </div>
  </div>
</section>
