<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        <div class="columns is-centered ">
          <div class="column is-9"><br><br><br>
                <h2 class="title is-1 is-spaced" style="text-transform: uppercase;">Tack till årets sponsorer</h2><br><br>
          </div>
        </div>

        <div class="columns is-centered" style="margin: 30px;">
            <div class="column">
                <a href="https://www.arla.se/" target="_blank" rel="noopener noreferrer">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%202025%2Farla_logo.png?alt=media&token=b5c424a0-ee31-4be7-b9bc-0f1297a07a91" style="max-height: 200px;">
                </a>
            </div>
            <div class="column">
                <a href="https://crepinolinkoping.se/" target="_blank" rel="noopener noreferrer">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%202025%2Fcrepino_logo.png?alt=media&token=627fe1d7-9d27-4065-ba6e-84f317efbe16" style="max-height: 200px;">
                </a>
            </div>
            <div class="column">
                <a href="https://hyddrinks.se/" target="_blank" rel="noopener noreferrer">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%202025%2Fhyd_rehydrate_logo.png?alt=media&token=a662c91f-385b-474c-bf14-1b5820a98dc2" style="max-height: 200px;">
                </a>
            </div>
            <div class="column" style="margin-top: 20px;">
                <a href="https://unikstudent.se/" target="_blank" rel="noopener noreferrer">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%202025%2Funik_student_logo.png?alt=media&token=e5e453a9-8245-4599-b215-095ca5c629ca" style="max-height: 200px;">
                </a>
            </div>
        </div>

        <div class="columns is-centered" style="margin: 30px;">
            <div class="column">
                <a href="https://www.stilfloristerna.se/" target="_blank" rel="noopener noreferrer">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%202025%2Fstilfloristerna_logo.png?alt=media&token=be95eb57-479b-49af-b54d-1cb4eb7c6619" style="max-height: 200px;">
                </a>
            </div>
            <div class="column" style="margin-top: 50px;">
                <a href="https://nordicwellness.se/" target="_blank" rel="noopener noreferrer">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%202025%2Fnordic_wellness_logo.png?alt=media&token=d53cf36f-6687-4689-a741-fa395a36731f" style="max-height: 200px;">
                </a>
            </div>
            <div class="column">
                <a href="https://swedishgreyhound.com/" target="_blank" rel="noopener noreferrer">
                    <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%202025%2Fswedish_greyhound_logo.webp?alt=media&token=347704fa-08a9-4805-9100-538ffdffbe19" style="max-height: 200px;">
                </a>
            </div>
        </div>
      </div> 
    </div>
  </section>
  

  