<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        <div class="columns is-centered ">
          <div class="column is-9"><br><br><br>
                <h2 class="title is-1 is-spaced" style="text-transform: uppercase;">Tack till årets sponsorer</h2><br><br>
          </div>
        </div>
        <div class="columns is-centered ">
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2FGood_Gum_Logo_Black1%20(1).png?alt=media&token=1e56f4ff-7a1b-4871-8d6a-2bad2ead0976" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2FKopia%20av%20Clean%20Eating%20big%20logo%202022.png?alt=media&token=469fa0dd-859f-4c6d-bae1-25de4417a0b4" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2FKopia%20av%20Loggan.jpg?alt=media&token=4df916d4-5580-4194-a1ef-bf18875ce9de" style="max-height: 200px;">
            </div>
          
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2FKopia%20av%20OmiOpi_logga%20till%20webb%20transparent.png?alt=media&token=e5eb2bd0-52e0-423e-94f5-b2face3a7222" style="max-height: 200px;">
            </div>
        </div>
        <br>

        <div class="columns is-centered ">
           
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2FKopia%20av%20Stilfloristerna%20logga.jpeg?alt=media&token=17f5d7d8-c614-4a02-99a2-66d46d990001" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2FKopia%20av%20Swift%20Export%20no%20background.png?alt=media&token=765cfb1e-7c7f-4877-92dd-87a33a2a4ad1" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2F_svart.png?alt=media&token=8601d050-5757-43df-83db-d6a5b445ba68" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2FKopia%20av%20kakservice-logo2.png?alt=media&token=61da5d1e-0feb-477d-90e5-81b712dada9b" style="max-height: 200px;">
            </div>
           
        </div>
        <br>

        <div class="columns is-centered ">
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2FKopia%20av%20nedladdning.png?alt=media&token=74497400-ea41-4b8b-83f1-142b9faf44bb" style="max-height: 200px;">
            </div>
            
          
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2FKopia%20av%20plantagen.jpg?alt=media&token=1d01bd19-cdf4-4764-8404-520a975e3dab" style="max-height: 200px;">
            </div>

            <div class="column">
               
                    <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2Flidl_logga.png?alt=media&token=162be7a9-6f7f-4d4a-b528-02e0d4d0a4b6" style="max-height: 200px;">

           
             
            </div>

            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors2023%2FLogotyp_mandy.png?alt=media&token=e31c22b3-8211-4a95-87ac-775cbc97c4da" style="max-height: 200px;">
            </div>
           
        </div>
        <br>

    <!--     <div class="columns is-centered ">
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FRejmes.png?alt=media&token=aabb1d48-b693-49b8-b09a-9b597f60acb2" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fkakservice-logo.jpg?alt=media&token=a7764c60-7c2f-441d-855b-956983202f5a" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Far_logo_tagline_R_turquoise.png?alt=media&token=dc16c7d0-36f5-45a6-a3ad-aee4a3630e3c" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fimages.jpg?alt=media&token=017e9e0a-86e8-4525-ad29-e5ae34f3aacc" style="max-height: 200px;">
            </div>
        </div> -->
        <br>
      </div> 
    </div>
  </section>
  

  