<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        <div class="columns is-centered ">
          <div class="column is-9"><br><br><br>
                <h2 class="title is-1 is-spaced" style="text-transform: uppercase;">Tack till årets sponsorer</h2><br><br>
          </div>
        </div>
        <div class="columns is-centered ">
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FBE_HAPPY_LOGO.png?alt=media&token=9efee92f-ecb9-451e-8934-e0284a830bea" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FCorlin-eyewear-450x321.png?alt=media&token=4ccf9bf6-59db-4bf2-808a-86acfe681da0" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fomiopi.png?alt=media&token=d7bc6f4c-f5df-4814-af2e-16cd1f624382" style="max-height: 200px;">
            </div>
          
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FStilfloristerna%20logga.jpeg?alt=media&token=c15480f7-3d10-4f38-9ab5-cf82f2600030" style="max-height: 200px;">
            </div>
        </div>
        <br>

        <div class="columns is-centered ">
           
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fbic_logo_share-2.jpg?alt=media&token=c9fb070e-d161-4634-8443-cf2b3f551a71" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fbores.png?alt=media&token=9b8c23fd-c7f6-45f1-b53b-63d434c84723" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fcampushallen.png?alt=media&token=28e407be-f074-4ae4-bb3d-ccccfbcb6c93" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fplantagen.jpg?alt=media&token=7cd955ba-fddb-4892-a45b-795410b881c5" style="max-height: 200px;">
            </div>
           
        </div>
        <br>

        <div class="columns is-centered ">
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fracketspecialisten-logo.png?alt=media&token=e2bebb15-c3c8-481a-977f-b2d2c21a9f51" style="max-height: 200px;">
            </div>
            
          
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fnedladdning.png?alt=media&token=e8d1bcd0-c64d-48b8-be47-476d31465753" style="max-height: 200px;">
            </div>

            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FJetpak_logo_PMS_2035C-2.png?alt=media&token=c7e56df7-e6f6-4a56-8454-4c7e868bc8c3" style="max-height: 200px;">
            </div>

            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FMorsjoDeli_logo_ratt.png?alt=media&token=01348416-eb2d-408a-b3f5-1b44c931538d" style="max-height: 200px;">
            </div>
           
        </div>
        <br>

        <div class="columns is-centered ">
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fkakservice-logo.jpg?alt=media&token=a7764c60-7c2f-441d-855b-956983202f5a" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Far_logo_tagline_R_turquoise.png?alt=media&token=dc16c7d0-36f5-45a6-a3ad-aee4a3630e3c" style="max-height: 200px;">
            </div>
            <div class="column">
             
                <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fimages.jpg?alt=media&token=017e9e0a-86e8-4525-ad29-e5ae34f3aacc" style="max-height: 200px;">
            </div>
        </div>
        <br>
      </div>
    </div>
  </section>
  

  