<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
          <h2 class="title is-1 is-spaced" style="text-transform: uppercase">Mässkarta 2022</h2>
          <h2 class="subtitle is-6">Nedan kan du se en karta över var varje företag står på mässområdet. Då olika företag är på plats på mässan olika dagar, så kan du på vänster sida se vilken dag respektive företag ställer ut. Du kan även hitta var lounger, garderober och annat kul finns!</h2> </div>
      </div>
      <div class="column is-centered ">
        <img alt="map"  style="max-width: 100%;" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/map.png?alt=media&token=2044265b-6732-467d-b6f3-ed0926670ec5">
      </div>
    </div>
  </div>
</div>

