<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
          <h2 class="title is-1 is-spaced" style="text-transform: uppercase">Mässkarta</h2>
          <h2 class="subtitle is-6">Nedan kan du se en karta över var varje företag står på mässområdet. Du kan även söka efter företag eller en specifik plats i sökfältet för att hitta det du söker efter. Då olika företag är på plats på mässan olika dagar kan du även välja vilken dag du är intresserad av att kolla på i kartans nedre högra hörn. </h2> </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <!-- <div id="mapwize"></div> -->
</section>
