<body>

  <!-- <div id="particles-js"></div> -->


  <section class="hero is-fullheight has-bg-img">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Logga_vit.png?alt=media&token=bc67f9d5-f57d-470b-b18e-0cb513b78108"
          alt="TEAM-dagarna" style="max-height: 310px;">

        <h2 class="title" style="font-size: 30px; color: white;">26-27 september 2023</h2>

        <h2 class="title is-italic" style="font-size: 30px; color: white;">
          Där du lägger ditt karriärspussel!
        </h2>

        <h2 class="title" style="font-size: 30px; color: white;">Sugen på att intresseanmäla ditt företag?</h2>
        <br>
        <a class="apply-button" id="apply-button" href="https://forms.gle/uDT4f13wPYeVYTsz8" target="_blank"><span>Till
            anmälan</span><span class="icon" id="pink-icon"><i class="fas fa-external-link-alt"></i></span></a> <br>
        <br>
        <br>

        <div class="columns is-centered ">
          <div class="column is-5">
            <div class="block">

              <div class="level is-size-2">
                <div class="level-item has-text-centered"></div>
                <div class="level-item has-text-centered"></div>
                <div class="level-item has-text-centered">

                  <a href="https://www.linkedin.com/company/teamdagarna/" target="_blank"
                    class="level-item has-text-centered">
                    <span class="icon" style="color: white;" id="clickable-icon"><i
                        class="fab fa-linkedin-in"></i></span>
                  </a>
                </div>
                <div class="level-item has-text-centered">

                  <a href="https://www.facebook.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                    <span class="icon" style="color: white;" id="clickable-icon"><i
                        class="fab fa-facebook-f"></i></span>
                  </a>

                </div>
                <div class="level-item has-text-centered">

                  <a href="https://www.instagram.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                    <span class="icon" style="color: white;" id="clickable-icon"><i class="fab fa-instagram"></i></span>
                  </a>
                </div>
                <div class="level-item has-text-centered"></div>
                <div class="level-item has-text-centered"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>



  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">

        <div class="columns is-centered ">
          <div class="column is-9">
            <div class="block">

              <h2 class="title is-1 is-spaced" style="text-transform: uppercase">Drivna studenter & drömföretag</h2><br>
              <h3 class="subtitle is-6 "> Ända sedan starten har vårt mål varit att varje år koppla samman drivna
                studenter på Linköpings
                Universitet med Sveriges främsta företag. I år anordnar vi TEAM-dagarna för 39:e året i rad och vi kunde
                inte vara mer taggade på
                att få hålla i TEAM-dagarna 2023! Nedan syns resultatet för 2022:</h3>
            </div><br>
            <!-- </div>
      </div>
 
      <div class="columns is-centered ">
        <div class="column is-11"> -->
            <div class="block">
              <nav class="level is-mobile is-centered">
                <div class="level-item has-text-centered ">
                </div>

                <div class="level-item has-text-centered ">
                  <div>
                    <span class="icon is-medium">
                      <i class="fas fa-briefcase fa-2x"></i>
                    </span>

                    <!-- <span class="title is-3">&nbsp;**</span> -->
                    <p class="title is-2"> 77</p>


                    <p class="title is-5">Företag</p>
                  </div>
                </div>

                <div class="level-item has-text-centered ">
                  <div>
                    <span class="icon is-medium">
                      <i class="fas fa-graduation-cap fa-2x"></i>
                    </span>
                    <p class="title is-2">4000</p>
                    <!-- <span class="title is-3">&nbsp;4000</span> -->
                    <p class="title is-5">Studenter</p>
                  </div>
                </div>

                <div class="level-item has-text-centered ">
                  <div>
                    <span class="icon is-medium">
                      <i class="fas fa-handshake fa-2x"></i>
                    </span>
                    <p class="title is-2">2</p>

                    <!-- <span class="title is-3">&nbsp;&nbsp;2</span> -->
                    <p class="title is-5">Dagar</p>
                  </div>
                </div>
                <div class="level-item has-text-centered ">
                </div>
              </nav>

            </div>


          </div>
        </div>

      </div>
    </div>

  </section>



  <section class="hero is-fullheight" id="hero-img">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        <!-- 
        <h1 class="title is-1" style="color: white;"><br>Tagga TEAM 2022!</h1>
        <div id="theEndIsNear" class="subtitle is-1">{{ days }}d {{ hours }}h {{ minutes }}m {{ seconds }}s</div> -->

        <p class="title is-2" style="color: white; text-transform: uppercase;">Ladda ner appen</p><br>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/QR-code-rounded.png?alt=media&token=35e8535e-7e44-466f-8890-0215230022b4"
          alt="QR-kod" style="max-height: 220px;">

      </div>
    </div>
  </section>

  <section class="hero is-halfheight">
    <!-- <div class="hero-body ">
        <div class="container ">
          <div class="container has-text-centered">
            <h2 class="title is-3 is-spaced" style="text-transform: uppercase"> Arrangörer </h2>
          </div>
        </div>
      </div> -->

    <div class="hero-body ">
      <div class="container hsp">
        <div class="section-body is-coverage is-medium hsp">

          <div class="columns is-centered">

            <div class="column is-10">

              <div class="container has-text-centered">
                <h2 class="title is-4 is-spaced" style="text-transform: uppercase"> Arrangörer </h2>
              </div> <br>

              <div class="level is-mobile">

                <div class="level-item ">
                  <a href="http://www.isektionen.se" target="_blank ">
                    <img style="max-height: 145px;" alt="Industriell Ekonomi " role="presentation "
                      src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/I-logga.png?alt=media&token=001ebdd1-7045-44ae-bb9a-12acc77b11fc">
                  </a>
                </div>

                <div class="level-item">
                  <a href="https://elin.se" target="_blank ">
                    <img style="max-height: 145px;" alt="Elin " role="presentation "
                      src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/ELIN%20(1).png?alt=media&token=5b5b2bc8-0e7f-40ce-bc80-dc5312fe7c1d">
                  </a>
                </div>

              </div>

              <div class="container has-text-centered">
                <a class="button is-inverted is-outlined is-medium" [routerLink]="['companies']">Företagen 2022</a>
              </div>

            </div>



            <div class="column is-10">

              <h2 class="title is-4 is-spaced" style="text-transform: uppercase; text-align: center;">
                Huvudsamarbetspartner </h2><br>

              <div style="text-align: center;">
                <a href="https://www.exsitec.se/" target="_blank ">
                  <img style="max-height: 55px; align-self: center;" alt="Exsitec " role="presentation "
                    src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Exsitec_Logo_L_Rubine_RGB.png?alt=media&token=49de7f59-22fb-4a72-89ac-02019afb5285">
                </a>
              </div><br>


              <h2 class="title is-4 is-spaced" style="text-transform: uppercase; text-align: center;"> Premium Partner
              </h2><br>
              <div style="text-align: center;">
                <a href="https://home.kpmg/se/sv/home.html" target="_blank ">
                  <img style="max-height: 65px; align-self: center;" alt="KPMG" role="presentation "
                    src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/KPMG-Logo_Blue.png?alt=media&token=b2f26ec1-6445-4402-bab7-ee412a9237bc">
                </a>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container"> -->
    <!-- <div class="section-body is-coverage is-medium hsp"> -->

    <!-- <div class="columns is-centered">

        <div class="column is-8">
          <h2 class="title is-3 is-spaced" style="text-transform: uppercase; text-align: center;">Huvudsamarbetspartner </h2><br><br>

          <div style="text-align: center;">
            <a href="https://www.exsitec.se/" target="_blank ">
              <img style="max-height: 50px; align-self: center;" alt="Exsitec " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Exsitec_Logo_L_Rubine_RGB.png?alt=media&token=49de7f59-22fb-4a72-89ac-02019afb5285">
            </a> 
          </div>

        </div>

        <div class="column is-8">
          <h2 class="title is-3 is-spaced" style="text-transform: uppercase; text-align: center;"> Premium Partner </h2><br><br>
          <div style="text-align: center;">
          <a href="https://home.kpmg/se/sv/home.html" target="_blank ">
            <img style="max-height: 60px; align-self: center;" alt="KPMG" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/KPMG-Logo_Blue.png?alt=media&token=b2f26ec1-6445-4402-bab7-ee412a9237bc">      
            </a> </div>
        </div>

      </div>  -->

    <!-- </div> -->
    <!-- </div> -->

  </section>

</body>