@media screen and (min-width: 769px) {
  .has-bg-img {
    background: url("https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Kopia%20av%20Bakgrund2021-2.png?alt=media&token=dcf46027-ad4e-4339-a83e-c08d0d37d133");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}

i .fas {
  padding-top: 10%;
}

img {
  padding-bottom: 3%;
  height: auto;
  max-width: 100%;
}

.hsp {
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  display: flex;
}

.section .level-item {
  max-height: 80px;
  max-width: 140px;
}

.hsp-section {
  background-color: #fbfbfd;
}

.is-coverage {
  .level {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.is-clickable {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .title.is-2.smaller-text {
    scale: 80%;
  }
}

@media screen and (max-width: 768px) {
  .title.smaller-text {
    scale: 70%;
  }
}
@media screen and (max-width: 768px) {
  .level.is-size-2 {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .hide-on-small-screen {
    display: none;
  }
}

@keyframes gradientMove {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.moving-background {
  background: radial-gradient(circle, #d63261, #e75b89, #f8a093);
  background-size: 300% 300%;
  height: 100vh;
  animation: gradientMove 10s infinite alternate ease-in-out;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.countdown .time-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
}

.countdown .time-block small {
  font-size: 17px;
  font-weight: 300;
  color: inherit;
}