<body>

<!-- <div id="particles-js"></div> -->


<section class="hero is-fullheight has-bg-img">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Logga_vit.png?alt=media&token=bc67f9d5-f57d-470b-b18e-0cb513b78108" alt="TEAM-dagarna" style="max-height: 290px;" >

        <h2 class="title" style="font-size: 30px; color: white;">27-28 september 2022</h2><br>

        <h2 class="title is-italic" style="font-size: 30px; color: white;">
          Där du lägger ditt karriärspussel!
        </h2> 
      </div>
    </div>
</section>



<section class="hero is-fullheight">


  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-8">
          <div class="block">

              <h2 class="title is-1 is-spaced" style="text-transform: uppercase">Drivna studenter & drömföretag</h2>
              <h3 class="subtitle is-5 "> Ända sedan starten har vårt mål varit att varje år koppla samman drivna studenter på Linköpings Universitet och Sveriges främsta företag. I år anordnar vi TEAM-dagarna för 38:e året och vi kunde inte vara mer taggade på att få hålla i TEAM-dagarna 2022!</h3>
          </div>
        </div>
      </div>
      <div class="columns is-centered ">
        <div class="column is-8">


        </div>
        
      </div>
 
      <div class="columns is-centered ">
        <div class="column is-10">
          <div class="block">
          <nav class="level is-mobile is-centered">
            <div class="level-item has-text-centered ">
            </div>

            <div class="level-item has-text-centered ">
              <div>
                <span class="icon is-medium">
                  <i class="fas fa-briefcase fa-2x"></i>
                </span>
                <!-- <span class="title is-3">&nbsp;**</span> -->
                <p class="title is-2"> 75</p>

  
                <p class="title is-5">Företag</p>
              </div>
            </div>

            <div class="level-item has-text-centered ">
              <div>
                <span class="icon is-medium">
                  <i class="fas fa-graduation-cap fa-2x"></i>
                </span>
                <p class="title is-2">4000</p>
                <!-- <span class="title is-3">&nbsp;4000</span> -->
                <p class="title is-5">Studenter</p>
              </div>
            </div>

            <div class="level-item has-text-centered ">
              <div>
                <span class="icon is-medium">
                  <i class="fas fa-handshake fa-2x"></i>
                </span>
                <p class="title is-2">2</p>

                <!-- <span class="title is-3">&nbsp;&nbsp;2</span> -->
                <p class="title is-5">Dagar</p>
              </div>
            </div>
            <div class="level-item has-text-centered ">
            </div>
  

          </nav>

      </div>       
     </div>
      </div>

      </div>
  </div>

</section> 



<section class="hero is-fullheight" id="hero-img">
  <div class="hero-body ">
    <div class="container ">
      <div class="container has-text-centered">



        <h1 class="title is-1" style="color: white;"><br>Tagga TEAM 2022!</h1>
        <div id="theEndIsNear" class="subtitle is-1">{{ days }}d {{ hours }}h {{ minutes }}m {{ seconds }}s</div>
        <!-- <h1 class="title is-5" style="color: white;">Linköpings Universitet den 27-28 september</h1> -->
        
        <!-- <h1 class="title is-4 has-text-white">Nu har vi släppt företagen för 2020 och möjligheten att söka kontaktsamtal har nu öppnat för årets mässa! </h1>
        <div class="subtitle has-text-white"> Kanske hittar du din framtida arbetsgivare? Kolla in katalogen!</div>
        <a class="button is-primary is-inverted is-outlined is-large" [routerLink]="['companies']">Företagen 2020</a>&nbsp;
        <a class="button is-primary is-inverted is-outlined is-large" [routerLink]="['interview']">Sök kontaktsamtal!</a>  -->


        <h1 class="title is-3" style="color: white;"><br><br>Följ TEAM-dagarna på sociala medier</h1><br>
        <div class="columns is-centered ">
          <div class="column is-5">
            <div class="block">
            <!-- <nav class="level is-mobile is-centered">
  
              <div class="level-item has-text-centered ">
                <div>
                  
                  <a href="https://www.linkedin.com/company/teamdagarna/" target="_blank" class="level-item has-text-centered">
                    <span class="icon is-large" id="clickable-icon">
                      <i class="fab fa-linkedin-in fa-2x"></i>
                    </span></a>              
                </div>
              </div>
  
              <div class="level-item has-text-centered ">
                <div>
         
                <a href="https://www.facebook.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                    <span class="icon is-large" id="clickable-icon"><i class="fab fa-facebook-f fa-2x"></i></span>
                                </a>

                </div>
              </div>
  
              <div class="level-item has-text-centered ">
                <div>
                  <a href="https://www.instagram.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                    <span class="icon is-large" id="clickable-icon"><i class="fab fa-instagram fa-2x"></i></span>
                </a>

                </div>
              </div>
    
  
            </nav> -->

            <div class="level is-size-2">
              <div class="level-item has-text-centered"></div>
              <div class="level-item has-text-centered"></div>
              <div class="level-item has-text-centered">

              <a href="https://www.linkedin.com/company/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                  <span class="icon" id="clickable-icon"><i class="fab fa-linkedin-in"></i></span>
                              </a>
              </div>
              <div class="level-item has-text-centered">

              <a href="https://www.facebook.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                  <span class="icon" id="clickable-icon"><i class="fab fa-facebook-f"></i></span>
                              </a>

              </div>
              <div class="level-item has-text-centered">

              <a href="https://www.instagram.com/teamdagarna/" target="_blank" class="level-item has-text-centered">
                                  <span class="icon" id="clickable-icon"><i class="fab fa-instagram"></i></span>
                              </a>
              </div>
              <div class="level-item has-text-centered"></div>
              <div class="level-item has-text-centered"></div>


            </div>  
            </div>
          </div>


   
        
        </div>

      </div>
    </div>
  </div>
</section>

<section class="hero is-fullheight-with-navbar" id="pink-section">
      <div class="hero-body ">
        <div class="container ">
          <div class="container has-text-centered">
            <h2 class="title is-3 is-spaced" style="text-transform: uppercase"> Arrangörer & Huvudsamarbetspartners </h2>
          </div>
        </div>
      </div>

  <div class="container hsp">
    <div class="section-body is-coverage is-medium hsp">
      <div class="columns is-centered">
        <div class="column is-12">
          <div class="level is-mobile">
            <div class="level-item ">
              <a href="http://www.isektionen.se" target="_blank ">
                    <img style="max-height: 135px;" alt="Industriell Ekonomi " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/I-logga.png?alt=media&token=001ebdd1-7045-44ae-bb9a-12acc77b11fc">
                  </a>
            </div>
            <div class="level-item">
              <a href="https://elin.se" target="_blank ">
              <img style="max-height: 135px;" alt="Elin " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/ELIN%20(1).png?alt=media&token=5b5b2bc8-0e7f-40ce-bc80-dc5312fe7c1d">
            </a>
            </div>
            <!-- <div class="level-item">
              <a href="https://sebgroup.com/sv/karriar" target="_blank ">
                <img style="max-height: 90px;" alt="SEB " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/companylogos%2F1602170753422_1566312010661_SEB%20LOGGA%20(1).png?alt=media&token=d3e94590-749b-484f-9cbe-cebe782b529a">
              </a>
            </div>
            <div class="level-item">
              <a href="https://www.exsitec.se/" target="_blank ">
              <img style="max-height: 90px;" alt="Exsitec " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/companylogos%2F1602170986739_1565281091092_Exsitec_Logo_L_Rubine_RGB%20(1).png?alt=media&token=70838e20-5133-4a38-8f1e-a2bf434dfc22 ">
            </a> -->
            <!-- </div>  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Under nästa sektion finns den vanliga texten som brukar stå på hemsidan när det inte är covid-->




 <!-- <section class="section ">
  <div class="container ">
    <div class="section-header has-text-centered ">
      <div class="columns is-centered ">
        <div class="column is-6 ">
          <h2 class="title is-1 is-spaced ">Drivna studenter och drömföretag</h2>
          <h3 class="subtitle is-5 "> Ända sedan starten har vårt mål varit att varje år koppla samman drivna studenter på Linköpings Universitet och Sveriges främsta företag. I år anordnar vi TEAM-dagarna för 36:e året och vi kunde inte vara mer taggade på att få se campus åter fyllas med framtid, inspiration och glädje.</h3>
        </div>
      </div>
      <div class="columns is-centered ">
        <div class="column is-4 has-text-centered">
          <nav class="level is-mobile is-centered">
            <div class="level-item has-text-centered ">
              <div>
                <p class="heading ">Företag</p>
                <p class="title ">89</p>
              </div>
            </div>
            <div class="level-item has-text-centered ">
              <div>
                <p class="heading ">Studenter</p>
                <p class="title ">4000</p>
              </div>
            </div>
            <div class="level-item has-text-centered ">
              <div>
                <p class="heading ">Dagar</p>
                <p class="title ">2</p>
              </div>
            </div>
          </nav>
        </div>
      </div>

    </div>
  </div>
</section>  -->

<!--
<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12 is-10-fullhd">
          <div class="columns is-vcentered">
            <div class="column is-half">
              <div class="title has-text-white">Nu har vi släppt företagen för 2020</div>
              <div class="subtitle has-text-white"> Kanske hittar du din framtida arbetsgivare? Kolla in katalogen!</div>
            </div>
            <div class="column is-half">
              <a class="button is-primary is-inverted is-outlined is-large is-pulled-right" [routerLink]="['companies']">Företagen 2020</a>
            </div>
          </div>
          <br>
          <br>
          <div class="columns is-vcentered">
            <div class="column is-half">
              <div class="title has-text-white">Nu har vi släppt evenemangen för mässdagarna 2020</div>
              <div class="subtitle has-text-white"> Läs mer om evenemangen och anmäl dig! </div>
            </div>
            <div class="column is-half">
              <a class="button is-primary is-inverted is-outlined is-large is-pulled-right" [routerLink]="['events']">Evenemangen 2020</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
 <!-- <section class="section">
  <div class="section-header has-text-centered">
    <h2 class="title is-6 is-spaced"> Sponsorer & samarbetspartners</h2>
  </div>
</section> -->
<!-- <section class="section">
  <div class="container">
    <div class="columns is-centered is-multiline is-mobile">
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="BE " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FBE.png?alt=media&token=3ab02cfd-c1e9-4b84-9c92-73fdeded3058">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Bores " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FBores.jpg?alt=media&token=84b16626-2613-43ea-bac3-2416b0c54a7d">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Corlin Eyewear " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FCorlin%20Eyewear.png?alt=media&token=adf4f176-98c9-4075-813c-d92186076580">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="El Taco Truck " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FElTacoTruck.png?alt=media&token=80c38ef2-7455-4303-a9b8-da4aa2a2df0b">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Jetpack " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FJetpak_logga_payoff%20%C3%B6ver_CMYK%20tiny.png?alt=media&token=b4ccf450-9b79-41f8-b745-9aab8f659fcd">
        </div>
      </div>
       
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Knorr " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FKnorr_MasterLogo_RGB%20tiny.png?alt=media&token=a12fb409-4c91-468b-84f9-cf352387ef7e">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Life by follis " role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FLife_by_Follis_911%20tiny.png?alt=media&token=a92f9126-a0ea-4dda-9f91-3783afd1928c">
        </div>
      </div> 
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Love Breath" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FLoveBreath_Logo_Melon%20tiny.png?alt=media&token=4367a4b1-cb1d-4589-a1ff-3cd736602693">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Qatar airways" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FQR-Logo-Full-Colour-Horizontal%20tiny.png?alt=media&token=0878f08e-ea97-47da-ac54-dc6cc8d909cb">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Sandqvist" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FSundquist%20tiny.png?alt=media&token=b8f61b97-f493-4399-8a32-a69e56f978b2">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Svenska lantchips" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FSvenska%20LantChips%20Logotype%20tiny.jpg?alt=media&token=71556746-7bd7-4f3d-b58e-1b0be94c6d75">
        </div>
      </div> 
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="UA" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FUa-logo-centrerad-positiv%20tiny.png?alt=media&token=3877e15c-5d1a-4f41-aceb-f66f5dda21b0">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Whitelines" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FWhitelines%20svart_big%20tiny.png?alt=media&token=ff2509b1-c71c-4d28-858f-be2581198121">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Europecar" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Feuropcar.jpg?alt=media&token=72d96059-4fce-4d40-bda6-9e62aa34d829">
        </div>
      </div> 
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Leksands knäckebröd" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FmarkeCMYK_rektang_deskript%20150%20tiny.jpg?alt=media&token=4f840575-2eca-4b80-94df-001235add898">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Quick" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fqick.png?alt=media&token=fc596ac3-3694-4ccd-affc-65cb850cad4d">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Apoteket" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2Fapotek.png?alt=media&token=d9819460-d5fc-4434-abcc-7662c7322f62">
        </div>  
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Lofbergs" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sponsors%2FLofbergs_Lockup_RGB%20tiny.png?alt=media&token=018460f9-4e4e-4c0b-9068-1b92bf5adabc">
        </div>  
      </div>
    </div>
  </div>
</section>  -->




<!--

<section class="section is-blog ">
  <div class="container ">
    <div class="columns is-centered ">
      <div class="column is-10-fullhd is-12 ">
        <div class="section-header ">
          <div class="header is-spaced ">
            <h1 class="title is-4 ">Latest articles</h1> </div>
        </div>
        <div class="section-body ">
          <div class="articles ">
            <div class="columns has-equal-heights ">
              <div class="column is-6 ">
                <div class="article-item is-large ">
                  <a class="article-cover " href="/blog/how-story-helps-children-with-their-new-environment/ ">
                    <div class="article-image " style="background-image: url( 'https://images.pexels.com/photos/949129/pexels-photo-949129.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); "></div>
                  </a>
                  <div class="article-content ">
                    <h2> <a class="article-title " href="/blog/how-story-helps-children-with-their-new-environment/ ">How Story Helps Children with Their New Environment</a></h2>
                    <p class="article-meta "> <span>by Kusumatuti Fischer</span> </p>
                  </div>
                </div>
              </div>
              <div class="column is-6 ">
                <div class="article-item is-large ">
                  <a class="article-cover " href="/blog/dyslexia-when-your-child-wears-a-different-crown/ ">
                    <div class="article-image " style="background-image: url( 'https://images.pexels.com/photos/949129/pexels-photo-949129.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); "></div>
                  </a>
                  <div class="article-content ">
                    <h2> <a class="article-title " href="/blog/dyslexia-when-your-child-wears-a-different-crown/ ">Dyslexia - When your Child Wears a Different Crown</a></h2>
                    <p class="article-meta "> <span>by Catarina Nordin</span> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- <div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12 is-10-fullhd">
          <div class="columns is-vcentered">
            <div class="column is-half">
              <div class="title has-text-white">Nu har vi släppt företagen för 2018</div>
              <div class="subtitle has-text-white"> Kanske hittar det din framtida arbetsgivare? Kolla in katalogen!</div>
            </div>
            <div class="column is-half">
              <a class="button is-primary is-inverted is-outlined is-large is-pulled-right">Företagen 2020</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

</body>
