<!-- <div id="particles-js"></div> -->
<section class="section is-hero has-bg-img">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6 is-5-fullhd is-offset-1-fullhd">
        <div class="section-header">
          <h1 class="title is-spaced is-1"> Teamdagarna 2018 -<span class="is-hidden-touch"><br></span> Där framtiden klarnar </h1>
          <h2 class="subtitle is-3"> Vi välkomnar återigen studenter och företag till en av Sveriges största arbetsmarknadsmässor.</h2>
          <h2 class="subtitle is-6"> Linköpings Universitet den 25-26 september.</h2>

          <a class="button is-primary" [routerLink]="['companies']" style="margin: 4px 4px 8px 0;">Företagen 2018</a>
          <a class="button is-primary is-outlined " style="margin: 4px 4px 8px 0;" [routerLink]="['about']">Om mässan</a>
          <br>
          <br>
          <div class="has-tint has-text-weight-semibold has-text-primary"><i class="fas fa-leaf "></i><span> Ett Miljömärkt Event</span></div>
        </div>
      </div>
      <div class="column is-6 ">
        <div class="section-media "> <img role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/hero-puzzle.png?alt=media&token=33f67c07-f1c8-4e54-adaf-2927afb4ac07" srcset=" https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/hero-puzzle.png?alt=media&token=33f67c07-f1c8-4e54-adaf-2927afb4ac07 1x, https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/hero-puzzle.png?alt=media&token=33f67c07-f1c8-4e54-adaf-2927afb4ac07
            2x ">

        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-primary ">
  <div class="hero-body ">
    <div class="container ">
      <div class="container has-text-centered">
        <h1 class="title is-3 has-text-white">Tagga team!</h1>
        <div id="theEndIsNear" class="subtitle is-1 has-text-white"></div>
        <h1 class="title is-5 has-text-white">Linköpings Universitet den 25-26 september</h1>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="section-header has-text-centered">
    <h2 class="title is-6 is-spaced"> Arrangörer & Huvudsamarbetspartners</h2>
  </div>
</section>


<section class="section is-coverage is-medium hsp">

  <div class="container">


    <div class="section-body has-text-centered">
      <div class="columns is-centered">
        <div class="column is-12">
          <div class="level is-mobile">
            <div class="level-item ">
              <a href="http://www.isektionen.se" target="_blank ">
                    <img style="max-height: 90px;" alt="Industriell Ekonomi " role="presentation " src="http://www.isektionen.se/static/isektionen/isektionen-loga.png ">
                  </a>
            </div>
            <div class="level-item">
              <a href="https://elin.se" target="_blank ">
              <img style="max-height: 90px;" alt="Elin " role="presentation " src="/assets/img/icons/elin-logo.png ">
            </a>
            </div>
            <div class="level-item">
              <a href="https://sebgroup.com/sv/karriar" target="_blank ">
                <img style="max-height: 90px;" alt="SEB " role="presentation " src="https://sebgroup.com/globalassets/download-logotype/seb_k_45mm150dpi.jpg ">
              </a>
            </div>
            <div class="level-item">
              <a href="https://home.kpmg.com/se/sv/home/karriar/karriar-for-studenter.html" target="_blank ">
              <img style="max-height: 90px;" alt="KPMG " role="presentation " src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/KPMG_blue_logo.svg/1200px-KPMG_blue_logo.svg.png ">
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="section ">
  <div class="container ">
    <div class="section-header has-text-centered ">
      <div class="columns is-centered ">
        <div class="column is-6 ">
          <h2 class="title is-1 is-spaced ">Drivna studenter och drömföretag</h2>
          <h3 class="subtitle is-5 "> Ända sedan starten har vårt mål varit att varje år koppla samman drivna studenter på Linköpings Universitet och Sveriges främsta företag. I år anordnar vi Teamdagarna för 34:e året och vi kunde inte vara mer taggade på att få se campus åter fyllas med framtid, inspiration och glädje.</h3>
        </div>
      </div>
      <div class="columns is-centered ">
        <div class="column is-4 has-text-centered">
          <nav class="level is-mobile is-centered">
            <div class="level-item has-text-centered ">
              <div>
                <p class="heading ">Företag</p>
                <p class="title ">89</p>
              </div>
            </div>
            <div class="level-item has-text-centered ">
              <div>
                <p class="heading ">Studenter</p>
                <p class="title ">4000</p>
              </div>
            </div>
            <div class="level-item has-text-centered ">
              <div>
                <p class="heading ">Dagar</p>
                <p class="title ">2</p>
              </div>
            </div>
          </nav>
        </div>
      </div>

    </div>
  </div>
</section>


<div class="hero is-primary
 is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12 is-10-fullhd">
          <div class="columns is-vcentered">
            <div class="column is-half">
              <div class="title has-text-white">Nu har vi släppt företagen för 2018</div>
              <div class="subtitle has-text-white"> Kanske hittar du din framtida arbetsgivare? Kolla in katalogen!</div>
            </div>
            <div class="column is-half">
              <a class="button is-primary is-inverted is-outlined is-large is-pulled-right" [routerLink]="['companies']">Företagen 2018</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="section-header has-text-centered">
    <h2 class="title is-6 is-spaced"> Sponsorer & samarbetspartners</h2>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered is-multiline is-mobile">
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Bubs " role="presentation " src="/assets/img/icons/spons/bubs.png ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Linds Konditori " role="presentation " src="/assets/img/icons/spons/linds.jpg ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Delibake " role="presentation " src="/assets/img/icons/spons/delibake.png ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Leksands " role="presentation " src="/assets/img/icons/spons/leksands.jpg ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Pantamera " role="presentation " src="/assets/img/icons/spons/pantamera.jpg ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Smiling " role="presentation " src="/assets/img/icons/spons/smiling.png ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Vitamin Well " role="presentation " src="/assets/img/icons/spons/ww.jpg ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Plantagen " role="presentation " src="/assets/img/icons/spons/plantagen.jpg ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Hultén " role="presentation " src="/assets/img/icons/spons/hulten.png ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Lidl " role="presentation " src="/assets/img/icons/spons/lidl.jpg ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Ljungstedtska" role="presentation " src="/assets/img/icons/spons/ljungstedtska.jpg ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Café Bar" role="presentation " src="/assets/img/icons/spons/cafebar.jpg ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Caliente" role="presentation " src="/assets/img/icons/spons/caliente.png ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Body Shop" role="presentation " src="/assets/img/icons/spons/bodyshop.jpg ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Coop" role="presentation " src="/assets/img/icons/spons/coop.png ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Kinnarps" role="presentation " src="/assets/img/icons/spons/kinnarps.jpg ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Make Up Store" role="presentation " src="/assets/img/icons/spons/makeupstore.png ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Studiefrämjandet" role="presentation " src="/assets/img/icons/spons/studieframjandet.png ">
        </div>
      </div>
      <div class="column is-2 is-6-mobile">
        <div class="level-item">
          <img style="max-height: 60px;" alt="Forte" role="presentation " src="/assets/img/icons/spons/forte.png ">
        </div>
      </div>
    </div>
  </div>
</section>




<!--

<section class="section is-blog ">
  <div class="container ">
    <div class="columns is-centered ">
      <div class="column is-10-fullhd is-12 ">
        <div class="section-header ">
          <div class="header is-spaced ">
            <h1 class="title is-4 ">Latest articles</h1> </div>
        </div>
        <div class="section-body ">
          <div class="articles ">
            <div class="columns has-equal-heights ">
              <div class="column is-6 ">
                <div class="article-item is-large ">
                  <a class="article-cover " href="/blog/how-story-helps-children-with-their-new-environment/ ">
                    <div class="article-image " style="background-image: url( 'https://images.pexels.com/photos/949129/pexels-photo-949129.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); "></div>
                  </a>
                  <div class="article-content ">
                    <h2> <a class="article-title " href="/blog/how-story-helps-children-with-their-new-environment/ ">How Story Helps Children with Their New Environment</a></h2>
                    <p class="article-meta "> <span>by Kusumatuti Fischer</span> </p>
                  </div>
                </div>
              </div>
              <div class="column is-6 ">
                <div class="article-item is-large ">
                  <a class="article-cover " href="/blog/dyslexia-when-your-child-wears-a-different-crown/ ">
                    <div class="article-image " style="background-image: url( 'https://images.pexels.com/photos/949129/pexels-photo-949129.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); "></div>
                  </a>
                  <div class="article-content ">
                    <h2> <a class="article-title " href="/blog/dyslexia-when-your-child-wears-a-different-crown/ ">Dyslexia - When your Child Wears a Different Crown</a></h2>
                    <p class="article-meta "> <span>by Catarina Nordin</span> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- <div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12 is-10-fullhd">
          <div class="columns is-vcentered">
            <div class="column is-half">
              <div class="title has-text-white">Nu har vi släppt företagen för 2018</div>
              <div class="subtitle has-text-white"> Kanske hittar det din framtida arbetsgivare? Kolla in katalogen!</div>
            </div>
            <div class="column is-half">
              <a class="button is-primary is-inverted is-outlined is-large is-pulled-right">Företagen 2018</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->