<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> TEAM:s hållbarhetsarbete</h1>
          <h2 class="subtitle">Nedan kan du läsa om hur vi på TEAM arbetar med mässans hållbarhet. </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="border-btm">
      <h1 class="title is-1">Hållbarhet</h1>
    </div>
    <div class="columns is-vcentered">
      <div class="column is-8">
        <p>Som en av Sveriges största arbetsmarknadsmässor, med cirka 4000 besökare samt ungefär 80 utställande företag, är det för TEAM-dagarna av största vikt att ta ansvar gällande hållbarhet. Därför arbetar vi i kommittén aktivt för att bidra till en mer hållbar framtid med förhoppningen att inspirera både studenter och besökande företag att följa i samma fotspår. </p> <br>
        <p>Kommittén verkar för att minska TEAM-dagarnas ekologiska fotavtryck och har därför valt att arbeta med <strong>Certifiering Hållbart Evenmangs</strong> verktyg via <strong>Greentime</strong>. Beslutet resulterar i att hela mässan genomsyras av ett hållbart tänk  - från första till sista beslut. Via stiftelsen <strong>Vi-skogen</strong>, vars arbete baseras på att odla träd i fyra länder runt Victoriasjön i östra Afrika, klimatkompenserar vi alla transporter i anslutning till mässan. Vi värdesätter miljön och för oss är det viktigt att våra val speglar det. </p> <br>
        <p>För att minska TEAM-dagarnas ekologiska fotavtryck arbetar vi aktivt inom så många olika områden vi kan - exempelvis genom smarta inköp, avfallshantering, transport samt mat och dryck. Vi siktar bland annat på att minimera vår förbrukning av engångsartiklar, minska materialinköp, servera vegetarisk mat samt tillgodose mässan med smart avfallshantering. </p> <br>
        <p>I och med att den största delen av kommunikationen gällande mässan sker via vår app och via sociala medier minskar mängden tryckt material i marknadsföringssyfte. Vi delar heller inte ut något buteljerat vatten under mässan. Utöver detta är priserna i årets mässtävling i stort sett uteslutande immateriella.</p> <br>
        <p>Vi tror starkt på att så länge vi gör en gemensam insats som ett team kan vi bidra till en mer hållbar framtid och hoppas därför att alla, såväl studenter som besökande företag, vill vara med oss i arbetet. Tillsammans gör vi skillnad! </p>
      </div>
      <!-- <div class="column">
        <div class="">
          <img class="" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/miljoevent.jpg?alt=media&token=b4b7a167-f126-429c-88d7-59039e21bae5">
        </div>

      </div> -->
    </div>
  </div>
</section>
