@media screen and (min-width: 769px) {
  .has-bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
      url("https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Hallbarhet.jpeg?alt=media&token=589411b7-ff9e-48ab-b231-a6a039d6735a");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media screen and (max-width: 768px) {
  .has-bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
      url("https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Hallbarhet.jpeg?alt=media&token=589411b7-ff9e-48ab-b231-a6a039d6735a");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
