<section class="hero is-fullheight has-bg-img">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
              <h2 class="title is-1 is-spaced" style="color: white; text-transform: uppercase">TEAMs hållbarhetspolicy</h2>
              <h3 class="subtitle is-6" style="color: white;">TEAM-dagarnas (fortsatt TEAM) vision är en hållbar mässa som uppmuntrar samtliga
                intressenter att verka för en hållbar framtid. TEAM strävar år efter år mot ständig förbättring
                inom alla dimensioner av begreppet hållbarhet och TEAM har i år 2024 hållbarhetscertifierats
                via Greentime.
                
                Nedan följer TEAMs hållbarhetspolicy och hur vi aktivt arbetar med hållbarhet. TEAM arbetar
                aktivt med hållbarhet gällande de aspekter vi kan påverka inom ekologisk, social samt
                ekonomisk hållbarhet.
                </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column" style="align-self: center;">
            <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/earthIcon.png?alt=media&token=bd13f9e8-a638-46ae-b2f5-58e95ef02e25" style="max-height: 230px;">
        </div>
        <div class="column">
          <h1 class="title is-3 is-spaced">Ekologisk Hållbarhet</h1>
          <p>
            TEAM arbetar för att öka medvetenheten kring hållbarhet hos alla de företag och studenter som besöker mässan, 
            samt för att minska mässans ekologiska fotavtryck. TEAM uppmuntrar sina långresande utställare att nyttja 
            klimatsmarta transportmedel och strävar mot att erbjuda enbart miljömärkta boendeanläggningar. TEAM följer 
            gällande miljölagstiftning, föreskrifter och regler samt håller sig kontinuerligt informerade om eventuella 
            ändringar av dessa.
            <br>
            TEAM arbetar förebyggande för att skapa en god attityd och ett beteende hos intressenter som främjar 
            hållbarhet. Under mässan, genom olika event inför mässan, och via våra marknadsföringskanaler ser vi till 
            att intressenter får information om miljöfrågor såsom resursanvändning, nedskräpning och klimatförändringar.
            <br>
            TEAM arbetar för att främja hållbara arbetssätt i sitt nätverk genom att ställa sociala krav likväl miljökrav 
            vid upphandling av varor och tjänster med leverantörer och samarbetspartners. TEAM arbetar för att minska sin 
            egen belastning på miljön genom att återanvända resurser, minimera förbrukning av engångsmaterial samt genom att 
            källsortera avfall och prioritera miljövänliga alternativ. Vid de tillfällen då mässan står för måltider erbjuder 
            TEAM endast vegetariska alternativ till sina värdar och utställare.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> 

<section class="hero ">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column">
          <h1 class="title is-3 is-spaced">Social Hållbarhet </h1>
          <p>
            TEAM ska vara en mässa som förknippas med etisk och social hållbarhet där mångfald och jämställdhet främjas. 
            TEAM vill att alla ska känna sig välkomna oavsett trosuppfattning, könsidentitet, etnisk tillhörighet, 
            funktionsvariation. Utställare, besökare och värdar ska känna sig trygga under alla TEAMs arrangemang. 
            <br>
            Linköpings Universitets “Handlingsplan för Lika Villkor och Jämställdhet 2024” med vision om att värna om allas lika värde, 
            lika möjligheter och lika rättigheter ligger till grund för allt arbete kring mässan.

          </p>
        </div>
        <div class="column" style="align-self: center;">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/handsIcon.png?alt=media&token=112b5a1b-2ab5-468d-8d8a-6b7f4dd3f57f" style="max-height: 220px;">
        </div>
      </div>
    </div>
  </div>
</section> 

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column" style="align-self: center;">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/economicIcon.png?alt=media&token=e6f9bae7-6bc6-4ddd-b97e-eefaea978a58" style="max-height: 200px;">
        </div>
        <div class="column">
          <h1 class="title is-3 is-spaced">Ekonomisk Hållbarhet</h1>
          <p>TEAM arbetar för att ha ett cirkulärt ekonomiskt tankesätt där återanvändning står i fokus. TEAM väljer 
            alternativet att hyra och låna av andra aktörer framför inköp där det är möjligt och arbetar för att minska 
            tryckt material som inte kan återanvändas. TEAM uppmuntrar sina utställare att använda digitala lösningar och 
            minimera användandet av engångsmaterial.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> 
<!-- 
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column">
          <h1 class="title is-3 is-spaced">Klimatkompensation</h1>
          <p>Mässans utsläpp kommer klimatkompenseras och i år bjuds företagen in att göra det tillsammans med TEAM. Alla deltagande företag erbjuds att klimatkompensera för sin medverkan på mässan 
            och vårt mål är att 75% av företagen väljer att bidra. 

            Klimatkompensationen görs genom Vi-Skogen som är en svensk biståndsorganisation som planterar träd i Tanzania, Kenya, Rwanda och Uganda för att kompensera för koldioxidutsläpp. Planteringen bidrar utöver 
            kompensationen till att bekämpa fattigdom och förbättra livsmiljön för de människor som riskerar att drabbas hårdast av klimatförändringarna. Här kan du läsa mer om Vi-Skogen och deras arbete: 
            <a href="https://viskogen.se/om-oss/">viskogen.se/om-oss</a>
          </p>
          <br>
        </div>
        <div class="column" style="align-self: center;">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Vi-Skogen.png?alt=media&token=fc52de2b-8d90-40f2-9086-67623ecc1a12" style="max-height: 240px;">
      </div>
      </div>
    </div>
  </div>
</section> 


<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column">
          <h1 class="title is-3 is-spaced">Greentime</h1>
          <p>TEAM-dagarna certifieras i år som hållbart evenemang av Greentime. I utformningen av TEAM-dagarna har vi jobbat utifrån Greentimes 148 konkreta hållbarhetskrav som tar hänsyn till social, ekonomisk och ekologisk hållbarhet. 
            Våra planer kring dessa krav har granskats av en oberoende revisor och en platskontroll kommer genomföras under mässan för att säkerställa att mässan sker på det hållbara sätt som planerats. Genom att få hjälp med 
            hållbarhetsarbetet och att det bedöms av en utomstående part garanteras både uppriktighet och ett genomtänkt hållbarhetsarbete. Här kan ni läsa mer om Greentime och certifieringen hållbart evenemang: 
            <a href="https://greentime.se/">greentime.se/</a>
          </p>
          <br>
        </div>
        <div class="column" style="align-self: center;">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/CHE_Certifikat_2022_SV2-2.png?alt=media&token=d1b0980d-4298-4929-b044-3f1b600249f9" style="max-height: 240px;">
      </div>
      </div>
    </div>
  </div>
</section>  -->



<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column">
          <h1 class="title is-3 is-spaced">Klimatkompensation</h1>
          <p>Mässans utsläpp kommer klimatkompenseras och i år bjuds företagen in att göra det
            tillsammans med TEAM. Alla deltagande företag erbjuds att klimatkompensera för sin
             medverkan på mässan och vårt mål är att 70% av företagen väljer att bidra. 
           Klimatkompensation sker via organisationen Klimatkompensera.se som just nu finansierar
            projektet Bhadla Solar som ersätter kolkraft med förnybar solenergi i Indien. Genom att
             klimatkompensera era utsläpp i samband med mässan bidrar ni inte bara till att minska er
              klimatpåverkan, utan även till att bekämpa fattigdom och förbättra livsmiljön för de människor
               som riskerar att drabbas hårdast av klimatförändringarna. Här kan du läsa mer om 
               klimatkompsensera.se och deras aktuella projekt:
               <a href="https://klimatkompensera.se/vara-projekt/">klimatkompensera.se/vara-projekt/</a>
              </p>
          <br>
         <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/SVART%20logga%20(2).png?alt=media&token=2635b9fa-5191-43de-ad9b-3e37914afe57">
        </div>
        <div class="column">
          <h1 class="title is-3 is-spaced">Greentime</h1>
          <p>TEAM-dagarna 2024 certifieras som ett hållbart evenemang av Greentime. Detta är vi
             mycket stolta över och vårt samarbete med Greentime är en viktig del i TEAM-dagarnas
             arbete. I utformningen av TEAM-dagarna har vi jobbat utifrån Greentimes 148 konkreta
             hållbarhetskrav som tar hänsyn till social, organisatorisk och ekologisk hållbarhet.
             Våra planer kring dessa krav har granskats av en oberoende revisor och en platskontroll
             kommer att genomföras under mässan för att säkerställa att mässan sker på det hållbara
             sätt som planerats (klicka på loggan nedan för att läsa mer om vårt arbete för att nå
             certifieringen). Genom att få hjälp med hållbarhetsarbetet och att det bedöms av en
             utomstående part garanteras både uppriktighet och ett genomtänkt hållbarhetsarbete. 
             Här kan ni läsa mer om Greentime och certifieringen hållbart evenemang:
            <a href="https://greentime.se/">greentime.se/</a>
          </p>
          <br>
          <a href="https://greentime.se/">
            <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Certifikat_2024_01.png?alt=media&token=bb4db443-7431-4a77-a733-b7a0110aee1f" style="max-height: 250px;">
          </a>

        </div>
      </div>
    </div>
  </div>
</section> 

<section class="hero" id="pink-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <h1 class="title is-3 is-spaced">Det här gör TEAM</h1>

      <div class="columns is-centered ">
        <!-- <div class="column">
            <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/vareventet-2.jpg?alt=media&token=92974098-6605-467a-b02d-7cc7a543d942" style="max-height: 350px;">
        </div> -->
        <div class="column">
          <h5 class="title is-5 is-spaced">Grön Inför-dag</h5>
          <p>TEAM värderar hållbarhet högt och vill därför lyfta fram hållbarhet i alla våra aktiviteter. Därför kommer vi under Inför-dagarna att dedikera en dag till event som förhåller sig till miljö och hållbarhet som vi kallar vår Gröna Inför-dag. 
          <br>  
            Målet med dagen är att skapa samtal kring hållbarhetsfrågor där ett utbyte mellan studenter och företag ligger till grund. TEAM vill inspirera besökare genom att lyfta fram företag som har ett framstående hållbarhetsarbete. 
          </p>
        </div>
        <div class="column">
          <h5 class="title is-5 is-spaced">100% Vegetariskt</h5>
          <p>Eftersom TEAM strävar efter att minska klimatutsläpp kommer TEAM endast servera vegetarisk mat för att undvika klimatpåverkan som orsakas av köttindustrin. Under både Inför-dagarna och mässdagarna är all mat som serveras till utställare, besökare och värdar helt vegetarisk. </p>
        </div>
        <div class="column">
          <h5 class="title is-5 is-spaced">Cirkulärt Tankesätt</h5>
          <p>I TEAMs hållbarhetsarbete vill vi bidra till en mer cirkulär ekonomi och mindre nyproduktion. Därför har TEAM har som målsättning att hyra och låna material av andra aktörer till mässan, detta omfattar till exempel mässutrustning och möbler.  
            TEAM använder i största mån digitala lösningar istället för tryckt engångsmaterial som inte kan återanvändas. TEAM rekommenderar alla utställare att följa vårt exempel när det kommer till utdelning av engångsmaterial och information som kan 
            delges digitalt. TEAMs strävan är att allt nyproducerat tryckt material ska kunna återanvändas kommande år. 
            </p>
        </div>
      </div>
    </div>
  </div>
</section> 





<!-- Gammal hållbarhetstext

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
        
      <div class="columns is-centered ">
        <div class="column">
          <p>Arbetsmarknadsmässan TEAM-dagarnas (fortsatt TEAM) vision är en hållbar mässa som uppmuntrar samtliga intressenter att verka för en hållbar framtid. TEAM strävar år efter år mot ständig förbättring inom alla dimensioner av begreppet hållbarhet och TEAM 2022 kommer hållbarhetscertifieras via Greentime. Nedan följer TEAMs hållbarhetspolicy och hur vi aktivt arbetar med hållbarhet. TEAM arbetar aktivt med hållbarhet gällande de aspekter vi kan påverka inom social, ekonomisk samt ekologisk hållbarhet.
          </p> <br>
          <p>TEAM arbetar för att öka medvetenhet kring hållbarhet hos alla de företag och studenter som besöker mässan, samt för att minska mässans ekologiska fotavtryck. TEAM uppmuntrar sina långresande utställare att nyttja klimatsmarta transportmedel och strävar mot att erbjuda enbart miljömärkta boendeanläggningar.
          </p> <br>
          <p>TEAM arbetar förebyggande för att skapa en god attityd och ett beteende hos intressenter som främjar hållbarhet. Under mässan, genom olika event inför mässan, och via våra marknadsföringskanaler ser vi till att intressenter får information om miljöfrågor såsom resursanvändning, nedskräpning och klimatförändringar. TEAM ska vara en mässa som förknippas med etisk och social hållbarhet där mångfald och jämställdhet främjas för att säkerställa att alla människor känner sig välkomna.
          </p> <br>
          <p>TEAM arbetar för att främja hållbara arbetssätt i sitt nätverk genom att ställa sociala krav likväl miljökrav vid upphandling av varor och tjänster med leverantörer och samarbetspartners. TEAM arbetar för att minska sin egen belastning på miljön genom att återanvända resurser, minimera förbrukning av engångsmaterial samt genom att källsortera avfall och prioritera miljövänliga alternativ. Vid de tillfällen då mässan står för måltider erbjuder TEAM endast vegetariska alternativ till sina värdar och utställare.
          </p><br>
          <p>TEAM följer gällande miljölagstiftning, föreskrifter och regler samt håller sig kontinuerligt informerade om eventuella ändringar av dessa. Linköpings universitets “Strategi och handlingsplan för lika villkor 2022” med vision om att värna om allas lika värde, lika möjligheter och lika rättigheter ligger till grund för allt arbete kring mässan.
          </p>      
        </div>
      </div>
    </div>
  </div>
</section> -->




