<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> TEAM:s hållbarhetsarbete</h1>
          <h2 class="subtitle">Nedan kan du läsa om hur vi på TEAM arbetar med mässans hållbarhet. </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="border-btm">
      <h1 class="title is-1">Hållbarhet</h1>
    </div>
    <div class="columns is-vcentered">
      <div class="column is-8">
        <p>Som en av Sveriges största arbetsmarknadsdagar, med ca 4000 besökare samt ca 80 utställande företag, är det av största vikt för TEAM att ta vårt ansvar gällande hållbarhet. Därför arbetar TEAM aktivt för att bidra till en mer hållbar framtid med förhoppningen att inspirera såväl studenter som besökande företag att göra detsamma.</p> <br>
        <p>TEAM arbetar aktivt för att minska vårt ekologiska fotavtryck och har därför valt att certifiera oss med märkningen <strong>Miljömärkt Event</strong> via stiftelsen <strong>Håll Sverige Rent</strong>. Genom det här arbetet genomsyras hela TEAM av ett hållbart tänk - från första till sista beslut. Via stiftelsen <strong>Vi-skogen</strong>, vars arbete baseras på att odla träd i fyra länder runt Victoriasjön i östra Afrika, kommer vi även att klimatkompensera.
          För TEAM är det viktigt att alla är involverade och att det ska synas i våra val.</p> <br>
        <p>I TEAM:s arbete för att minska vårt ekologiska fotavtryck arbetar vi aktivt inom så många olika områden vi kan, exempelvis inom smarta inköp, avfallshantering, transport samt mat och dryck. Exempelvis arbetar vi för att minimera vår förbrukning av engångsartiklar, minska materialinköp, servera vegetarisk mat samt tillgodose mässan med smart avfallshantering. </p> <br>
        <p>Nytt för i år är bland annat att största delen av vår kommunikation kommer ske via vår app och därför kommer tryckt material i marknadsföringssyfte minska. Vi kommer heller inte dela ut något buteljerat vatten under mässan. Utöver detta kommer även priserna under vår mässtävling i år till största del vara immateriella.</p> <br>
        <p>Vi tror starkt på att så länge vi arbetar som ett team så kan vi bidra till en mer hållbar framtid och hoppas därför att alla, såväl studenter som besökande företag, vill vara med oss i det här arbetet. Tillsammans gör vi skillnad!</p>
      </div>
      <div class="column">
        <div class="">
          <img class="" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/miljoevent.jpg?alt=media&token=b4b7a167-f126-429c-88d7-59039e21bae5">
        </div>

      </div>
    </div>
  </div>
</section>
