<section class="hero is-fullheight has-bg-img">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
          <h2 class="title is-1 is-spaced white-text" style="text-transform: uppercase">About TEAM-dagarna</h2>
          <h1 class="title is-5 is-spaced is-italic white-text">Two days, about 4000 students and 70 companies</h1>
          <br>
          <br>
          <h5 class="subtitle is-6 white-text">TEAM is one of the largest and most visited career fairs in Sweden where ambitious students meet 
            potential employers. The fair is a collaboration between the student association of <b>Industrial Engineering and Management</b> 
            and the <b>Business and Economics programme</b>. The aim is to provide students in engineering and business with opportunities 
            to get in touch with leading companies from all over Sweden. Besides connection during mingeling at the fair, we also offer students:
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <!-- <h5 class="subtitle is-6">TEAM is one of the largest and most visited career fairs in Sweden where ambitious students meet 
            potential employers. The fair is a collaboration between the student association of <b>Industrial Engineering and Management</b> 
            and the <b>Business and Economics programme</b>. The aim is to provide students in engineering and business with opportunities 
            to get in touch with leading companies from all over Sweden. Besides connection during mingeling at the fair, we offer students other opportunities, like:
      </h5> -->
      <div class="columns is-centered ">
        
        <div class="column">
          <h2 class="title is-3">
            Interviews
          </h2>
          <p>TEAM offers students the possibility to meet business representatives from a range of companies during a private conversation about jobs and future possibilities. This is a great way to establish a connection with the company of your choice, but should by no means be considered a job interview. Applications for the individual meetings will open in advance, and the meetings themselves take place during the fair, the 24-25th of September. Keep an eye out for information regarding application deadlines and companies that offer interviews!
          </p>
        </div>

        <div class="column">
          <h2 class="title is-3">
            Events
          </h2>
          <p>More information regarding planned events will be announced soon.
          </p>
          <br>
          <p>Remember to follow TEAM-dagarna on <a href="https://www.facebook.com/teamdagarna/?ref=ts&fref=ts" target="_blank">Facebook</a>, <a href="https://www.instagram.com/teamdagarna/" target="_blank">Instagram</a> and <a href="https://www.linkedin.com/company-beta/3676658/"
              target="_blank">LinkedIn</a>!</p>
        </div>
      </div>
    </div>
  </div>
</section>
