<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Information in English</h1>
          <!-- <h2 class="subtitle">Nedan finner du vad teamdagarna är</h2> </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <!-- Denna del är endast för digital mässa. Den "vanliga" infon finns längre ner-->
  <div class="container">
    <h1 class="title is-1">One day where ambitious students meet potential employers</h1>
    <div class="columns is-vcentered">
      <div class="column is-8">
        <h5 class="subtitle">
          TEAM is one of the largest and most visited career fairs in Sweden where ambitious students meet potential employers. This year, TEAM will be arranged digitally through our website teamdagarna.com.
          <br> <br>
          The fair is a collaboration between the student association of Industrial Engineering and Management and the Business and Economics programme (ELIN). The aim is to provide students in engineering and business with opportunities to get in touch with leading companies from all over Sweden. 
          <br>
        </h5>
        <h5 class="subtitle">A few of the opportunities we offer students include:</h5>

      </div>

    </div>




    <h1 class="title">Interviews</h1>

    <p>TEAM offers students the possibility to meet business representatives from a range of companies during a private conversation about jobs and future possibilities. This is a great way to establish a connection with the company of your choice, but should by no means be considered a job interview. Applications for so called “mock interviews” will open in advance,
      and the interviews themselves take place digitally on the 10th of November. Keep an eye out for information regarding application 
      deadlines and companies that offer interviews!</p>
    <br>
    <h1 class="title">Events</h1>

    <p>Due to the ongoing pandemic, there will be a limited amount of events arranged. More information regarding planned events will be announced soon.  </p>
    <br>
    <p>Remember to follow TEAM-dagarna on <a href="https://www.facebook.com/teamdagarna/?ref=ts&fref=ts" target="_blank">Facebook</a>, <a href="https://www.instagram.com/teamdagarna/" target="_blank">Instagram</a> and <a href="https://www.linkedin.com/company-beta/3676658/"
        target="_blank">LinkedIn</a>!</p>



  </div>



  <!-- <div class="container">
    <h1 class="title is-1">Two days, 4000 students and 80 companies</h1>
    <div class="columns is-vcentered">
      <div class="column is-8">
        <h5 class="subtitle">TEAM is one of the largest and most visited career fairs in Sweden and is arranged for the 36th time this year. The fair is a collaboration between the student associations for the Industrial Engineering and Management programme (I-sektionen) and the Business and Economics programme (ELIN). The aim is to provide students in engineering and business with opportunities to get in touch with leading companies from all over Sweden.</h5>
        <h5 class="subtitle">A few of the opportunities we offer students include:</h5>

      </div>

    </div>




    <h1 class="title">Interviews</h1>

    <p>TEAM offers students the possibility to meet business representatives from a wide range of companies during a calm, private conversation about jobs and future possibilities. This is a great way to establish a connection with the company of your choice,
      but should by no means be considered a job interview. Applications for so called “mock interviews” will open in advance, and the interviews themselves take place during the fair. Keep an eye out for information regarding application deadlines and
      companies that offer interviews!</p>
    <br>
    <h1 class="title">Events</h1>

    <p>During the weeks leading up to the fair as well as during the fair itself, we will arrange events such as guest lectures, case solving competitions, workshops and more. Keep an eye out for information about events held in English!</p>
    <br>
    <p>Remember to follow TEAM-dagarna on <a href="https://www.facebook.com/teamdagarna/?ref=ts&fref=ts" target="_blank">Facebook</a>, <a href="https://www.instagram.com/teamdagarna/" target="_blank">Instagram</a> and <a href="https://www.linkedin.com/company-beta/3676658/"
        target="_blank">LinkedIn</a>!</p>



  </div> -->
</section>
