<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Företagsanmälan 2022 </h1>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section">
<div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <!-- <h1 class="title is-4">Ansökan har för i år stängt. </h1> -->
        <h1 class="title is-4">Nu har intresseanmälan för företag 2022 öppnats!</h1> 
        <p>Klicka på länken nedan för att fylla i formuläret och därmed anmäla ert intresse till TEAM 2022. Efter att ni har fyllt formuläret kommer 
          vi från kommittén kontakta er med mer information. Vid frågor kontakta <a href="mailto: johanna.brynielsson@teamdagarna.com">johanna.brynielsson@teamdagarna.com</a>.</p> <br>
          <a class="button is-primary is-medium " href="https://podio.com/webforms/27283901/2102777" target="_blank"><span>Till anmälan</span><span class="icon"><i class="fas fa-external-link-alt"></i></span></a> <br>
          <br>
        <p>Vi i kommittén ser fram emot att genomföra en fantastisk mässa tillsammans med er!</p> <br>
         
        <!--<a  href="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/companyapplication%2FPrislista%20digital%202020%20.pdf?alt=media&token=327d82e8-3336-4d3a-81b7-664e0d675773" target="_blank">Prislista</a><br>
        <a href="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/companyapplication%2FGrundavtal%20TEAM2020%20digital.pdf?alt=media&token=f49cc4aa-6c1d-4a73-91c8-74b012f9e6a7" target="_blank">Avtal</a> -->
        </div>
      </div>
    </div>
  </section>
