<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container is-mobile">
      <div class="columns ">
        <div class="column is-12">
              <h2 class="title is-3 is-spaced" style="text-transform: uppercase">Intresseanmälan 2023</h2>

              <h2 class="title is-8">
                Nu har intresseanmälan för företag 2023 öppnats!
              </h2>
              <p>Klicka på länken nedan för att fylla i formuläret och därmed anmäla ert intresse till TEAM-dagarna 2023. <br> Efter att ni har fyllt i formuläret kommer 
                vi att kontakta er med mer information. <br> Vid frågor kontakta <a href="mailto: sahel.cedighi@teamdagarna.com">sahel.cedighi@teamdagarna.com</a>.</p> <br>
                <p>Vi i DreamTEAM ser fram emot att genomföra en fantastisk mässa tillsammans med er!</p> <br>
        
                <a class="button" href="https://forms.gle/uDT4f13wPYeVYTsz8" target="_blank"><span>Till anmälan</span><span class="icon" id="white-icon"><i class="fas fa-external-link-alt"></i></span></a> <br>
                <br>       
        </div>
      </div>
    </div>
  </div>
</div>