<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Företagsanmälan 2019 </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">  <section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title is-4">Nu har företagsanmälan för 2019 öppnats!</h1>
        <p>Anmäl er via länken till formuläret nedan för att göra en inledande anmälan till TEAM-dagarna 2019!</p> <br>
        <p>Fyll i nedanstående formulär för att göra Er inledande anmälan till TEAM 2019 som kommer äga rum mellan den 24-25 september. En prislista samt det avtal som ni förbinder er till vid anmälan finner ni under knappen! Observera att enligt avtalet kan avanmälan ske kostnadsfritt t.o.m. den 19:e maj. Vid frågor kontakta <a href="itwebb@teamdagarna.com ">projektledare@teamdagarna.com</a>.</p> <br>
        <a class="button is-primary is-medium " href="https://podio.com/webforms/22201647/1558304" target="_blank"><span>Till anmälan</span><span class="icon"><i class="fas fa-external-link-alt"></i></span></a> <br>
        <br>
        <ul class="link-list">
          <li><a href="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/companyapplication%2FPrislista.pdf?alt=media&token=6295c790-d1e1-46ee-951f-b2bbb2091cb1" target="_blank">Prislista</a></li>
          <li><a href="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/companyapplication%2FKontrakt.pdf?alt=media&token=3b643225-35ee-49de-bcd8-b7f899567637" target="_blank">Avtal</a></li>
