<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Virtuell Mässa</h1>
          <h2 class="subtitle">blalblaalblbal </h2> 
        </div>
      </div>
    </div>
  </div> 
</div>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-full is-mobile is-centered">
        <iframe width="800" height="450" src="https://www.artsteps.com/embed/5f42ea15f37f1f644865c2a9/560/315" frameborder="0" allowfullscreen></iframe>
      </div>


    </div>
  </div>
</section>

