<div class="hero" id="title-hero">
    <div class="hero-body">
      <div class="container has-text-centered is-mobile">
        <div class="columns is-centered ">
          <div class="column is-9">
            <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Infördagarna 2024</h2>
            <!--Läs igenom texten noga nedan och uppdatera när mässkartan byts-->
            <h2 class="subtitle is-6">Nedan kan du se ett schema över vad som händer under infördagarna. 
              </h2></div>
        </div>
        <div class="column is-centered ">
          <img alt="map"  style="max-width: 90%;" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Schema%20inf%C3%B6rdagarna02-04.png?alt=media&token=774e07ce-afed-4e3a-9c48-8e00180ee191">
        </div>
      </div>
    </div>
  </div>
  
  