<input type="checkbox" [(ngModel)]="endangered" (change)="filterBoolean('intern', intern)"> Endangered?
<div *ngFor="let animal of filteredCompanies">
  <h6>{{animal.name}}</h6>
</div>


<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Företagen 2018 </h1>
          <h2 class="subtitle">Vi är stolta att presentera alla 2018 års deltagandede företag är. Här kan du söka, filtrera och hitta ditt drömföretag och framtida arbetsgivare. </h2> </div>
      </div>
    </div>
  </div>
</div>


<br>
<br>

<div class="container">

  <!-- <div class="columns is-multiline">
    <div class="column is-12">
      <div class="control has-icons-left has-icons-right">
        <input class="input is-large" type="text" placeholder="Sök på företagsnamn" [(ngModel)]="searchterm" (keydown)="search($event)">
        <span class="icon is-medium is-left">
        <i class="fas fa-search"></i>
    </span>
      </div>
    </div>

    <div class="column is-12">
      <a class="button is-primary is-outlined" (click)="toggleFilters()">
        <span>Visa filter</span>
        <span class="icon is-small">
          <i class="fas fa-filter"></i>
        </span>
      </a>
    </div>
    <div class="column is-12">
      <a class="button is-primary is-outlined" (click)="clearFilters()">
        <span>Ta bort </span>
        <span class="icon is-small">
          <i class="fas fa-filter"></i>
        </span>
      </a>
    </div>


    <div [formGroup]="filterForm" class="column is-12 " [ngClass]="{ 'show-filters' : !showFilters }">

      <div class="columns">
        <div class="column is-one-quarter">
          <div class="field">
            <label class="label">Erbjuder</label>
            <input type="checkbox" (change)="getFilteredCompanies()" formControlName="masterthesis"> Exjobb
          </div>
          <div class="field">
            <input type="checkbox" (change)="getFilteredCompanies()" formControlName="internship"> Internship
          </div>
          <div class="field">
            <input type="checkbox" (change)="getFilteredCompanies()" formControlName="summerjob"> Sommarjobb
          </div>
          <div class="field">
            <input type="checkbox" formControlName="abroad"> Utlandsmöjligheter
          </div>
          <div class="field">
            <input type="checkbox" formControlName="otherthesis"> Uppsatshandledning
          </div>
          <div class="field">
            <input type="checkbox" formControlName="parttime"> Deltidsjobb
          </div>
          <div class="field">
            <input type="checkbox" formControlName="fulltime"> Heltidsjobb
          </div>
          <div class="field">
            <input type="checkbox" formControlName="trainee"> Traineeprogram
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="field">
            <label class="label">Söker</label>
            <input type="checkbox" formControlName="engineers"> Civilingenjörer
          </div>
          <div class="field">
            <input type="checkbox" formControlName="filfakare"> Civilekonomer
          </div>
          <div class="field">
            <input type="checkbox" formControlName="firstyear"> 1:or
          </div>
          <div class="field">
            <input type="checkbox" formControlName="secondyear"> 2:or
          </div>
          <div class="field">
            <input type="checkbox" formControlName="thirdyear"> 3:or
          </div>
          <div class="field">
            <input type="checkbox" formControlName="fourthyear"> 4:or
          </div>
          <div class="field">
            <input type="checkbox" formControlName="fifthyear"> 5:or
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="field">
            <label class="label">Ställer ut</label>
            <input type="checkbox" formControlName="firstdayappearance"> Tisdag
          </div>
          <div class="field">
            <input type="checkbox" formControlName="seconddayappearance"> Onsdag
          </div>
          <div class="field">
            <label class="label">Erbjuder kontaktsamtal</label>
            <input type="checkbox" formControlName="offersinterview"> Ja
          </div>
          <div class="field">
            <label class="label">Är med i mässjakten</label>
            <input type="checkbox" formControlName="treasurehunt"> Ja
          </div>

        </div>
        <!-- <div class="column is-one-quarter">
        <option>Consulting</option>
        <option>Industri</option>
        <option>Logistik</option>
        <option>IT & Teknik</option>
        <option>Rekrytering</option>
        <option>Bank & Finans</option>
        <option>Retail</option>
        <option>Revision</option>
        <option>Fastigheter & Infrastruktur</option>
        <option>Förening eller Förbund</option>
        <option>Övrigt</option>
        </div> -->
</div>





</div>




</div> -->


<br>
<br>

<app-spinner *ngIf="showSpinner "></app-spinner>
<div class="columns is-centered is-multiline ">

  <div class="column is-one-quarter " *ngFor="let company of companies | async ">
    <div class="card is-storyworld bm--card-equal-height ">
      <a class="card-header " (click)="openModal(company) ">
        <!-- <div *ngIf="company.logopath | async as url "> -->
        <img style="padding: 10px; " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/companylogos%2F1534001087482_atlascopcorockdrills.jpg?alt=media&token=8ea25054-e300-4759-a142-e10b190200a0 ">
        <!-- </div> -->
      </a>
      <div class="card-body ">
        <a href="/library/the-holiday-girls ">
          <div class="card-title "> {{ company.name }}</div>
        </a>
        <div class="card-meta ">{{ company.industry }} <br><span data-balloon="Vi klimatkompenserar för våra utsläpp under mässan! " data-balloon-pos="up "><i class="fas fa-leaf "></i></span> &nbsp;<span data-balloon="Vi erbjuder kontaktsamtal!
          " data-balloon-pos="up "><i class="fas fa-comments " *ngIf="company.offersinterview "></i></span>&nbsp;
          <span *ngIf="company.treasurehunt " data-balloon="Vi deltar i mässjakten! " data-balloon-pos="up "><i class="fas fa-gift "></i></span>
        </div>
        <div class="card-description ">
          <div class="tags ">
            <span class="tag is-primary " *ngIf="company.offers.internship ">Internship</span>
            <span class="tag is-primary " *ngIf="company.offers.fulltime ">Heltidsjobb</span>
            <span class="tag is-primary " *ngIf="company.offers.parttime ">Deltidsjobb</span>
            <span class="tag is-primary " *ngIf="company.offers.summerjob ">Sommarjobb</span>
            <span class="tag is-primary " *ngIf="company.offers.masterthesis ">Ex-jobb</span>
            <span class="tag is-primary " *ngIf="company.offers.abroad ">Utlandsmöjligheter</span>
            <span class="tag is-primary " *ngIf="company.offers.trainee ">Trainee</span>
            <span class="tag is-primary " *ngIf="company.offers.otherthesis ">Uppsatshandledning</span>
          </div>
        </div>
      </div>
      <div class="card-footer "> <a class="button is-primary is-outlined is-small " (click)="openModal(company) ">Läs mer</a> </div>
    </div>

  </div>
</div>
</div>

<div *ngIf="isModalActive " class="modal " [ngClass]="{ 'is-active' : isModalActive } ">
  <div class="modal-background " (click)="closeModal() "></div>
  <div class="modal-card ">
    <header class="modal-card-head ">
      <p class="modal-card-title "><strong>{{ modalCompany.name }}</strong>
        <span class="modal-fa has-text-success " data-balloon="Vi klimatkompenserar för våra utsläpp under mässan! " data-balloon-pos="up "><i class="fas fa-leaf "></i></span>
        <span class="modal-fa has-text-info " data-balloon="Vi erbjuder kontaktsamtal! " data-balloon-pos="up "><i class="fas fa-comments " *ngIf="modalCompany.offersinterview "></i></span>
        <span class="modal-fa has-text-danger " *ngIf="modalCompany.treasurehunt " data-balloon="Vi deltar i mässjakten! " data-balloon-pos="up "><i class="fas fa-gift "></i></span>
      </p>
      <button class="delete " aria-label="close " (click)="closeModal() "></button>

    </header>

    <section class="modal-card-body ">
      <div class="columns is-multiline ">

        <div class="column is-3 ">
          <img class=" " style="max-height:90px; padding-bottom: 0.4em; " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/companylogos%2F1534001087482_atlascopcorockdrills.jpg?alt=media&token=8ea25054-e300-4759-a142-e10b190200a0 ">

          <h5 class="title is-5 ">Vi ställer ut</h5>
          <div class="tags ">
            <span class="tag is-primary " *ngIf="modalCompany.appearance.firstdayappearance ">Tisdag</span>
            <span class="tag is-primary " *ngIf="modalCompany.appearance.seconddayappearance ">Onsdag</span>
          </div>
          <h5 class="title is-5 ">Vi erbjuder</h5>
          <div class="tags ">
            <span class="tag is-primary " *ngIf="modalCompany.offers.internship ">Internship</span>
            <span class="tag is-primary " *ngIf="modalCompany.offers.fulltime ">Heltidsjobb</span>
            <span class="tag is-primary " *ngIf="modalCompany.offers.parttime ">Deltidsjobb</span>
            <span class="tag is-primary " *ngIf="modalCompany.offers.summerjob ">Sommarjobb</span>
            <span class="tag is-primary " *ngIf="modalCompany.offers.masterthesis ">Ex-jobb</span>
            <span class="tag is-primary " *ngIf="modalCompany.offers.abroad ">Utlandsmöjligheter</span>
            <span class="tag is-primary " *ngIf="modalCompany.offers.trainee ">Trainee</span>
            <span class="tag is-primary " *ngIf="modalCompany.offers.otherthesis ">Uppsatshandledning</span>
          </div>


          <h5 class="title is-5 ">Vi söker</h5>
          <div class="tags ">
            <span class="tag is-primary " *ngIf="modalCompany.seeking.engineers ">Civilingenjörer i Industriell Ekonomi</span>
            <span class="tag is-primary " *ngIf="modalCompany.seeking.filfakare ">Civilekonomer</span>
            <span class="tag is-primary " *ngIf="modalCompany.seeking.firstyear ">1:or</span>
            <span class="tag is-primary " *ngIf="modalCompany.seeking.secondyear ">2:or</span>
            <span class="tag is-primary " *ngIf="modalCompany.seeking.thirdyear ">3:or</span>
            <span class="tag is-primary " *ngIf="modalCompany.seeking.fourthyear ">4:or</span>
            <span class="tag is-primary " *ngIf="modalCompany.seeking.fifthyear ">5:or</span>
          </div>

          <a class="button is-primary is-outlined ">Sök kontaktsamtal</a>
        </div>
        <div class="is-divider-vertical "></div>
        <div class="column is-auto ">
          <div class="about-company ">
            <h5 class="title is-5 ">Om oss</h5>
            <p>{{ modalCompany.about }}</p>
            <br>
            <h5 class="title is-5 ">Vi värdesätter</h5>
            <p>{{ modalCompany.values }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>