
<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Företagen 2022 </h1>
          <h2 class="subtitle">Mer information om 2022 års deltagande företag kommer. </h2>

          <!-- <h2 class="subtitle">Vi är stolta att presentera 2021 års deltagande företag. Här kan du söka, filtrera och hitta ditt drömföretag och framtida arbetsgivare. Kontaktsamtalen söker du på mäss-sidan, här finns endast information om årets företag. Du som är inloggad kan även <i class="fas has-text-centered fa-heart"></i>-markera dina favoritföretag för att spara dessa till "Mina favoritföretag". </h2> -->
        </div>
        <div class="column has-text-centered" *ngIf="auth.isSignedIn()">
          <a class="button is-primary is-inverted is-outlined is-large" [routerLink]="['../favoritforetag']">Mina favoritföretag &nbsp;<i class="fas has-text-centered fa-heart"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div *ngFor="let company of companies | async">
  <h6>{{company.name}}</h6>
</div> -->
<section class="section">
<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12">
      <input class="input" [(ngModel)]="searchInput" type="text" placeholder="Sök på företagsnamn eller bransch. Exempelvis SEB eller Consulting." (keyup)="onSearch($event)">
    </div>

    <div class="column is-6">

      <div class="filter-dropdown dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Erbjuder</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('internship', $event.target.checked)"> Internship
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('masterthesis', $event.target.checked)"> Exjobb
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('fulltime', $event.target.checked)"> Heltid
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('parttime', $event.target.checked)"> Deltid
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('trainee', $event.target.checked)"> Traineeprogram
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('summerjob', $event.target.checked)"> Sommarjobb
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('abroad', $event.target.checked)"> Utlandsmöjligheter
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('otherthesis', $event.target.checked)"> Uppsatshandledning
            </div>
          </div>
        </div>
      </div>
      <div class="filter-dropdown dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Söker</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('engineers', $event.target.checked)"> Civilingenjörer i Industriell Ekonomi
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('filfakare', $event.target.checked)"> Civilekonomer
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('firstyear', $event.target.checked)"> 1:or
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('secondyear', $event.target.checked)"> 2:or
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('thirdyear', $event.target.checked)"> 3:or
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('fourthyear', $event.target.checked)"> 4:or
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('fifthyear', $event.target.checked)"> 5:or
            </div>
          </div>
        </div>
      </div>

      <!--



      <div class="filter-dropdown dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Bransch</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'Consulting', $event.target.checked)"> Consulting
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'Industri', $event.target.checked)"> Industri
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'Logistik', $event.target.checked)"> Logistik
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'IT & Teknik', $event.target.checked)"> IT & Teknik
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'Rekrytering', $event.target.checked)"> Rekrytering
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'Bank & Finans', $event.target.checked)"> Bank & Finans
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'Retail', $event.target.checked)"> Retail
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'Revision', $event.target.checked)"> Revision
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'Fastigheter & Infrastruktur', $event.target.checked)"> Fastigheter & Infrastruktur
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'Förening eller Förbund', $event.target.checked)"> Förening eller Förbund
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterExact('industry', 'Övrigt', $event.target.checked)"> Övrigt
            </div>



          </div>
        </div>
      </div> -->
      <div class="filter-dropdown dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Övrigt</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <!-- <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('firstdayappearance', $event.target.checked)"> Ställer ut tisdag
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('seconddayappearance', $event.target.checked)"> Ställer ut onsdag
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('treasurehunt', $event.target.checked)"> Deltar i pusseljakten
            </div> -->
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('offersinterview', $event.target.checked)"> Erbjuder kontaktsamtal
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('pitchLecture', $event.target.checked)"> Kommer ha en instagram-takeover!
            </div>
            <!-- <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('pitchLecture', $event.target.checked)"> Håller pitchföreläsning
            </div> -->
          </div>
        </div>
      </div>
      <a class="button is-primary is-outlined" *ngIf="filterIsOn()" (click)=" clearFilter() ">Ta bort filter <i class="fas fa-filter "></i></a>
    </div>
    <div class="column is-6 ">
      <div class="buttons has-addons is-pulled-right ">
        <span class="button " (click)="applyOrder(1) " [ngClass]="{ 'is-primary': orderBy==1} "><i class="fas fa-random "></i></span>
        <span class="button " (click)="applyOrder(2) " [ngClass]="{ 'is-primary': orderBy==2} "><i class="fas fa-sort-alpha-down "></i></span>
        <span class="button " (click)="applyOrder(3) " [ngClass]="{ 'is-primary': orderBy==3} "><i class="fas fa-sort-alpha-up "></i></span>
      </div>
    </div>

  </div>



  <!-- <div *ngFor="let filteredCompany of filteredCompanies ">
  <h6>{{ filteredCompany.name }}</h6>
</div> -->
  <div class="columns is-centered is-multiline ">
    <app-spinner *ngIf="showSpinner "></app-spinner>
    <ng-container *ngFor="let company of filteredCompanies">
      <div class="column is-one-quarter " *ngIf="company.name != 'Öppen anmälan kontaktsamtal'">

        <div class="card is-storyworld bm--card-equal-height ">
          <a class="card-header " (click)="openModal(company) ">
            <!-- <div *ngIf="company.logopath | url "> -->
            <div class="card-image has-text-centered is-vcentered">
              <img *ngIf="company.logopath | storage | async as photoUrl " [src]="photoUrl">
            </div>
            <!-- </div> -->
          </a>
          <div class="card-body">
            <div class="card-title"> {{ company.name }}</div>
            <div class="card-meta ">{{ company.industry }} <br>
              <!--<span class="icon is-hidden-touch" data-balloon="Vi klimatkompenserar för våra utsläpp under mässan!" data-balloon-pos="down"><i class="fas fa-leaf"></i></span><span class="icon is-hidden-desktop" data-balloon="Vi klimatkompenserar för våra utsläpp under mässan!" data-balloon-pos="right"><i class="fas fa-leaf"></i></span>-->
              <span class="icon is-hidden-touch" data-balloon="Vi erbjuder kontaktsamtal!" data-balloon-pos="down" *ngIf="company.offersinterview "><i class="fas fa-comments "></i></span><span class="icon is-hidden-desktop" data-balloon="Vi erbjuder kontaktsamtal!" data-balloon-pos="right" *ngIf="company.offersinterview"><i class="fas fa-comments"></i></span>
              <span class="icon is-hidden-touch" *ngIf="company.treasurehunt" data-balloon="Vi deltar i pusseljakten!" data-balloon-pos="down"><i class="fas fa-puzzle-piece"></i></span><span class="icon is-hidden-desktop" *ngIf="company.treasurehunt" data-balloon="Vi deltar i pusseljakten!" data-balloon-pos="right"><i class="fas fa-puzzle-piece "></i></span>
              <span class="icon is-hidden-touch" *ngIf="company.pitchLecture" data-balloon="Vi kommer ha en instagram-takeover!" data-balloon-pos="down"><i class="fas fa-eye"></i></span><span class="icon is-hidden-desktop" *ngIf="company.pitchLecture" data-balloon="Vi håller pitchföreläsning!" data-balloon-pos="right"><i class="fas fa-eye"></i></span>
            </div>
            <div class="card-description ">
              <div class="tags ">
                <span class="tag is-primary " *ngIf="company.internship ">Internship</span>
                <span class="tag is-primary " *ngIf="company.fulltime ">Heltidsjobb</span>
                <span class="tag is-primary " *ngIf="company.parttime ">Deltidsjobb</span>
                <span class="tag is-primary " *ngIf="company.summerjob ">Sommarjobb</span>
                <span class="tag is-primary " *ngIf="company.masterthesis ">Ex-jobb</span>
                <span class="tag is-primary " *ngIf="company.abroad ">Utlandsmöjligheter</span>
                <span class="tag is-primary " *ngIf="company.trainee ">Trainee</span>
                <span class="tag is-primary " *ngIf="company.otherthesis ">Uppsatshandledning</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="column footer-column">
            <a class="button is-primary is-outlined is-small" (click)="openModal(company) ">Läs mer</a>&nbsp;
            <!--<a class="button is-primary is-outlined is-small" [routerLink]="['/masskarta']" [queryParams]="{ preselected: company.placeID }">Hitta plats på mässan!&nbsp;<span class="icon"><i class="fas fa-map-marker-alt"></i></span></a>-->
            <span (click)="toggleFavouriteCompany(company)" *ngIf="auth.isSignedIn() && !checkFavourite(company)" class="icon is-medium is-pulled-right is-hidden-touch" data-balloon="Lägg till företaget till dina favoritföretag!" data-balloon-pos="down" data-balloon-length="medium"><i class="far fa-2x has-text-primary has-text-centered fa-heart"></i></span>
            <span (click)="toggleFavouriteCompany(company)" *ngIf="auth.isSignedIn() && !checkFavourite(company)" class="icon is-medium is-pulled-right is-hidden-desktop"><i class="far fa-2x has-text-primary has-text-centered fa-heart"></i></span>&nbsp;
            <span (click)="toggleFavouriteCompany(company)" *ngIf="auth.isSignedIn() && checkFavourite(company)" class="icon is-medium is-pulled-right is-hidden-touch" data-balloon="Ta bort företaget från dina favoritföretag!" data-balloon-pos="down" data-balloon-length="medium"><i class="fas fa-2x has-text-primary has-text-centered fa-heart"></i></span>
            <span (click)="toggleFavouriteCompany(company)" *ngIf="auth.isSignedIn() && checkFavourite(company)" class="icon is-medium is-pulled-right is-hidden-desktop"><i class="fas fa-2x has-text-primary has-text-centered fa-heart"></i></span>
            </div>
            </div>
        </div>

      </div>
    </ng-container>
  </div>


  <div *ngIf="isModalActive " class="modal " [ngClass]="{ 'is-active' : isModalActive } ">
    <div class="modal-background " (click)="closeModal() "></div>
    <div class="modal-card ">
      <header class="modal-card-head">
        <p class="modal-card-title"><strong>{{ modalCompany.name }}</strong>
          <!--<span class="modal-fa has-text-success" data-balloon="Vi klimatkompenserar för våra utsläpp under mässan!" data-balloon-pos="up"><i class="fas fa-leaf"></i></span>-->
          <span class="modal-fa has-text-info" data-balloon="Vi erbjuder kontaktsamtal!" data-balloon-pos="up"><i class="fas fa-comments " *ngIf="modalCompany.offersinterview"></i></span> 
          <!-- <span class="modal-fa has-text-danger" *ngIf="modalCompany.treasurehunt" data-balloon="Vi deltar i pusseljakten!" data-balloon-pos="up"><i class="fas fa-puzzle-piece"></i></span> -->
          <!-- den här knappen kanske är en fullösning, men testar den så länge-->
          <a class="btn-primary-outline" href ="https://teamdagarna.com/events" *ngIf="modalCompany.treasurehunt" data-balloon="Vi deltar i pusseljakten!" data-balloon-pos="up"><i class="fas fa-puzzle-piece"></i></a>
          <span class="modal-fa has-text-warning" *ngIf="modalCompany.pitchLecture" data-balloon="Vi kommer ha en instagram-takeover!" data-balloon-pos="up"><i class="fas fa-eye"></i></span>
          <span (click)="toggleFavouriteCompany(modalCompany)" *ngIf="auth.isSignedIn() && !checkFavourite(modalCompany)" class="heart icon is-pulled-right is-hidden-touch" data-balloon="Lägg till företaget till dina favoritföretag!" data-balloon-pos="left"><i class="far has-text-primary fa-heart"></i></span>
          <span (click)="toggleFavouriteCompany(modalCompany)" *ngIf="auth.isSignedIn() && checkFavourite(modalCompany)" class="heart icon is-pulled-right is-hidden-touch" data-balloon="Ta bort företaget från dina favoritföretag!" data-balloon-pos="left"><i class="fas has-text-primary fa-heart"></i></span>
        </p>
        <button class="delete" aria-label="close" (click)="closeModal() "></button>

      </header>

      <section class="modal-card-body ">
        <div class="columns is-multiline ">

          <div class="column is-3 ">
            <img class=" " style="max-height:90px; padding-bottom: 0.4em; " *ngIf="modalCompany.logopath | storage | async as photoUrl " [src]="photoUrl ">

            <!--<h5 class="title is-5 ">Vi ställer ut</h5>
            <div class="tags ">
              <span class="tag is-primary " *ngIf="modalCompany.firstdayappearance ">Tisdag</span>
              <span class="tag is-primary " *ngIf="modalCompany.seconddayappearance ">Onsdag</span>
            </div>-->
            <h5 class="title is-5 ">Bransch</h5>
          <div class="tags ">
            <span class="tag is-primary " *ngIf="modalCompany.consulting ">Consulting</span>
            <span class="tag is-primary " *ngIf="modalCompany.industri ">Industri</span>
            <span class="tag is-primary " *ngIf="modalCompany.logistik ">Logistik</span>
            <span class="tag is-primary " *ngIf="modalCompany.itteknik ">It & Teknik</span>
            <span class="tag is-primary " *ngIf="modalCompany.rekrytering ">Rekrytering</span>
            <span class="tag is-primary " *ngIf="modalCompany.bank ">Bank & Finans</span>
            <span class="tag is-primary " *ngIf="modalCompany.retail ">Retail</span>
            <span class="tag is-primary " *ngIf="modalCompany.fastigheter ">Fastigheter & Infrastruktur</span>
            <span class="tag is-primary " *ngIf="modalCompany.forening ">Förening eller Förbund</span>
            <span class="tag is-primary " *ngIf="modalCompany.telekom ">Telekom</span>
            <span class="tag is-primary " *ngIf="modalCompany.revision ">Revision</span>
            <span class="tag is-primary " *ngIf="modalCompany.startup ">Startup</span>
            <span class="tag is-primary " *ngIf="modalCompany.other ">Övrigt</span>
          </div>
            <h5 class="title is-5 ">Vi erbjuder</h5>
            <div class="tags ">
              <span class="tag is-primary " *ngIf="modalCompany.internship ">Internship</span>
              <span class="tag is-primary " *ngIf="modalCompany.fulltime ">Heltidsjobb</span>
              <span class="tag is-primary " *ngIf="modalCompany.parttime ">Deltidsjobb</span>
              <span class="tag is-primary " *ngIf="modalCompany.summerjob ">Sommarjobb</span>
              <span class="tag is-primary " *ngIf="modalCompany.masterthesis ">Ex-jobb</span>
              <span class="tag is-primary " *ngIf="modalCompany.abroad ">Utlandsmöjligheter</span>
              <span class="tag is-primary " *ngIf="modalCompany.trainee ">Trainee</span>
              <span class="tag is-primary " *ngIf="modalCompany.otherthesis ">Uppsatshandledning</span>
            </div>


            <h5 class="title is-5 ">Vi söker</h5>
            <div class="tags ">
              <span class="tag is-primary " *ngIf="modalCompany.engineers ">Civilingenjörer i Industriell Ekonomi</span>
              <span class="tag is-primary " *ngIf="modalCompany.filfakare ">Civilekonomer</span>
              <span class="tag is-primary " *ngIf="modalCompany.firstyear ">1:or</span>
              <span class="tag is-primary " *ngIf="modalCompany.secondyear ">2:or</span>
              <span class="tag is-primary " *ngIf="modalCompany.thirdyear ">3:or</span>
              <span class="tag is-primary " *ngIf="modalCompany.fourthyear ">4:or</span>
              <span class="tag is-primary " *ngIf="modalCompany.fifthyear ">5:or</span>
            </div>
            <!-- <a *ngIf="modalCompany.offersinterview" class="button is-primary is-outlined" [routerLink]="['/interview']" [queryParams]="{ preselected: modalCompany.id }">Kontaktsamtal</a> -->
            <span (click)="toggleFavouriteCompany(modalCompany)" *ngIf="auth.isSignedIn() && !checkFavourite(modalCompany)" class="icon is-medium is-pulled-right is-hidden-desktop"><i class="far fa-2x has-text-primary has-text-centered fa-heart"></i></span>
            <span (click)="toggleFavouriteCompany(modalCompany)" *ngIf="auth.isSignedIn() && checkFavourite(modalCompany)" class="icon is-medium is-pulled-right is-hidden-desktop"><i class="fas fa-2x has-text-primary has-text-centered fa-heart"></i></span>
          </div>
          <div class="is-divider-vertical "></div>
          <div class="column is-auto ">
            <div class="about-company ">
              <h5 class="title is-5 ">Om oss</h5>
              <p style="white-space: pre-wrap;">{{ modalCompany.about }}</p>
              <br>
              <h5 *ngIf="modalCompany.values" class="title is-5 ">Vi värdesätter</h5>
              <p style="white-space: pre-wrap;">{{ modalCompany.values }}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</section>
