<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Företagen 2018 </h1>
          <h2 class="subtitle">Vi är stolta att presentera alla 2018 års deltagandede företag är. Här kan du söka, filtrera och hitta ditt drömföretag och framtida arbetsgivare. </h2> </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngFor="let company of companies | async">
  <h6>{{company.name}}</h6>
</div> -->
<div class="container ">



  <br>
  <br>

  <div class="columns is-multiline">

    <div class="column is-6">

      <div class="filter-dropdown dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Erbjuder</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('internship', $event.target.checked)"> Internship
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('masterthesis', $event.target.checked)"> Exjobb
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('fulltime', $event.target.checked)"> Heltid
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('parttime', $event.target.checked)"> Deltid
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('trainee', $event.target.checked)"> Traineeprogram
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('summerjob', $event.target.checked)"> Sommarjobb
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('abroad', $event.target.checked)"> Utlandsmöjligheter
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('otherthesis', $event.target.checked)"> Uppsatshandledning
            </div>
          </div>
        </div>
      </div>
      <div class="filter-dropdown dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Söker</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('engineers', $event.target.checked)"> Civilinenjörer i Industriell Ekonomi
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('filfakare', $event.target.checked)"> Civilekonomer
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('firstyear', $event.target.checked)"> 1:or
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('secondyear', $event.target.checked)"> 2:or
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('thirdyear', $event.target.checked)"> 3:or
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('fourthyear', $event.target.checked)"> 4:or
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('fifthyear', $event.target.checked)"> 5:or
            </div>
          </div>
        </div>
      </div>
      <div class="filter-dropdown dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Övrigt</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('firstdayappearance', $event.target.checked)"> Ställer ut tisdag
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('seconddayappearance', $event.target.checked)"> Ställer ut onsdag
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('treasurehunt', $event.target.checked)"> Deltar i Mässjakten
            </div>
            <div class="dropdown-item">
              <input type="checkbox" (change)="filterBoolean('offersinterview', $event.target.checked)"> Erbjuder kontaktsamtal
            </div>
          </div>
        </div>
      </div>
      <a class="button is-primary is-outlined" *ngIf="filterIsOn()" (click)=" clearFilter() ">Ta bort filter <i class="fas fa-filter "></i></a>
    </div>
    <div class="column is-6 ">
      <div class="buttons has-addons is-pulled-right ">
        <span class="button " (click)="applyOrder(1) " [ngClass]="{ 'is-primary': orderBy==1} "><i class="fas fa-random "></i></span>
        <span class="button " (click)="applyOrder(2) " [ngClass]="{ 'is-primary': orderBy==2} "><i class="fas fa-sort-alpha-down "></i></span>
        <span class="button " (click)="applyOrder(3) " [ngClass]="{ 'is-primary': orderBy==3} "><i class="fas fa-sort-alpha-up "></i></span>
      </div>
    </div>

  </div>



  <span class="button " (click)="clearFilter() " [ngClass]="{ 'is-primary': orderBy==3} "><i class="fas fa-sort-alpha-up "></i></span>




  <!-- <div *ngFor="let filteredCompany of filteredCompanies ">
  <h6>{{ filteredCompany.name }}</h6>
</div> -->

  <div class="columns is-centered is-multiline ">
    <app-spinner *ngIf="showSpinner "></app-spinner>
    <div class="column is-one-quarter " *ngFor="let company of filteredCompanies ">
      <div class="card is-storyworld bm--card-equal-height ">
        <a class="card-header " (click)="openModal(company) ">
          <!-- <div *ngIf="company.logopath | url "> -->
          <div class="card-image has-text-centered ">
            <img style="padding: 10px; " *ngIf="company.logopath | storage | async as photoUrl " [src]="photoUrl ">
          </div>
          <!-- </div> -->
        </a>
        <div class="card-body ">
          <a href="/library/the-holiday-girls ">
            <div class="card-title "> {{ company.name }}</div>
          </a>
          <div class="card-meta ">{{ company.industry }} <br><span data-balloon="Vi klimatkompenserar för våra utsläpp under mässan! " data-balloon-pos="up "><i class="fas fa-leaf "></i></span> &nbsp;<span data-balloon="Vi erbjuder kontaktsamtal!
        " data-balloon-pos="up "><i class="fas fa-comments " *ngIf="company.offersinterview "></i></span>&nbsp;
            <span *ngIf="company.treasurehunt " data-balloon="Vi deltar i mässjakten! " data-balloon-pos="up "><i class="fas fa-gift "></i></span>
          </div>
          <div class="card-description ">
            <div class="tags ">
              <span class="tag is-primary " *ngIf="company.offers.internship ">Internship</span>
              <span class="tag is-primary " *ngIf="company.offers.fulltime ">Heltidsjobb</span>
              <span class="tag is-primary " *ngIf="company.offers.parttime ">Deltidsjobb</span>
              <span class="tag is-primary " *ngIf="company.offers.summerjob ">Sommarjobb</span>
              <span class="tag is-primary " *ngIf="company.offers.masterthesis ">Ex-jobb</span>
              <span class="tag is-primary " *ngIf="company.offers.abroad ">Utlandsmöjligheter</span>
              <span class="tag is-primary " *ngIf="company.offers.trainee ">Trainee</span>
              <span class="tag is-primary " *ngIf="company.offers.otherthesis ">Uppsatshandledning</span>
            </div>
          </div>
        </div>
        <div class="card-footer "> <a class="button is-primary is-outlined is-small " (click)="openModal(company) ">Läs mer</a> </div>
      </div>

    </div>
  </div>


  <div *ngIf="isModalActive " class="modal " [ngClass]="{ 'is-active' : isModalActive } ">
    <div class="modal-background " (click)="closeModal() "></div>
    <div class="modal-card ">
      <header class="modal-card-head ">
        <p class="modal-card-title "><strong>{{ modalCompany.name }}</strong>
          <span class="modal-fa has-text-success " data-balloon="Vi klimatkompenserar för våra utsläpp under mässan! " data-balloon-pos="up "><i class="fas fa-leaf "></i></span>
          <span class="modal-fa has-text-info " data-balloon="Vi erbjuder kontaktsamtal! " data-balloon-pos="up "><i class="fas fa-comments " *ngIf="modalCompany.offersinterview "></i></span>
          <span class="modal-fa has-text-danger " *ngIf="modalCompany.treasurehunt " data-balloon="Vi deltar i mässjakten! " data-balloon-pos="up "><i class="fas fa-gift "></i></span>
        </p>
        <button class="delete " aria-label="close " (click)="closeModal() "></button>

      </header>

      <section class="modal-card-body ">
        <div class="columns is-multiline ">

          <div class="column is-3 ">
            <img class=" " style="max-height:90px; padding-bottom: 0.4em; " *ngIf="modalCompany.logopath | storage | async as photoUrl " [src]="photoUrl ">

            <h5 class="title is-5 ">Vi ställer ut</h5>
            <div class="tags ">
              <span class="tag is-primary " *ngIf="modalCompany.appearance.firstdayappearance ">Tisdag</span>
              <span class="tag is-primary " *ngIf="modalCompany.appearance.seconddayappearance ">Onsdag</span>
            </div>
            <h5 class="title is-5 ">Vi erbjuder</h5>
            <div class="tags ">
              <span class="tag is-primary " *ngIf="modalCompany.offers.internship ">Internship</span>
              <span class="tag is-primary " *ngIf="modalCompany.offers.fulltime ">Heltidsjobb</span>
              <span class="tag is-primary " *ngIf="modalCompany.offers.parttime ">Deltidsjobb</span>
              <span class="tag is-primary " *ngIf="modalCompany.offers.summerjob ">Sommarjobb</span>
              <span class="tag is-primary " *ngIf="modalCompany.offers.masterthesis ">Ex-jobb</span>
              <span class="tag is-primary " *ngIf="modalCompany.offers.abroad ">Utlandsmöjligheter</span>
              <span class="tag is-primary " *ngIf="modalCompany.offers.trainee ">Trainee</span>
              <span class="tag is-primary " *ngIf="modalCompany.offers.otherthesis ">Uppsatshandledning</span>
            </div>


            <h5 class="title is-5 ">Vi söker</h5>
            <div class="tags ">
              <span class="tag is-primary " *ngIf="modalCompany.seeking.engineers ">Civilingenjörer i Industriell Ekonomi</span>
              <span class="tag is-primary " *ngIf="modalCompany.seeking.filfakare ">Civilekonomer</span>
              <span class="tag is-primary " *ngIf="modalCompany.seeking.firstyear ">1:or</span>
              <span class="tag is-primary " *ngIf="modalCompany.seeking.secondyear ">2:or</span>
              <span class="tag is-primary " *ngIf="modalCompany.seeking.thirdyear ">3:or</span>
              <span class="tag is-primary " *ngIf="modalCompany.seeking.fourthyear ">4:or</span>
              <span class="tag is-primary " *ngIf="modalCompany.seeking.fifthyear ">5:or</span>
            </div>

            <a class="button is-primary is-outlined ">Sök kontaktsamtal</a>
          </div>
          <div class="is-divider-vertical "></div>
          <div class="column is-auto ">
            <div class="about-company ">
              <h5 class="title is-5 ">Om oss</h5>
              <p>{{ modalCompany.about }}</p>
              <br>
              <h5 class="title is-5 ">Vi värdesätter</h5>
              <p>{{ modalCompany.values }}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>