<form [formGroup]="addBlogpostsForm" (ngSubmit)="submit(addBlogpostsForm.value)">

  <div class="card login-card">
    <div class="card-content">
      <h1 class="title is-2" style="text-transform: uppercase">Lägg till blogginlägg</h1>

      <div class="columns">
        <div class="column is-half">

          <div class="file">
            <label class="file-label">
          <input class="file-input" type="file" name="resume" (change)="startUpload($event.target.files)">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Ladda upp bild (Bäst med ratio runt 5:3), OBS KRAV!
            </span>
          </span>
        </label>
          </div>
        </div>
        <div class="column is-half">
          <div *ngIf="percentage | async as pct">

            <progress class="progress is-success" [value]="pct" max="100">
          </progress> {{ pct | number }}%

          </div>
          <div *ngIf="downloadURL | async as url">
            <h3>Uploaded!</h3>
            <!-- <img [src]="url"><br>
            <a [href]="url" target="_blank" rel="noopener">Download Me!</a> -->
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Titel</label>
        <input class="input is-success" type="text" formControlName="title">

      </div>




      <div class="field">
        <label class="label">Ingress/inledning (Optional) Inte längre än rutan!</label>
        <input class="input is-success" type="text" formControlName="ingress">
      </div>

      <div class="field">
        <label class="label">Beskrivande text</label>
        <!-- <quill-editor formControlName="about"></quill-editor> -->
        <textarea class="textarea is-success" type="text" formControlName="about"></textarea>
      </div>

      <div class="field">
        <label class="label">Dagens datum, format "2021-08-04"</label>
        <input class="input is-success" type="text" formControlName="date">
      </div>

      <div class="field">
        <label class="label">Hur viktigt är inlägget på en skala mellan 0-100? Där 0 är möte med företagsgruppen och 100 är kräftskiva med TEAM. (Högre ger mer publicitet)</label>
        <input class="input is-success" type="number" placeholder="0" formControlName="priority">
      </div>

      <button type="submit" class="button is-fullwidth" id="submit-button" [disabled]="!addBlogpostsForm.valid">Lägg till blogginlägg</button>
    </div>

  </div>
</form>