<div class="columns is-centered is-multiline ">
  <div class="column is-12">
    <input class="input" type="text" placeholder="Sök på företagsnamn" (keyup)="onSearch($event)">
  </div>
  <app-spinner *ngIf="showSpinner "></app-spinner>
  <div class="column is-one-third " *ngFor="let company of filteredCompanies">
    <div class="card is-storyworld bm--card-equal-height ">
      <a class="card-header " (click)="openModal(company) ">
        <!-- <div *ngIf="company.logopath | url "> -->
        <div class="card-image has-text-centered is-vcentered">
          <img *ngIf="company.logopath | storage | async as photoUrl " [src]="photoUrl">
        </div>
        <!-- </div> -->
      </a>
      <div class="card-body ">
        <div class="card-title "> {{ company.name }}</div>
        <div class="card-meta ">{{ company.industry }} <br>
          <span data-balloon="Vi klimatkompenserar för våra utsläpp under mässan!" *ngIf="company.climateComp" data-balloon-pos="down"><i class="fas fa-leaf "></i>&nbsp;&nbsp;&nbsp;</span>
          <span data-balloon="Vi erbjuder kontaktsamtal!" data-balloon-pos="down" *ngIf="company.offersinterview "><i class="fas fa-comments "></i>&nbsp;&nbsp;&nbsp;</span>
          <span *ngIf="company.treasurehunt " data-balloon="Vi deltar i pusseljakten! " data-balloon-pos="down"><i class="fas fa-puzzle-piece"></i>&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="card-description ">
          <div class="tags ">
            <span class="tag " *ngIf="company.internship ">Internship</span>
            <span class="tag " *ngIf="company.fulltime ">Heltidsjobb</span>
            <span class="tag " *ngIf="company.parttime ">Extrajobb</span>
            <span class="tag " *ngIf="company.summerjob ">Sommarjobb</span>
            <span class="tag " *ngIf="company.masterthesis ">Ex-jobb</span>
            <!-- <span class="tag " *ngIf="company.abroad ">Utlandsmöjligheter</span> -->
            <span class="tag " *ngIf="company.trainee ">Trainee</span>
            <!-- <span class="tag " *ngIf="company.otherthesis ">Uppsatshandledning</span> -->
          </div>
        </div>
      </div>
      <div class="card-footer "> <a class="button is-outlined is-small " (click)="openModal(company) ">Läs mer</a> &nbsp;&nbsp;
      <a class="button is-outlined is-small " [routerLink]="['../modifycompany/', company.id ]">REDIGERA</a> </div>
    </div>
  </div>
</div>



<!--Modalbody-->
<div *ngIf="isModalActive " class="modal " [ngClass]="{ 'is-active' : isModalActive } ">
  <div class="modal-background " (click)="closeModal() "></div>
  <div class="modal-card">

    <header class="modal-card-head ">
      <p class="modal-card-title "><strong>{{ modalCompany.name }}</strong>&nbsp;&nbsp;
        <span class="modal-fa has-text-success " *ngIf="modalCompany.climateComp" data-balloon="Vi klimatkompenserar för våra utsläpp under mässan! " data-balloon-pos="down"><i class="fas fa-leaf " style="color: #463853"></i>&nbsp;&nbsp;&nbsp;</span>
        <span class="modal-fa has-text-info " data-balloon="Vi erbjuder kontaktsamtal! " data-balloon-pos="down"><i class="fas fa-comments " style="color: #463853" *ngIf="modalCompany.offersinterview "></i>&nbsp;&nbsp;&nbsp;</span>
        <span class="modal-fa has-text-danger " *ngIf="modalCompany.treasurehunt " data-balloon="Vi deltar i pusseljakten! " data-balloon-pos="down"><i class="fas fa-puzzle-piece" style="color: #463853"></i></span>
      </p>
      <button class="delete " aria-label="close " (click)="closeModal() "></button>
    </header>

    <section class="modal-card-body ">
      <div class="columns ">

        <div class="column is-4 ">
        <a *ngIf="modalCompany.hemsida" href="{{ modalCompany.hemsida }}" target="_blank" data-balloon="Besök vår hemsida" data-balloon-pos="right">

          <img style="max-height:90px; padding-bottom: 0.4em; " *ngIf="modalCompany.logopath | storage | async as photoUrl " [src]="photoUrl ">
        </a>&nbsp;&nbsp;<br>
          <a *ngIf="modalCompany.linkedIn" href="{{ modalCompany.linkedIn }}" target="_blank" data-balloon="Besök på LinkedIn" data-balloon-pos="right">
            <i class="fab fa-linkedin-in" style="color: #463853"></i>&nbsp;&nbsp;&nbsp;
          </a>
          <a *ngIf="modalCompany.instagram" href="{{ modalCompany.instagram }}" target="_blank" data-balloon="Besök på Instagram" data-balloon-pos="right">
            <i class="fab fa-instagram" style="color: #463853"></i>&nbsp;&nbsp;&nbsp;
          </a>
          <a *ngIf="modalCompany.facebook" href="{{ modalCompany.facebook }}" target="_blank" data-balloon="Besök på Facebook" data-balloon-pos="right">
            <i class="fab fa-facebook" style="color: #463853"></i>&nbsp;&nbsp;&nbsp;
          </a>
          <a *ngIf="modalCompany.twitter" href="{{ modalCompany.twitter }}" target="_blank" data-balloon="Besök på Twitter" data-balloon-pos="right">
            <i class="fab fa-twitter" style="color: #463853"></i>&nbsp;&nbsp;&nbsp;
          </a>
          <a *ngIf="modalCompany.youtube" href="{{ modalCompany.youtube }}" target="_blank" data-balloon="Besök på Youtube" data-balloon-pos="right">
            <i class="fab fa-youtube" style="color: #463853"></i>&nbsp;&nbsp;&nbsp;
          </a>
          <br>
        


          <h5 class="title is-5 ">Vi ställer ut</h5>
          <div class="tags ">
            <span class="tag " *ngIf="modalCompany.firstdayappearance ">Tisdag</span>
            <span class="tag " *ngIf="modalCompany.seconddayappearance ">Onsdag</span>
          </div>
          <h5 class="title is-5 ">Bransch</h5>
          <div class="tags ">
            <span class="tag " *ngIf="modalCompany.consulting ">Konsultverksamhet</span>
            <span class="tag " *ngIf="modalCompany.industri ">Industri</span>
            <span class="tag " *ngIf="modalCompany.logistik ">Logistik</span>
            <span class="tag " *ngIf="modalCompany.itteknik ">IT & Teknik</span>
            <span class="tag " *ngIf="modalCompany.rekrytering ">Rekrytering</span>
            <span class="tag " *ngIf="modalCompany.bank ">Bank & Finans</span>
            <span class="tag " *ngIf="modalCompany.retail ">Retail</span>
            <span class="tag " *ngIf="modalCompany.fastigheter ">Fastigheter & Infrastruktur</span>
            <span class="tag " *ngIf="modalCompany.forening ">Förening eller Förbund</span>
            <span class="tag " *ngIf="modalCompany.revision ">Revision</span>
            <span class="tag " *ngIf="modalCompany.telekom">Telekom</span>
            <span class="tag " *ngIf="modalCompany.companyRedovisning ">Redovisning</span>
            <span class="tag " *ngIf="modalCompany.startup ">Startup</span>
            <span class="tag " *ngIf="modalCompany.detaljhandel ">Detaljhandel</span>
            <span class="tag " *ngIf="modalCompany.livsmedel ">Livsmedel</span>
            <span class="tag " *ngIf="modalCompany.other ">Övrigt</span>
          </div>
          <h5 class="title is-5 ">Vi erbjuder</h5>
          <div class="tags ">
            <span class="tag " *ngIf="modalCompany.internship ">Internship</span>
            <!-- <span class="tag " *ngIf="modalCompany.fulltime ">Heltidsjobb</span> -->
            <span class="tag " *ngIf="modalCompany.parttime ">Extrajobb</span>
            <span class="tag " *ngIf="modalCompany.summerjob ">Sommarjobb</span>
            <span class="tag " *ngIf="modalCompany.masterthesis ">Ex-jobb</span>
            <!-- <span class="tag " *ngIf="modalCompany.abroad ">Utlandsmöjligheter</span> -->
            <span class="tag " *ngIf="modalCompany.trainee ">Trainee</span>
            <!-- <span class="tag " *ngIf="modalCompany.otherthesis ">Uppsatshandledning</span> -->
          </div>


          <h5 class="title is-5 ">Vi söker</h5>
          <div class="tags ">
            <span class="tag " *ngIf="modalCompany.engineers ">Civilingenjörer i Industriell Ekonomi</span>
            <span class="tag " *ngIf="modalCompany.filfakare ">Civilekonomer</span>

            <!-- <span class="tag " *ngIf="modalCompany.digitalMan ">Digitalisering & management</span>
            <span class="tag " *ngIf="modalCompany.finans ">Finans</span>
            <span class="tag " *ngIf="modalCompany.industriellmarknad ">Industriell Marknadsföring</span>
            <span class="tag " *ngIf="modalCompany.kvalitetVerksam ">Kvalitets- och verksamhetsutveckling</span>
            <span class="tag " *ngIf="modalCompany.logistikMaster ">Logistik och supply chain management</span>
            <span class="tag " *ngIf="modalCompany.projektInno ">Projekt, innovation och entreprenörskap</span>
            <span class="tag " *ngIf="modalCompany.produktionsledning ">Produktionsledning</span>
            <span class="tag " *ngIf="modalCompany.strategiStyrning ">Strategi och styrning</span>

            <span class="tag " *ngIf="modalCompany.systemteknik ">Systemteknik</span>
            <span class="tag " *ngIf="modalCompany.maskinteknik ">Maskinteknik</span>
            <span class="tag " *ngIf="modalCompany.bioteknik ">Bioteknik</span>
            <span class="tag " *ngIf="modalCompany.datateknik ">Datateknik</span>
            <span class="tag " *ngIf="modalCompany.energiteknik ">Energiteknik</span>

            <span class="tag " *ngIf="modalCompany.redovisning ">Redovisning</span>
            <span class="tag " *ngIf="modalCompany.ekonomistyrning ">Ekonomistyrning</span>
            <span class="tag " *ngIf="modalCompany.strategiMarknad ">Strategi och marknadsföring</span>
            <span class="tag " *ngIf="modalCompany.finansiellekonomi ">Finansiell ekonomi</span>
            <span class="tag " *ngIf="modalCompany.nationalekonomi ">Nationalekonomi</span>
            <span class="tag " *ngIf="modalCompany.ekonomiskanalys ">Ekonomisk analys</span> -->

          </div>

          <a *ngIf="modalCompany.offersinterview" class="button is-outlined ">Kontaktsamtal</a>
        </div>
        <div class="is-divider-vertical "></div>
        <div class="column is-auto ">
          <div class="about-company ">
            <h5 class="title is-5 ">Om oss</h5>
            <p style="white-space: pre-wrap;">{{ modalCompany.about }}</p>
            <br>
            <h5 *ngIf="modalCompany.values" class="title is-5 ">Vi värdesätter</h5>
            <p style="white-space: pre-wrap;">{{ modalCompany.values }}</p>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>