<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
              <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Vanliga frågor</h2>
              <h2 class="subtitle is-6" style="color: #463853;">
                Här finner ni företag och utställare svar på de vanligast förekommande frågorna. 
                Hittar ni inte svaret på er fråga kan ni alltid kontakta oss via kontaktuppgifterna under “Om oss”.
              </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      
      <div class="container has-text-centered is-mobile">
        <h1 class="title is-3 is-spaced">Generella frågor</h1><br>
      </div>

      <div class="columns is-centered ">
        <div class="column">
          <h2 class="subtitle is-4">
            Vad är TEAM?
          </h2>
          <p>
            TEAM är de TekniskEkonomiska ArbetsMarknadsdagarna, en arbetsmarknadsdagsmässa främst inriktad mot Civilekonomprogrammet och programmet för 
            Civilingenjör i Industriell Ekonomi vid Linköpings universitet. Totalt representeras cirka 85 företag, organisationer och fackförbund under mässdagarna.
          </p>
        </div>

        <div class="column">
          <h2 class="subtitle is-4">
            Var och när hålls TEAM-dagarna?
          </h2>
          <p>
            Mässan kommer i år att hållas på Campus Valla, Linköpings Universitet. 
            Mässan äger rum 23-24 september 2025 och är öppen för besökare mellan kl. 10:00-15:00 båda dagarna.
          </p>
        </div>

        <div class="column">
          <h2 class="subtitle is-4">
            Vad innebär TEAM-dagarnas hållbarhetscertifiering för oss som företag?
          </h2>
          <p> 
            Vi hoppas att alla kommer hjälpas åt att göra en så hållbar mässa som möjligt bland annat genom att 
            minimera mässans miljöpåverkan. Som utställande företag kan ni minimera mässans miljöpåverkan genom att 
            till exempel resa med tåg istället för att åka bil till mässan, dela ut information elektroniskt, inte dela 
            ut goodiebags eller broschyrer och hjälpa till att sortera eventuellt skräp på mässan. Ni kan också vara med 
            och klimatkompensera för mässan.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">

      <div class="container has-text-centered is-mobile">
        <h1 class="title is-3 is-spaced">Innan mässan</h1><br>
      </div>

      <div class="columns is-centered ">
        <div class="column">

          <h2 class="subtitle is-4">
            Vad är Infördagarna?
          </h2>
          <p>
            Infördagarna är den uppladdning som pågår under veckorna innan mässdagen. TEAM anordnar mängder av evenemang såsom föreläsningar, 
            företagsevent, tävlingar och mycket mer. Om ert företag är intresserade av att delta, tveka inte att höra av er till oss!
          </p> 
          </div>

          <!--<div class="column">
          <h2 class="subtitle is-4">
            När kontaktar företagsvärden vårt företag?
          </h2>
          <p>
            Under vecka 37 kommer er företagsvärd att kontakta er per telefon för att redogöra praktiska detaljer inför mässan. 
            Ni kommer att informeras gällande resvägar, hur incheckning går till på mässdagen, var ni hämtar ut lunch- och bankettbiljetter,
            och företagsvärden finns tillgänglig för att svara på era frågor.
          </p>
          </div>--> 

        <div class="column">
          <h2 class="subtitle is-4">
            Hur beställer jag persontransport till mässan?
          </h2>
          <p>
            Persontransport beställs antingen i förväg via er företagsvärd eller genom att maila 
            <a href="mailto:nora.agren@teamdagarna.com">nora.agren@teamdagarna.com</a>. 
            Ni kan även beställa persontransport i Linköping genom logistikdisken på mässan.
          </p>
        </div>

        <div class="column">
          <h1 class="subtitle is-4">
            Hur hittar jag dit?
          </h1>
          <p>
            Köranvisningar finner du på följande sida: <a href="https://teamdagarna.com/find" target="_blank">Hitta hit</a>
          </p>
        </div>

        <div class="column">
          <h2 class="subtitle is-4">
            Vart kan vi skicka gods som ska till mässan?
          </h2>
          <p>
            Det kommer finnas möjlighet att skicka gods till mässan, datum meddelas längre fram. Mer information kommer i utskicket som kommer ut 
            närmare mässan. Övriga frågor angående montertransport hänvisas till <a href="mailto:nora.agren@teamdagarna.com">nora.agren@teamdagarna.com</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">

      <div class="container has-text-centered is-mobile">
        <h1 class="title is-3 is-spaced">
          Mässdagarna
        </h1>
        <br>
      </div>

      <div class="columns is-centered ">
        <div class="column">
          <h2 class="subtitle is-4">
            Finns det en företagslounge?
          </h2>
          <p>
            Ja, det kommer finnas en företagslounge i anslutning till mässområdet. Företagsloungen är reserverad för företagsrepresentanter 
            samt mässans värdar. Företagsloungens öppettider är 10:00-15:00.Frukost serveras mellan 07:30-10:00, därefter är man välkommen 
            att hämta kaffe, dryck, fika och diverse övriga godsaker. Det finns även plats att bara ta det lugnt i någon av loungens soffor.
          </p>
          </div>

          <div class="column">
            <h2 class="subtitle is-4">
              Jag vill beställa ett extra bord till min monter, hur går jag tillväga?
            </h2>
            <p>
              Extrabeställningar görs i mässans informationsdisk i Colosseum i C-huset. För att genomföra en extrabeställning krävs godkännande 
              samt signatur från en företagsrepresentant. Fakturering av extrabeställning sker efter mässan.
            </p>    
            </div>
      </div>

      <div class="columns is-centered ">

        <!-- <div class="column">
          <h2 class="subtitle is-4">
            Vad gäller för öppettider under mässan?
          </h2>
          <p>
            Mässan är öppen för besökare mellan kl. 10:00-15:00 båda dagarna.
          </p>
        </div> -->

        <div class="column">
          <h2 class="subtitle is-4">
            Hur fungerar den planerade lunchen?
          </h2>
          <p>
            Alla företagsrepresentanter får lunchbiljetter med utsatta tider vid incheckning i infodisken på mässan.
          </p>
        </div>
        
        <div class="column">
          <h2 class="subtitle is-4">
            Hur kommer kontaktsamtalen att gå till?
          </h2>
          <p>
            Kontaktsamtal är ett 25 minuter långt samtal där du som företag får chans att få personlig kontakt med intresserade studenter. 
            Samtalen är en möjlighet för er att presentera vad ni kan erbjuda studenterna, och för studenterna att ställa frågor för att 
            lära sig mer om just ert företag. Om ni har frågor eller funderingar innan mässan går det bra att kontakta 
            <a href="kontaktsamtal@teamdagarna.com"> kontaktsamtal@teamdagarna.com</a> All information som avser kontaktsamtal kommer att 
            vara tillgänglig i kontaktsamtalsdisken som är stationerad i A-huset bredvid hörsal A2 under mässan. Kontaktsamtalsdisken är 
            öppen 10:00-15:00.
          </p>
        </div>
      </div>

      <div class="container has-text-centered is-mobile">
        <h1 class="title is-3 is-spaced">
          Kvällsaktiviteter
        </h1>
        <br>
      </div>

      <div class="columns is-centered ">

        <div class="column">
          <h2 class="subtitle is-4">
            Var hålls AW:n?
          </h2>
          <p> AW:n hålls kl. 18.00 den 23:e september på Linköpings Konsert och Kongress på Vasavägen 18.</p>
        </div>

        <div class="column">
          <h2 class="subtitle is-4">
            Var hålls banketten?
          </h2>
          <p>
            Banketten hålls kl. 19.00 den 24:e september på Linköpings Konsert och Kongress på Konsistoriegatan 7. Klädsel är mörk kostym.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
