<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Vanliga frågor </h1>
          <h2 class="subtitle">Här finner ni som företag och utställare svar på de vanligast förekommande frågorna. Hittar ni inte svaret på er fråga kan ni alltid kontakta oss via kontaktuppgifterna under "Om oss".</h2> </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-3">Generellt</h1>
        </div>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Vad är TEAM?</h1>
        <p>TEAM är de TekniskEkonomiska ArbetsMarknadsdagarna, en arbetsmarknadsdagsmässa främst inriktad mot Civilekonomprogrammet och programmet för Civilingenjör Industriell Ekonomi vid Linköpings universitet. Totalt representeras cirka 80 företag, organisationer
          och fackförbund under de två mässdagarna. Läs mer om TEAM här.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Var hålls TEAM?</h1>
        <p>Mässan äger rum i C-huset på Campus Valla i Linköping. På mässområdet finns bland annat garderober och olika lounger för både studenter och företag till förfogande.
        </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">När är Teamdagarna?</h1>
        <p>TEAM 2019 äger rum mellan den 24:e och den 25:e september.</p>
      </div>



      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-3">Innan mässan</h1>
        </div>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">När kontaktar företagsvärden vårt företag?</h1>
        <p>Under vecka 37 kommer er företagsvärd att kontakta er per telefon för att redogöra praktiska detaljer inför mässan. Ni kommer att informeras gällande resvägar, hur incheckning går till på mässdagen, var ni hämtar ut lunch- och bankettbiljetter,
          och företagsvärden finns tillgänglig för att svara på era frågor.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Hur beställer jag persontransport till mässan?</h1>
        <p>Persontransport beställs antingen i förväg via er företagsvärd eller genom att maila oscar.moberg@teamdagarna.com. Ni kan även beställa persontransport genom logistikdisken på mässan. Mer information om hur detta går till finner ni här.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Jag färdas med bil - har ni köranvisningar?</h1>
        <p>Köranvisningar finner du här.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Vart kan vi skicka gods som ska till mässan?</h1>
        <p>Det kommer finnas möjlighet att skicka gods till mässan torsdagen den 21:a september och fredagen den 22:a september. Det finns även möjlighet att förvara godset på området till dagen efter mässan (den 28:september) i väntan på transport tillbaka.
          Mer information kommer i utskicket som kommer ut i början på september. Övriga frågor angående montertransport hänvisas till <a href="oscar.moberg@teamdagarna.com">oscar.moberg@teamdagarna.com</a>.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Vad innebär TEAM-dagarnas miljömärkning för oss som företag?</h1>
        <p>Vi hoppas att alla kommer hjälpas åt att minimera mässans miljöpåverkan. Som utställande företag kan ni minimera mässan miljöpåverkan genom att till exempel resa med tåg istället för att åka bil till mässan, undvika att dela ut för mycket onödigt
          material och fundera på om det kan delas ut elektroniskt och hjälpa till att sortera eventuellt skräp på mässan.</p>
      </div>



      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-3">Inför-dagarna</h1>
        </div>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Vad är Infördagarna?</h1>
        <p>Infördagarna är den uppladdning som pågår under veckorna innan de två mässdagarna. Mellan den 11:e och den 24:e september anordnar TEAM mängder av evenemang såsom föreläsningar, företagsevent, tävlingar och mycket mer. Om ert företag är intresserade
          av att delta under Infördagarna, tveka inte att höra av er till oss!</p>
      </div>

      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-3">Mässdagarna</h1>
        </div>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Finns det en företagslounge?</h1>
        <p>Ja, det kommer finnas en företagslounge i anslutning till mässområdet. Företagsloungen är reserverad för företagsrepresentanter samt mässans värdar. Företagsloungens öppettider är 07.30-16.00.</p>
        <p>Frukost serveras mellan 07.30-10.00, därefter är man välkommen att hämta kaffe, dryck, fika och diverse övriga godsaker. Det finns även plats att bara ta det lugnt i någon av loungens soffor.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Jag vill beställa ett extra bord till min monter, hur går jag tillväga?</h1>
        <p>Extrabeställningar görs i mässans informationsdisk i Colosseum i C-huset. För att genomföra en extrabeställning krävs den PIN-kod som fås vid incheckning och godkännande samt signatur från en företagsrepresentant.</p>
        <p>Fakturering av extrabeställning sker efter mässan. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Vad gäller för öppettider under mässan?</h1>
        <p>Mässan är öppen för besökare mellan kl. 10:00-16:00 båda dagarna.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Hur fungerar den planerade lunchen?</h1>
        <p>Alla företagsrepresentanter kommer tilldelas lunchbiljetter med utsatta tider vid incheckning i infodisken på mässan. </p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Hur kommer kontaktsamtalen att gå till?</h1>
        <p>All information som avser kontaktsamtal kommer att vara tillgänglig i kontaktsamtalsdisken som är stationerad i A-huset bredvid hörsal A2. Kontaktsamtalsdisken är öppen 08:00-16:00. </p>
      </div>


      <div class="column is-12">
        <div class="border-btm">
          <h1 class="title is-3">Kvällsaktiviteter</h1>
        </div>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Var hålls AW:n?</h1>
        <p>AW:n hålls kl. 18.30 den 24:e september på Linköpings Konsert och Kongress på Konsistoriegatan 27.</p>
      </div>
      <div class="column is-4">
        <h1 class="title is-4">Var hålls banketten?</h1>
        <p>Banketten hålls kl. 18.30 den 25:e september på Linköpings Konsert och Kongress på Konsistoriegatan 27. Klädsel är mörk kostym.</p>
      </div>

    </div>


  </div>
</section>
