<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Quiz</h1>
          <h2 class="subtitle">Med hjälp av detta quiz kan du dig med det företag som passar dig bäst. Genom att svara på 7 frågor kommer du få upp olika företag som stämmer in på de svar du angivit.  </h2> 
        </div>
      </div>
    </div>
  </div> 
</div>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-full is-mobile is-centered">
        <iframe id="interactApp5ec6ba6ba0f8ff0014ffe992" width="800" height="800" style="border:none;max-width:100%;margin:0;" allowTransparency="true" frameborder="0" src="https://quiz.tryinteract.com/#/5ec6ba6ba0f8ff0014ffe992?method=iframe"></iframe>

      </div>


    </div>
  </div>
</section>