<div class="field">
  <h1 class="title is-2" style="text-transform: uppercase">Användare</h1>

  <div class="control">
    <input class="input" type="text" placeholder="Sök..." [(ngModel)]="searchterm" (keydown)="search($event)">
  </div>
</div>

<table class="table is-fullwidth">
  <thead>

    <tr>
      <th>ID</th>
      <th>LiU-ID</th>
      <th>Förnamn</th>
      <th>Efternamn</th>
      <th>Program</th>
      <th>Rättigheter</th>
      <th>Spara</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let club of clubs">
      <th>Keg5TziePgZkYpuikXiwNf3MjP03</th>
      <th>linga300</th>
      <th>Linus</th>
      <td>Gålén</td>
      <td>Industriell Ekonomi</td>
      <td>
        <div class="select is-small">
          <select>
            <option>Student</option>
            <option>Dreateam Member</option>
            <option>Dreateam Member Platinum</option>
          </select>
        </div>
      </td>
      <td>
        <a [routerLink]="['../modifyuser/', club.uid]" class="button is-info is-rounded is-small">

    <span>Ändra</span>
    <span class="icon is-small" style="color:white;">
      <i class="fas fa-edit"></i>
    </span>
  </a>
      </td>
    </tr>
  </tbody>
  <div *ngIf="clubs?.length < 1">
    <p>Inga användare hittade</p>
  </div>
</table>