<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Ny grafisk profil </h1>
          <h2 class="subtitle">Nedan finner du information om den nya grafiska profilen för årets upplaga av TEAM-dagarna.</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="border-btm">
      <h1 class="title is-1">TEAM tar en ny vändning</h1>
    </div>
      <div class="column is-full">
        <p>Har ni sett TEAM-dagarnas nya logotyp? Årets projektgrupp var överens om att det var dags för en liten uppdatering, och med årets slogan ”där karriären tar fart” togs en ny logotyp med tillhörande grafisk profil fram! Med fokus på rena linjer, en varmare rosa nyans och samma bibehållna lekfullhet som TEAM alltid tar med glimten i ögat ser vi fram emot en färgsprakande mässa likt aldrig förr!</p> <br>
        <p class="has-text-primary is-italic">/Art Director Julia Sanfridsson</p> <br>
      </div>
      <div class="columns">
      <div class="column is-4 is-offset-1">
        <h2 class="subtitle has-text-centered has-text-black">Före</h2>
        <div class="">
          <img class="" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/rosa-utan-pussel.png?alt=media&token=1f5b35d2-84bd-48e8-afe9-4ae00c46427f">
        </div>
      </div>
      <div class="column is-4 is-offset-1">
        <h2 class="subtitle has-text-centered has-text-black">Efter</h2>
        <div class="">
          <img class="" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Logotyp.png?alt=media&token=5523d62c-4476-4416-aa7b-18880cbfb269">
        </div>

      </div>
    </div>
    </div>
</section>
