.card-description {
  overflow: hidden;
}
@media screen and (min-width: 1023px), print {
  .card-header {
    max-height: 350px;
    overflow: hidden;
  }
}
@media screen and (min-width: 786px) and (max-width: 1023px), print {
  .card-header {
    max-height: 270px;
    overflow: hidden;
  }
}

img {
  width: 100%;
  height: auto;
}

.about-blogpost {
  padding-right: 60px;
  padding-bottom: 60px;
}

.ingress {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

i.fa {
  display: inline-block;
}

.modal-card {
  overflow: visible;
}

.modal-fa {
  margin-left: 0.4em;
}

.inline-flex {
  display: inline-flex;
}


.filter-dropdown {
  margin-right: 10px;
}

.card-header {
  height: 170px;

  img {
    max-height: 170px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.card-title {
  overflow: hidden;
}

.modal-card-title {
  width: 90%;
}

.card {
  width: 100%;
}

.date-blogpost {
  margin-right: 10px;
  
}

.footer-column {
  padding: 0px;
}

.heart {
  margin-right: 20px;
}

// Create cards with equal sizes inside columns