
<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Nyheter </h1>
          <h2 class="subtitle">"Kul läsning". </h2>
        </div>
      </div>
    </div>
  </div>
</div>




<section class="section">
<div class="container">
  <div class="columns is-multiline">

    <div class="column is-6">
  
    </div>
    

  </div>



  <div class="columns is-centered is-multiline ">
    <app-spinner *ngIf="showSpinner "></app-spinner>
    <ng-container *ngFor="let blogpost of filteredCompanies">
      <div class="column is-one-quarter " *ngIf="blogpost.name != 'Öppen anmälan kontaktsamtal'">

        <div class="card is-storyworld bm--card-equal-height ">
          <a class="card-header " (click)="openModal(blogpost) ">
           
            <div class="card-image has-text-centered is-vcentered">
              <!-- <img *ngIf="blogpost.logopath | storage | async as photoUrl " [src]="photoUrl"> -->
            </div>
            <!-- </div> -->
          </a>
          <div class="card-body">
            <div class="card-title"> {{ blogpost.title }}</div>
            
          </div>

          <div class="card-footer">
            <div class="column footer-column">
            <a class="button is-primary is-outlined is-small" (click)="openModal(blogpost) ">Läs mer</a>&nbsp;
           
            </div>
            </div>
        </div>

      </div>
    </ng-container>
  </div>


  <div *ngIf="isModalActive " class="modal " [ngClass]="{ 'is-active' : isModalActive } ">
    <div class="modal-background " (click)="closeModal() "></div>
    <div class="modal-card ">
      <header class="modal-card-head">
        <p class="modal-card-title"><strong>{{ modalBlogpost.title }}</strong>
        <button class="delete" aria-label="close" (click)="closeModal() "></button>

      </header>

      <section class="modal-card-body ">
        <div class="columns is-multiline ">

          <div class="column is-3 ">
            <!--<img class=" " style="max-height:90px; padding-bottom: 0.4em; " *ngIf="modalBlogpost.logopath | storage | async as photoUrl " [src]="photoUrl "> -->
           
          </div>
          <div class="is-divider-vertical "></div>
          <div class="column is-auto ">
            <div class="about-blogpost ">
              <h5 class="title is-5 ">Om oss</h5>
              <p style="white-space: pre-wrap;">{{ modalBlogpost.ingress }}</p>
              <br>
              <h5 *ngIf="modalblogpost.values" class="title is-5 ">Vi värdesätter</h5>
              <p style="white-space: pre-wrap;">{{ modalBlogpost.about }}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</section>
