<div class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-two-thirds">
            <h1 class="title"> Tävlingar!</h1>
            <h2 class="subtitle"> Tävlingar wohoo! 
              Fyll i formuläret nedan för att tävla.   </h2> 
          </div>
        </div>
      </div>
    </div> 
  </div>
  
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-full is-mobile is-centered">
          <!-- <iframe id="interactApp5ec6ba6ba0f8ff0014ffe992" width="800" height="800" style="border:none;max-width:100%;margin:0;" allowTransparency="true" frameborder="0" src="https://docs.google.com/forms/d/e/1FAIpQLSeSzoVx5OunOd9GN97XbKg13yTUNdPSd1zdN8xdG3Xxmzx06g/viewform?usp=sf_link"></iframe> -->
          <a class="button is-primary" href ="https://fair.teamdagarna.com/sv/event/5267" style="margin: 4px 4px 8px 0;">Pusseljakten</a>
          
        </div>
  
  
      </div>
    </div>
  </section>