<div class="hero" id="title-hero">

  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
              <h2 class="title is-1 is-spaced" style="text-transform: uppercase">Pusseljakten</h2>
              <h5 class="subtitle is-6">Pusseljakten är en tävling under TEAM-dagarna där du som student får bekanta dig med mängder av företag genom att utföra roliga uppdrag och ta reda på svaren till spännande frågor.
                </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">

    <h1 class="subtitle is-4">Generösa priser kommer att delas ut till högpresterande deltagare och även lottas ut bland alla som är med och tävlar. Det kommer att vara en tävling per dag där olika företag deltar och man får därmed två chanser att kamma hem storvinsten.</h1>
    <h1 class="subtitle is-4">Förutom att man kan vinna finfina priser är pusseljakten även ett oerhört roligt och enkelt sätt att upptäcka mässan på, och kom ihåg att företagen deltar för att de vill prata med just dig!</h1>
    <h1 class="subtitle is-4">Eventet riktar sig främst till de lägre årskurserna, men de äldre är självklart varmt välkomna att delta!</h1>
    <h1 class="subtitle is-4">Vi kommer dela ut tävlingsformulär under mässan till de som vill delta. </h1>
    <div class="content">
      <h1 class="subtitle is-4">Priser i pusseljakten:</h1>
      <ul>
        <li>Knus S Blender från Wilfa</li>
        <li>Nespresso Citiz D112 kapselmaskin </li>
        <li>Marshall Acton BT högtalare </li>
        <li>Sodastream Jet Kolsyremaskin </li>
        <li>JBL Tune600BTNC trådlösa on-ear hörlurar med aktiv brusreducering </li>
        <li>Ultimate Ears Wonderboom trådlös högtalare</li>
        <li>Chromecast Ultra </li>
        <li>OBH Nordica Quick Chef Stavmixer </li>
        <li>Fujifilm Instax mini 9 kompaktkamera + Fujifilm Instax Mini Utskriftspapper</li>
      </ul>
      <p>De tre studenter som slutför flest uppdrag under respektive tävlingsdag får chansen att välja fritt bland ovanstående priser. Ettan väljer först, sen går turen vidare till tvåan och sist trean. Resterande priser lottas bland alla deltagare. Lägsta
        antal uppdrag som krävs för att delta i utlottningen är 5 st. </p>
    </div>
    <!-- <ng-container>
      <h1 class="subtitle is-4">Företag som deltar:</h1>
      <div class="columns is-multiline is-centered">
        <div class="column is-2 is-6-mobile" *ngFor="let company of companies">
          <div class="level-item">
            <img style="max-height: 60px;" *ngIf="company.logopath | storage | async as photoUrl " [src]="photoUrl">
          </div>
        </div>
      </div>
    </ng-container> -->
    </div>

  </div>
</section>
