<div class="hero is-black is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Välj ut studenter </h1>
          <h2 class="subtitle">Här kan ni se alla studenter som sökt kontaktsamtal, välja ut de ni vill prata med samt se schema.</h2> </div>
      </div>
    </div>
  </div>
</div>






<ng-container>
  <section class="section" *ngIf="!selectView">
    <div class="continer">

      <div class="columns is-centered">
        <div class="column is-4 is-12-mobile">

          <form [formGroup]="submitCodeForm" (ngSubmit)="submit(submitCodeForm.value)">

            <div class="field">
              <label class="label" for="code">Företagskod</label>
              <input class="input" type="text" placeholder="Skriv in koden du fått" formControlName="code">
            </div>
            <p class="error-message" *ngIf="showerror">Koden du matat in är inte korrekt. Var vänlig testa igen. Se till att mata in den företagskod ni fått och inte lösenordet för att logga in. Företagskoden har 7 tecken och skulle kunna se ut såhär: "0fb3HJ4"</p>

            <button type="submit" class="button is-fullwidth is-primary" [ngClass]="{'is-loading':loading}" [disabled]="false">Gå in till portalen <span>&nbsp; <i class="fas fa-sign-in-alt"></i></span></button>
          </form>
        </div>
      </div>

    </div>
  </section>


  <section class="section" *ngIf="selectView && interviews && company">

    <div class="columns is-centered is-multiline">
      <div class="column is-12" *ngIf="company.interviewpackages.firstdaypackage1 || company.interviewpackages.firstdaypackage2">
        <h1 class="title is-2">Schema tisdag</h1>
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Namn</th>
              <th>Tid</th>
              <th>Program</th>
              <th>År</th>
              <th>Civ.Ek inrikt. 1 / Civ.Ing Kandidat</th>
              <th>Civ.Ek inrikt. 2 / Civ.Ing Master</th>
              <th *ngIf="company.reqresume">CV</th>
              <th *ngIf="company.reqcl">PB</th>
              <th *ngIf="company.reqgrades">Betyg</th>
            </tr>
            <tbody>
              <ng-container *ngFor="let interview of selectedinterviews">
                <tr *ngIf="interview.day == 'tuesday' && interview.time !== undefined && interview.time !== ''" (click)="selectedRow(interview.id)" [ngClass]="{ 'is-selected': interview.id == selected} ">
                  <td>{{ interview.firstname }} {{ interview.lastname }}</td>
                  <td>{{ interview.time }}</td>
                  <td>{{ interview.program }}</td>
                  <td>{{ interview.year }}</td>
                  <ng-container *ngIf="interview.program == 'Civilekonom'">
                    <td>{{ interview.nekorfek }}</td>
                    <td>{{ interview.filfakspecialization }}</td>
                  </ng-container>
                  <ng-container *ngIf="interview.program == 'Industriell Ekonomi'">
                    <td>{{ interview.engineerbachelor }}</td>
                    <td>{{ interview.engineermaster }}</td>
                  </ng-container>
                  <ng-container *ngIf="interview.program == 'Annat'">
                    <td *ngIf="interview.nekorfek !== ''">{{ interview.nekorfek }}</td>
                    <td *ngIf="interview.filfakspecialization !== ''">{{ interview.filfakspecialization }}</td>
                    <td *ngIf="interview.engineerbachelor !== '' && interview.nekorfek == ''">{{ interview.nekorfek }}</td>
                    <td *ngIf="interview.engineermaster !== '' && interview.filfakspecialization == ''">{{ interview.filfakspecialization }}</td>
                    <td *ngIf="interview.engineerbachelor == '' && interview.nekorfek == ''">-</td>
                    <td *ngIf="interview.engineermaster == '' && interview.filfakspecialization == ''">-</td>
                  </ng-container>


                  <td *ngIf="company.reqresume">
                    <ng-container *ngIf="interview.resumepath"><a *ngIf="interview.resumepath | storage | async as resumepath" href="{{ resumepath }} + .pdf" target="_blank">CV <i class="fas fa-external-link-alt"></i></a></ng-container>
                  </td>
                  <td *ngIf="company.reqcl">
                    <ng-container *ngIf="interview.coverletterpath"><a *ngIf="interview.coverletterpath | storage | async as coverletterpath" href="{{ coverletterpath }} + .pdf" target="_blank">Personlig Brev<i class="fas fa-external-link-alt"></i></a></ng-container>
                  </td>
                  <td *ngIf="company.reqgrades">
                    <ng-container *ngIf="interview.gradespath"><a *ngIf="interview.gradespath | storage | async as gradespath" href="{{ gradespath }} + .pdf" target="_blank">Betyg <i class="fas fa-external-link-alt"></i></a></ng-container>
                  </td>
                </tr>
              </ng-container>
            </tbody>
        </table>
      </div>
      <div class="column is-12" *ngIf="company.interviewpackages.seconddaypackage1 || company.interviewpackages.seconddaypackage2">
        <h1 class="title is-2">Schema onsdag:</h1>
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Namn</th>
              <th>Tid</th>
              <th>Program</th>
              <th>År</th>
              <th>Civ.Ek inrikt. 1 / Civ.Ing Kandidat</th>
              <th>Civ.Ek inrikt. 2 / Civ.Ing Master</th>
              <th *ngIf="company.reqresume">CV</th>
              <th *ngIf="company.reqcl">PB</th>
              <th *ngIf="company.reqgrades">Betyg</th>
            </tr>
            <tbody>
              <ng-container *ngFor="let interview of selectedinterviews">
                <tr *ngIf="interview.day == 'wednesday' && interview.time !== undefined && interview.time !== ''" (click)="selectedRow(interview.id)" [ngClass]="{ 'is-selected': interview.id == selected} ">
                  <td>{{ interview.firstname }} {{ interview.lastname }}</td>
                  <td>{{ interview.time }}</td>
                  <td>{{ interview.program }}</td>
                  <td>{{ interview.year }}</td>
                  <ng-container *ngIf="interview.program == 'Civilekonom'">
                    <td>{{ interview.nekorfek }}</td>
                    <td>{{ interview.filfakspecialization }}</td>
                  </ng-container>
                  <ng-container *ngIf="interview.program == 'Industriell Ekonomi'">
                    <td>{{ interview.engineerbachelor }}</td>
                    <td>{{ interview.engineermaster }}</td>
                  </ng-container>
                  <ng-container *ngIf="interview.program == 'Annat'">
                    <td *ngIf="interview.nekorfek !== ''">{{ interview.nekorfek }}</td>
                    <td *ngIf="interview.filfakspecialization !== ''">{{ interview.filfakspecialization }}</td>
                    <td *ngIf="interview.engineerbachelor !== '' && interview.nekorfek == ''">{{ interview.nekorfek }}</td>
                    <td *ngIf="interview.engineermaster !== '' && interview.filfakspecialization == ''">{{ interview.filfakspecialization }}</td>
                    <td *ngIf="interview.engineerbachelor == '' && interview.nekorfek == ''">-</td>
                    <td *ngIf="interview.engineermaster == '' && interview.filfakspecialization == ''">-</td>
                  </ng-container>


                  <td *ngIf="company.reqresume">
                    <ng-container *ngIf="interview.resumepath"><a *ngIf="interview.resumepath | storage | async as resumepath" href="{{ resumepath }} + .pdf" target="_blank">CV <i class="fas fa-external-link-alt"></i></a></ng-container>
                  </td>
                  <td *ngIf="company.reqcl">
                    <ng-container *ngIf="interview.coverletterpath"><a *ngIf="interview.coverletterpath | storage | async as coverletterpath" href="{{ coverletterpath }} + .pdf" target="_blank">Personlig Brev<i class="fas fa-external-link-alt"></i></a></ng-container>
                  </td>
                  <td *ngIf="company.reqgrades">
                    <ng-container *ngIf="interview.gradespath"><a *ngIf="interview.gradespath | storage | async as gradespath" href="{{ gradespath }} + .pdf" target="_blank">Betyg <i class="fas fa-external-link-alt"></i></a></ng-container>
                  </td>
                </tr>
              </ng-container>
            </tbody>
        </table>
      </div>
    </div>

    <section class="section">
      <h1 class="title is-2">Urval:</h1>
      <div class="contianer">
        <h2 class="subtitle is-5"><em>Ni väljer de ni vill prata med genom att ändra menyn längst till höger på varje kandidat. Så fort ni uppdaterat menyn kommer uppdateringen att gå igenom, dvs ni behöver inte spara på något sätt. Utöver att välja ut de kandidater som blir antagna kan ni ta ut upp till fem reserver som rangorndas mellan 1-5 där nummer 1 kommer att få en plats först. Skulle ni ha några frågor eller har problem kan ni kontakta kontaktsamtalsansvarig på <a href="mailto:julia.swahn@teamdagarna.com ">julia.swahn@teamdagarna.com</a> eller IT-asnvarig på <a href="mailto:itwebb@teamdagarna.com">itwebb@teamdagarna.com</a>. <strong>Det kommer alltid vara det som står under "status" som gäller och inte det som står under högra menyn.</strong> Ändras inte "status" kan det bero på att internetkoppling inte finns.</em></h2>
      </div>
    </section>
    <div class="columns is-centered">
      <div class="column is-12">


        <h1 class="title is-3">{{ company.name }}</h1>

        <table class="table is-fullwidth">
          <thead>
            <tr>

              <th>Namn <a (click)="applyOrder('firstname')"><i class="fas fa-sort"></i></a></th>
              <th>Program <a (click)="applyOrder('program')"><i class="fas fa-sort"></i></a></th>
              <th>År <a (click)="applyOrder('year')"><i class="fas fa-sort"></i></a></th>
              <th>Civ.Ek inrikt. 1 / Civ.Ing Kandidat <a (click)="applyOrder('firstchoice')"><i class="fas fa-sort"></i></a></th>
              <th>Civ.Ek inrikt. 2 / Civ.Ing Master <a (click)="applyOrder('secondchoice')"><i class="fas fa-sort"></i></a></th>
              <th *ngIf="company.reqresume">CV</th>
              <th *ngIf="company.reqcl">PB</th>
              <th *ngIf="company.reqgrades">Betyg</th>
              <th>Status <a (click)="applyOrder('status')"><i class="fas fa-sort"></i></a></th>
              <th>Ändra/Uppdatera </th>



            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Namn</th>
              <th>Program</th>
              <th>År</th>
              <th>Civ.Ek inrikt. 1 / Civ.Ing Kandidat</th>
              <th>Civ.Ek inrikt. 2 / Civ.Ing Master</th>
              <th *ngIf="company.reqresume">CV</th>
              <th *ngIf="company.reqcl">PB</th>
              <th *ngIf="company.reqgrades">Betyg</th>
              <th>Status</th>
              <th>Ändra/Uppdatera </th>
            </tr>
          </tfoot>


          <tbody>
            <tr *ngFor="let interview of interviews; trackBy: trackByStatus" (click)="selectedRow(interview.id)" [ngClass]="{ 'is-selected': interview.id == selected} ">
              <td>{{ interview.firstname }} {{ interview.lastname }}</td>
              <td>{{ interview.program }}</td>
              <td>{{ interview.year }}</td>
              <ng-container *ngIf="interview.program == 'Civilekonom'">
                <td>{{ interview.nekorfek }}</td>
                <td>{{ interview.filfakspecialization }}</td>
              </ng-container>
              <ng-container *ngIf="interview.program == 'Industriell Ekonomi'">
                <td>{{ interview.engineerbachelor }}</td>
                <td>{{ interview.engineermaster }}</td>
              </ng-container>
              <ng-container *ngIf="interview.program == 'Annat'">
                <td *ngIf="interview.nekorfek !== ''">{{ interview.nekorfek }}</td>
                <td *ngIf="interview.filfakspecialization !== ''">{{ interview.filfakspecialization }}</td>
                <td *ngIf="interview.engineerbachelor !== '' && interview.nekorfek == ''">{{ interview.nekorfek }}</td>
                <td *ngIf="interview.engineermaster !== '' && interview.filfakspecialization == ''">{{ interview.filfakspecialization }}</td>
                <td *ngIf="interview.engineerbachelor == '' && interview.nekorfek == ''">-</td>
                <td *ngIf="interview.engineermaster == '' && interview.filfakspecialization == ''">-</td>
              </ng-container>


              <td *ngIf="company.reqresume">
                <ng-container *ngIf="interview.resumepath"><a *ngIf="interview.resumepath | storage | async as resumepath" href="{{ resumepath }} + .pdf" target="_blank">CV <i class="fas fa-external-link-alt"></i></a></ng-container>
              </td>
              <td *ngIf="company.reqcl">
                <ng-container *ngIf="interview.coverletterpath"><a *ngIf="interview.coverletterpath | storage | async as coverletterpath" href="{{ coverletterpath }} + .pdf" target="_blank">Personlig Brev<i class="fas fa-external-link-alt"></i></a></ng-container>
              </td>
              <td *ngIf="company.reqgrades">
                <ng-container *ngIf="interview.gradespath"><a *ngIf="interview.gradespath | storage | async as gradespath" href="{{ gradespath }} + .pdf" target="_blank">Betyg <i class="fas fa-external-link-alt"></i></a></ng-container>
              </td>
              <th [ngClass]="{ 'has-text-success': interview.status == 'Antagen', 'has-text-danger': interview.status == 'Nekad', 'has-text-warning': interview.status == 'Avvakta'} ">{{ interview.status }}</th>
              <td>
                <form [formGroup]="changeStatus" (ngSubmit)="submit()">
                  <div class="select is-small">
                    <select formControlName="change" (ngModelChange)="updateApplicant($event, interview.id)">
                    <option value="choose" [selected]="true">Välj åtgärd</option>
              <option value="pending">Avvakta</option>
              <option value="notselected">Nekad</option>
              <option value="selected" [disabled]="!selectedavailable">Antagen</option>
              <option value="backup1" [disabled]="!backup1available">Reserv 1</option>
              <option value="backup2" [disabled]="!backup2available">Reserv 2</option>
              <option value="backup3" [disabled]="!backup3available">Reserv 3</option>
              <option value="backup4" [disabled]="!backup4available">Reserv 4</option>
              <option value="backup5" [disabled]="!backup5available">Reserv 5</option>

            </select>
                  </div>
                </form>
              </td>
              <!-- <td>Stängt.</td> -->
            </tr>
          </tbody>
        </table>




        <ng-container *ngIf="company.seeopenapplicants">



          <h1 class="title is-3">Ansökningar från öppna ansökan:</h1>
          <table class="table is-fullwidth">
            <thead>
              <tr>

                <th>Namn <a (click)="applyOrderOpen('firstname')"><i class="fas fa-sort"></i></a></th>
                <th>Program <a (click)="applyOrderOpen('program')"><i class="fas fa-sort"></i></a></th>
                <th>År <a (click)="applyOrderOpen('year')"><i class="fas fa-sort"></i></a></th>
                <th>Civ.Ek inrikt. 1 / Civ.Ing Kandidat <a (click)="applyOrderOpen('firstchoice')"><i class="fas fa-sort"></i></a></th>
                <th>Civ.Ek inrikt. 2 / Civ.Ing Master <a (click)="applyOrderOpen('secondchoice')"><i class="fas fa-sort"></i></a></th>
                <th *ngIf="company.reqresume">CV</th>
                <th *ngIf="company.reqcl">PB</th>
                <th *ngIf="company.reqgrades">Betyg</th>
                <th>Status <a (click)="applyOrderOpen('status')"><i class="fas fa-sort"></i></a></th>
                <th>Ändra/Uppdatera </th>



              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Namn</th>
                <th>Program</th>
                <th>År</th>
                <th>Civ.Ek inrikt. 1 / Civ.Ing Kandidat</th>
                <th>Civ.Ek inrikt. 2 / Civ.Ing Master</th>
                <th *ngIf="company.reqresume">CV</th>
                <th *ngIf="company.reqcl">PB</th>
                <th *ngIf="company.reqgrades">Betyg</th>
                <th>Status</th>
                <th>Ändra/Uppdatera </th>
              </tr>
            </tfoot>


            <tbody>
              <tr *ngFor="let openinterview of openInterviews; trackBy: trackByStatus" (click)="selectedRow(openinterview.id)" [ngClass]="{ 'is-selected': openinterview.id == selected} ">
                <td>{{ openinterview.firstname }} {{ openinterview.lastname }}</td>
                <td>{{ openinterview.program }}</td>
                <td>{{ openinterview.year }}</td>
                <ng-container *ngIf="openinterview.program == 'Civilekonom'">
                  <td>{{ openinterview.nekorfek }}</td>
                  <td>{{ openinterview.filfakspecialization }}</td>
                </ng-container>
                <ng-container *ngIf="openinterview.program == 'Industriell Ekonomi'">
                  <td>{{ openinterview.engineerbachelor }}</td>
                  <td>{{ openinterview.engineermaster }}</td>
                </ng-container>
                <ng-container *ngIf="openinterview.program == 'Annat'">
                  <td *ngIf="openinterview.nekorfek !== ''">{{ openinterview.nekorfek }}</td>
                  <td *ngIf="openinterview.filfakspecialization !== ''">{{ openinterview.filfakspecialization }}</td>
                  <td *ngIf="openinterview.engineerbachelor !== '' && openinterview.nekorfek == ''">{{ openinterview.nekorfek }}</td>
                  <td *ngIf="openinterview.engineermaster !== '' && openinterview.filfakspecialization == ''">{{ openinterview.filfakspecialization }}</td>
                  <td *ngIf="openinterview.engineerbachelor == '' && openinterview.nekorfek == ''">-</td>
                  <td *ngIf="openinterview.engineermaster == '' && openinterview.filfakspecialization == ''">-</td>
                </ng-container>


                <td *ngIf="company.reqresume">
                  <ng-container *ngIf="openinterview.resumepath"><a *ngIf="openinterview.resumepath | storage | async as resumepath" href="{{ resumepath }} + .pdf" target="_blank">CV <i class="fas fa-external-link-alt"></i></a></ng-container>
                </td>
                <td *ngIf="company.reqcl">
                  <ng-container *ngIf="openinterview.coverletterpath"><a *ngIf="openinterview.coverletterpath | storage | async as coverletterpath" href="{{ coverletterpath }} + .pdf" target="_blank">Personlig Brev<i class="fas fa-external-link-alt"></i></a></ng-container>
                </td>
                <td *ngIf="company.reqgrades">
                  <ng-container *ngIf="openinterview.gradespath"><a *ngIf="openinterview.gradespath | storage | async as gradespath" href="{{ gradespath }} + .pdf" target="_blank">Betyg <i class="fas fa-external-link-alt"></i></a></ng-container>
                </td>
                <th [ngClass]="{ 'has-text-success': openinterview.status == 'Antagen', 'has-text-danger': openinterview.status == 'Nekad', 'has-text-warning': openinterview.status == 'Avvakta'} ">{{ openinterview.status }}</th>
                <td>
                  <form [formGroup]="changeStatus" (ngSubmit)="submit()">
                    <div class="select is-small">
                      <select formControlName="change" (ngModelChange)="updateApplicantOpen($event, openinterview.id)">
                      <option value="choose" [selected]="true">Välj åtgärd</option>
                <option value="pending">Avvakta</option>
                <option value="notselected">Nekad</option>
                <option value="selected" [disabled]="!selectedavailable">Antagen</option>
                <option value="backup1" [disabled]="!backup1available">Reserv 1</option>
                <option value="backup2" [disabled]="!backup2available">Reserv 2</option>
                <option value="backup3" [disabled]="!backup3available">Reserv 3</option>
                <option value="backup4" [disabled]="!backup4available">Reserv 4</option>
                <option value="backup5" [disabled]="!backup5available">Reserv 5</option>

              </select>
                    </div>
                  </form>
                </td>
                <!-- <td>Stängt.</td> -->
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>

  </section>

</ng-container>
