<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Hitta hit </h1>
          <h2 class="subtitle">Nedan finns information om hur ni hittar till mässan. Både länk till Google Maps och vart ni ska köra när ni kommer fram till Vallarondellen för att hitta parkering och mässområdet.</h2> </div>
      </div>
    </div>
  </div>
</div>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8 is-12-mobile">
        <h1 class="title is-3"><a href="https://goo.gl/maps/mdw8wQ3hwvC2" target="_blank">Länk till Google Maps <i class="fas fa-external-link-alt"></i></a></h1>
        <h1 class="subtitle is-3">Karta till parkering samt bild var mässan ligger på Campus Valla:</h1>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-8 is-12-mobile">
        <img alt="map" role="presentation " src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/map-campus.png?alt=media&token=8cfc7256-aedf-49dd-a756-2bae03297653">
      </div>
    </div>
  </div>
</section>


<!-- <li><a href="https://goo.gl/maps/mdw8wQ3hwvC2" target="_blank">Hitta hit <i class="fas fa-map-marker-alt"></i></a></li> -->
