<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Din profil </h1>
          <h2 class="subtitle">Här kan du hantera din profil, ha koll på event du är anmäld på samt se dina kontaktsamtalsansökningar. </h2> </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column is-6">
        <ng-container *ngIf="user && !changeMode">
          <div class="border-btm">
            <h1 class="title is-3 is-spaced">Dina uppgifter</h1>
          </div>
          <h1 class="title is-4">
          <span>{{ user.firstname }} {{ user.lastname }}</span>
        </h1>
          <h1 class="subtitle is-6">
          Student
        </h1>
          <p><strong>LiU-ID:</strong> {{ user.liuid }}</p>
          <p><strong>Program:</strong> {{ user.program }}</p>
          <p><strong>År:</strong> {{ user.year }}</p>
          <p *ngIf="user.engineerbachelor"><strong>Kandidatprofil:</strong> {{ user.engineerbachelor }}</p>
          <p *ngIf="user.engineermaster"><strong>Masterprofil:</strong> {{ user.engineermaster }}</p>
          <p *ngIf="user.filfakspecialization"><strong>Inriktning:</strong> {{ user.filfakspecialization }}</p>
          <p><strong>Specialkost:</strong> {{ user.specialfood }}</p>
          <br>
          <a class="button is-black is-small" (click)="toggleChange()">
               <span class="icon is-small">
                <i class="fas fa-cog"></i>
             </span>
             <span>Ändra</span>
               </a>
        </ng-container>
        <ng-container *ngIf="changeMode">
          <form [formGroup]="changeForm" (ngSubmit)="submit(changeForm.value)">


            <div class="border-btm">
              <h1 class="title is-3 is-spaced">Ändra dina uppgifter</h1>
            </div>

            <div class="field">
              <label class="label" for="firstname">Förnamn</label>
              <input class="input" [ngClass]="{ 'is-success' : !firstname.invalid && firstname.touched,  'is-danger' : firstname.invalid && firstname.touched}" type="text" placeholder="Ditt förnamn" formControlName="firstname">
              <div class="help is-danger" *ngIf="firstname.invalid && firstname.touched">
                Du måste skriva in ditt förnamn
              </div>
            </div>

            <div class="field">
              <label class="label" for="lastname">Efternamn</label>
              <input class="input" [ngClass]="{ 'is-success' : !lastname.invalid && lastname.touched,  'is-danger' : lastname.invalid && lastname.touched}" type="text" placeholder="Ditt efternamn" formControlName="lastname">
              <div class="help is-danger" *ngIf="lastname.invalid && lastname.touched">
                Du måste skriva in ditt efternamn
              </div>
            </div>

            <div class="field">
              <label class="label">Program</label>
              <div class="control">
                <div class="select" required>
                  <select formControlName="program">
                            <option>Industriell Ekonomi</option>
                            <option>Civilekonom</option>
                            <option>Annat</option>
                          </select>
                </div>
              </div>
              <div class="help is-danger" *ngIf="program.invalid && program.touched">
                Du måste välja något.
              </div>
            </div>

            <div class="field">
              <label class="label">År</label>
              <div class="control">
                <div class="select" required>
                  <select formControlName="year">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>Annat</option>
                          </select>
                </div>
              </div>
              <div class="help is-danger" *ngIf="year.invalid && year.touched">
                Du måste välja något.
              </div>
            </div>

            <div class="field" *ngIf="program.value !== 'Civilekonom' && program.value !== 'Annat'">
              <label class="label">Kandidatprofil (teknisk inriktning)</label>
              <div class="control">
                <div class="select">
                  <select formControlName="engineerbachelor">
                            <option>Systemteknik</option>
                            <option>Maskinteknik</option>
                            <option>Bioteknik</option>
                            <option>Datateknik</option>
                            <option>Energiteknik</option>
                            <option>Annat</option>
                            <option>Ej valt</option>
                          </select>
                </div>
              </div>
            </div>

            <div class="field" *ngIf="program.value !== 'Civilekonom' && program.value !== 'Annat'">
              <label class="label">Masterprofil</label>
              <div class="control">
                <div class="select">
                  <select formControlName="engineermaster">
                            <option>Ekonomiska informationssystem</option>
                            <option>Finans</option>
                            <option>Industriell marknadsföring</option>
                            <option>Kvalitets- och verksamhetsutveckling</option>
                            <option>Logistik</option>
                            <option>Projekt, innovation och entreprenörskap</option>
                            <option>Produktionsledning</option>
                            <option>Strategi och styrning</option>
                            <option>Systemteknik</option>
                            <option>Maskinteknik</option>
                            <option>Bioteknik</option>
                            <option>Datateknik</option>
                            <option>Energiteknik</option>
                            <option>Annat</option>
                            <option>Ej valt</option>
                          </select>
                </div>
              </div>
            </div>

            <div class="field" *ngIf="program.value !== 'Industriell Ekonomi' && program.value !== 'Annat'">
              <label class="label">Valt nationalekonomi eller företagsekonomi</label>
              <div class="control">
                <div class="select">
                  <select formControlName="nekorfek">
                            <option>Nationalekonomi</option>
                            <option>Företagsekonomi</option>
                            <option>Annat</option>
                            <option>Ej valt</option>
                          </select>
                </div>
              </div>
            </div>

            <div class="field" *ngIf="program.value !== 'Industriell Ekonomi' && program.value !== 'Annat'">
              <label class="label">Inriktning civilekonom</label>
              <div class="control">
                <div class="select">
                  <select formControlName="filfakspecialization">
                            <option>Redovisning</option>
                            <option>Ekonomistyrning</option>
                            <option>Strategi och marknadsföring</option>
                            <option>Finansiell ekonomi</option>
                            <option>Ekonomisk analys</option>
                            <option>Entreprenörskap och Innovation</option>
                            <option>Annat</option>
                            <option>Ej valt</option>
                          </select>
                </div>
              </div>
            </div>


            <div class="field">
              <label class="label" for="specialfood">Specialkost</label>
              <input class="input" type="text" placeholder="Om du har någon specialkost" formControlName="specialfood">
            </div>

            <div *ngIf="changeForm.valid">Allt ser bra ut!</div>
            <button type="submit" [disabled]="!changeForm.valid" class="button is-black is-small"><span class="icon is-small"><i class="fas fa-check"></i></span><span>Uppdatera</span></button>

            <a class="button is-white is-small" (click)="toggleChange()">
                      <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                    <span>Avbryt</span>
                      </a>

          </form>
        </ng-container>


      </div>
      <div class="column is-6">

        <div class="border-btm">
          <h1 class="title is-3">Dina eventanmälningar</h1>
        </div>
        <ng-container *ngIf="events !== undefined && events.length !== 0">
          <p class="subtitle is-6">Event där du är garanterad plats:</p>
          <ng-container *ngFor="let event of events">
            <a *ngIf="!event.waitinglist" [routerLink]="['../events', event.event]"><i class="fas fa-angle-right"></i><strong>&nbsp;{{ event.eventtitle }} (Garanterad mat: <span *ngIf="event.getsfood">Ja</span><span *ngIf="!event.getsfood">Nej</span>)</strong></a>
          </ng-container>
          <br>
          <br>
          <h5 class="subtitle is-6">Event som du är reserv på:</h5>
          <ng-container *ngFor="let event of events">
            <a *ngIf="event.waitinglist" [routerLink]="['../events', event.event]"><i class="fas fa-angle-right"></i><strong>&nbsp;{{ event.eventtitle }} (RESERV)</strong></a>
          </ng-container>
        </ng-container>

        <p *ngIf="events == undefined || events.length == 0">Inga anmälningar gjorda.</p>
        <div class="border-btm">
          <h1 class="title is-3">Dina kontaktsamtalsansökningar</h1>
        </div>

        <h1 class="subtitle is-5">Du får tacka ja till maximalt 6 stycken samtal. Deadline för sista svarsdag är <strong>onsdagen den 19:e september kl 17:00</strong>. Om du inte svarat innan dess räknas det som du tackat nej.</h1>
        <h1 class="subtitle is-5"><strong>Platsen för ditt kontaktsamtal</strong> får du vid kontaktsamtalssdisken i A-huset när du checkar in för ditt/dina samtal.</h1>
        <h1 class="subtitle is-5"><strong>Om du inte kan eller vill lämna återbud</strong> så gör du det genom att kontakta kontaktsamtalsansvarig.</h1>

        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Företag:</th>
              <th>Status:</th>
              <th>Tid:</th>
              <th>Ditt svar:</th>
              <th>Ändra svar:</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let interview of interviews">
              <td>{{ interview.companyname }}</td>
              <th *ngIf="interview.selected" class="has-text-success">Antagen</th>
              <th *ngIf="interview.notselected || interview.pending" class="has-text-danger">Nekad</th>
              <th *ngIf="interview.backup" class="has-text-warning">Reserv**</th>
              <td *ngIf="interview.studentaccepted && interview.selected && interview.day && interview.time"><span *ngIf="interview.day == 'tuesday'">25 Sep </span><span *ngIf="interview.day == 'wednesday'">26 Sep </span>{{ interview.time }}</td>
              <td *ngIf="!interview.studentaccepted || !interview.selected">-</td>
              <th *ngIf="!interview.selected">-</th>
              <th *ngIf="interview.studentaccepted && interview.selected" class="has-text-success">Tackat ja</th>
              <th *ngIf="interview.studentdeclined && interview.selected" class="has-text-danger">Tackat nej</th>
              <th *ngIf="interview.studentnotanswered && interview.selected" class="has-text-warning">Ej svarat</th>
              <th *ngIf="!interview.selected">-</th>
              <td *ngIf="interview.selected" class="has-text-warning">
                Stängt
              </td>
              <!-- <td *ngIf="interview.selected">
                <p class="buttons">
                  <button [disabled]="!acceptavailable" *ngIf="!interview.studentaccepted || interview.studentnotanswered" (click)="changeInterviewAnswer(interview.id, true)" class="button is-success is-small">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Tacka ja</span>
                </button>
                  <button *ngIf="interview.studentaccepted || interview.studentnotanswered" (click)="changeInterviewAnswer(interview.id, false)" class="button is-danger is-outlined is-small">
                  <span>Tacka nej</span>
                  <span class="icon is-small">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
                </p>

              </td> -->
            </tr>
            <tr *ngFor="let interview of openinterviews">
              <td>{{ interview.companyname }}*</td>
              <th *ngIf="interview.selected" class="has-text-success">Antagen</th>
              <th *ngIf="interview.notselected || interview.pending" class="has-text-danger">Nekad</th>
              <th *ngIf="interview.backup" class="has-text-warning">Reserv**</th>
              <td *ngIf="interview.studentaccepted && interview.selected && interview.day && interview.time"><span *ngIf="interview.day == 'tuesday'">25 Sep </span><span *ngIf="interview.day == 'wednesday'">26 Sep </span>{{ interview.time }}</td>
              <td *ngIf="!interview.studentaccepted || !interview.selected">-</td>
              <th *ngIf="!interview.selected">-</th>

              <th *ngIf="interview.studentaccepted && interview.selected" class="has-text-success">Tackat ja</th>
              <th *ngIf="interview.studentdeclined && interview.selected" class="has-text-danger">Tackat nej</th>
              <th *ngIf="interview.studentnotanswered && interview.selected" class="has-text-warning">Ej svarat</th>


              <th *ngIf="!interview.selected">-</th>
              <!-- <td *ngIf="interview.selected">
                <p class="buttons">
                  <button [disabled]="!acceptavailable" *ngIf="!interview.studentaccepted || interview.studentnotanswered" (click)="changeOpenInterviewAnswer(interview.id, true)" class="button is-success is-small">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Tacka ja</span>
                </button>
                  <button *ngIf="interview.studentaccepted || interview.studentnotanswered" (click)="changeOpenInterviewAnswer(interview.id, false)" class="button is-danger is-outlined is-small">
                  <span>Tacka nej</span>
                  <span class="icon is-small">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
                </p>

              </td> -->

              <td *ngIf="interview.selected" class="has-text-warning">
                Stängt
              </td>

            </tr>
          </tbody>
        </table>
        <p *ngIf="interviews == undefined || interviews.length == 0">Inga ansökningar gjorda.</p>
        <br>


        <ng-container *ngIf="openinterviews">
          <p><em>*Från öppna ansökan.</em></p>
        </ng-container>
        <ng-container *ngIf="openinterviews || interviews">
          <p><em>**Reserv: Du blir kontaktad om plats ges.</em></p>
          <p><em>***Tider sätts och fördelas ut i ett senare skede. Kontakta kontaktsamtasansvarig om du har en speciell tid du verkligen inte kan.</em></p>
        </ng-container>


      </div>
    </div>
  </div>
</section>
