<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
          <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Mässchema 2024</h2>
          <!--Läs igenom texten noga nedan och uppdatera när mässkartan byts-->
          <h2 class="subtitle is-6">Nedan kan du se ett schema över vilka aktiviteter som äger rum vid olika tidpunkter på mässan. OBS: Ifall det är svårt att läsa texten på din mobila enhet, 
            vänd telefonen horisontellt eller zooma i bilden.</h2></div>
      </div>
      <div class="column is-centered ">
        <img alt="map"  style="max-width: 80%;" 
        src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/M%C3%A4sschema%20skylt%201x1m.png?alt=media&token=b20e4d26-bca0-4a9b-b289-b8316ba8183c">
      </div>
    </div>
  </div>
</div>

