<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
          <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Guldbitarna 2023</h2>
          <h1 class="subtitle is-6">Guldbitarna är en tävling för studenter som pågår under båda mässdagarna. I år har
            deltagande företag möjlighet att själva dela ut fysiska “Guldbitar” till studenter de tycker visat extra
            intresse och önskar ha en fortsatt dialog med. Det är upp till företagen att bestämma vilka studenter som
            de tycker förtjänar sina Guldbitar. Guldbitarna motsvarar priser som företagen själva valt ut, där några
            exempel är <strong>företagsbesök, CV-granskning eller lunch med en anställd på företaget.</strong></h1>
          <br>
          <h1 class="subtitle is-6">För dig som student gäller det helt enkelt att mingla och kommunicera med
            företagen för att lära känna dem bättre och på så sätt fånga deras intresse. Vi vet att det kan vara
            svårt att veta vad man ska fråga eller säga till företagen och har därför listat några förslag:
          </h1>
          <ul style="list-style-type: disc; text-align: left; margin-left: 10%;">
            <li>Vad är det roligaste med jobbet/företaget?</li>
            <li>Hur många anställda har ni och i vilka städer har ni kontor?</li>
            <li>Kan man resa inom jobbet?</li>
            <li>Varför sökte just du (företagsrepresentanten) till företaget och hur länge har du jobbat där?</li>
            <li>Vad utmärker just ert företag?</li>
            <li>Vad finns det för möjligheter att växa inom företaget och hur ser det ut med utlandsmöjligheter?</li>
            <li>Vad söker ni för studenter och vilka egenskaper värderar ni högt?</li>
          </ul>
          <br>
          <h1 class="subtitle is-6">Syftet med tävlingen är att öka integrationen mellan studenter och företag, både
            under mässan men också efter.
           </h1>

           <h1 class="subtitle is-6">Klicka på knappen nedan för att se vilka företag som erbjuder guldbitar. Välj sedan menyn "övrigt" och filtrera på "erbjuder guldbitar".
              <br><br>
              <a class="button is-inverted is-outlined" [routerLink]="['../companies']">Företagen 2023</a>

           </h1>
        </div>
      </div>
    </div>
  </div>
</div>