<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns">
        <div class="column is-9">
          <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Framtidschansen 2025</h2>
          <h1 class="subtitle is-6">
            “Framtidschansen” är en aktivitet för studenter som pågår under mässans två dagar med syftet att öka interaktionen mellan 
            företag och studenter. Konceptet går ut på att företagen ger ut “Framtidschanser” till studenter de tycker har visat intresse 
            eller som ni vill ha en fortsatt dialog med. Företagen bestämmer själva vilka studenter de tycker förtjänar Framtidschanser. 
            En Framtidschans motsvarar immateriella priser som företagen själva väljer! Dessa priser kan exempelvis vara 
            <strong>företagsbesök, CV-granskning eller lunch med en anställd på företaget.</strong>
          </h1>
          <br>
          <h1 class="subtitle is-6">
            För dig som student gäller det helt enkelt att mingla och kommunicera med företagen för att lära känna dem bättre 
            och på så sätt fånga deras intresse. Vi vet att det kan vara svårt att veta vad man ska fråga eller säga till 
            företagen och har därför listat några förslag:
          </h1>
          <ul style="list-style-type: disc; text-align: left; margin-left: 10%;">
            <li>Vad är det roligaste med jobbet/företaget?</li>
            <li>Hur många anställda har ni och i vilka städer har ni kontor?</li>
            <li>Kan man resa inom jobbet?</li>
            <li>Varför sökte just du (företagsrepresentanten) till företaget och hur länge har du jobbat där?</li>
            <li>Vad utmärker just ert företag?</li>
            <li>Vad finns det för möjligheter att växa inom företaget och hur ser det ut med utlandsmöjligheter?</li>
            <li>Vad söker ni för studenter och vilka egenskaper värderar ni högt?</li>
          </ul>
          <br>
          <h1 class="subtitle is-6">
            Syftet med tävlingen är att öka integrationen mellan studenter och företag, både under mässan men också efter.
          </h1>

          <!--
          <h1 class="subtitle is-6">
            Klicka på knappen nedan för att se vilka företag som erbjuder guldbitar. Välj sedan menyn "övrigt" och filtrera på "erbjuder guldbitar".
            <br><br>
            <a class="button is-inverted is-outlined" [routerLink]="['../companies']">Företagen 2023</a>
           </h1>-->
        </div>
      </div>
    </div>
  </div>
</div>