<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
          <h2 class="title is-2 is-spaced " style="text-transform: uppercase">Årets digitala talang</h2>
          <h1 class="subtitle is-5"><strong>Om Exsitec</strong></h1>
          <h1 class="subtitle is-6">
            På Exsitec älskar vi IT och förstår kraften i digitala lösningar för skapa förändring. Genom att kombinera 
            utvalda system och tjänster till en fungerande helhet som gör skillnad hos våra kunder - på riktigt.
            <br><br>
            Inför årets upplaga TEAM-dagarna kommer studenter som studerar Industriell Ekonomi eller Civilekonom vid 
            Linköpings universitet att ha möjligheter att delta i tävlingen Årets digitala talang 2023. Syftet är att
             prisa idéer som handlar just om det som vi brinner för - digitala lösningar som gör skillnad på riktigt. 
             <br><br>
             </h1>

             <h1 class="subtitle is-5"><strong>Datum</strong></h1>
             <h1 class="subtitle is-6">
             Ansökningsperioden för bidragen kommer att vara öppen under vecka 37 och 38 (11-22 sept).
             <br><br>
             <strong>Din uppgift är att identifiera en utmaning i företag eller i samhället i stort. Presentera hur denna 
              utmaning skulle kunna lösas med hjälp av digitala lösningar. 
             </strong>
    
      
           <br><br>
            Lösningen ska presenteras i skriftlig form och vara max ett A4 långt. Tillsammans med lösningen ska du 
            även skicka in en video där du berättar kort om dig själv och varför du är motiverad till att delta i 
            tävlingen. 
            <br><br>
            </h1>
  
            
             <h1 class="subtitle is-5"><strong>Pris</strong></h1>

            <h1 class="subtitle is-6">
            Totalt delas två priser ut. Ett pris går till en student som hör till Civilekonomprogrammet och det andra 
            priset till en student som hör till Industriell ekonomi. Dessa två studenter kommer att bli utnämnda till 
            <strong>Årets digitala talang 2023.</strong>
            <br><br>
            Förutom äran och titeln “Årets digitala talang 2023” vinner de två vinnarna en dag på Exsitec där de kommer
             få träffa vårt team för att få insikt i hur det är att jobba i IT-branschen. De kommer dessutom att få tips
              vid rekrytering av vårt Talent Acquisition team. Kvällen avslutas med middag tillsammans med vår VD Johan 
              Kallblad. 
              <br><br>
              För frågor rörande tävlingen kontakta <a href="mailto: carl.oberg@exsitec.se">carl.oberg@exsitec.se</a>.
              <br><br>
              Lycka till!
            </h1>
          <br><br>
          <div style="  display: flex; justify-content: center; align-items: center;">
          <a class="button is-medium" href="https://exsitec.typeform.com/to/hswyBWKq" target="_blank"><span>Till ansökan</span><span class="icon" id="white-icon"><i class="fas fa-external-link-alt"></i></span></a> 
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/QR-codes%2FExsitec%20ta%CC%88vling%20QR-kod.png?alt=media&token=01a5fe08-2d6a-4fd2-9e6a-e342bce749b7" style="max-height: 150px; margin-left: 1.5rem;" alt="">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>