<div class="hero" id="title-hero">

  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
          <h2 class="title is-1 is-spaced" style="text-transform: uppercase">Välj ut studenter</h2>
          <h2 class="subtitle is-6">Här kan ni se alla studenter som sökt kontaktsamtal och välja ut de ni vill prata med.</h2> </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="submitCodeForm" (ngSubmit)="submit(submitCodeForm.value)">

  <div class="field">
    <label class="label" for="code">Kod</label>
    <input class="input" type="text" placeholder="Skriv in koden du fått" formControlName="code">
  </div>

  <button type="submit" class="button is-fullwidth" [ngClass]="{'is-loading':loading}" [disabled]="false">Generera</button>
<br>
</form>