
<form [formGroup]="addCompanyForm" (ngSubmit)="submit(addCompanyForm.value)">


  <div class="card login-card">
    <div class="card-content">
      <h1 class="title is-2" style="text-transform: uppercase">Lägg till företag</h1>


      <div class="field">
        <label class="label" for="companyName">Företagsnamn</label>
        <input class="input is-success" type="text" placeholder="Tex. 'Xylem Inc.'" formControlName="companyName">
      </div>
      <div class="columns">
        <div class="column is-half">

          <div class="file">
            <label class="file-label">
          <input class="file-input" type="file" name="resume" (change)="startUpload($event.target.files)">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Ladda upp företagslogo
            </span>
          </span>
        </label>
          </div>
        </div>
        <div class="column is-half">
          <div *ngIf="percentage | async as pct">

            <progress class="progress is-success" [value]="pct" max="100">
          </progress> {{ pct | number }}%

          </div>
          <div *ngIf="downloadURL | async as url">
            <h3>Uploaded!</h3>
            <!-- <img [src]="url"><br>
            <a [href]="url" target="_blank" rel="noopener">Download Me!</a> -->
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Huvudbransch</label>
        <div class="control">
          <div class="select" required>
            <select formControlName="industry">
              <option>Konsultverksamhet</option>
              <option>Industri</option>
              <option>Logistik</option>
              <option>IT & Teknik</option>
              <option>Rekrytering</option>
              <option>Bank & Finans</option>
              <option>Retail</option>
              <option>Revision</option>
              <option>Fastigheter & Infrastruktur</option>
              <option>Redovisning</option>
              <option>Förening eller Förbund</option>
              <option>Startup</option>
              <option>Övrigt</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="downloadURL | async as url">
        <img [src]="url" style="max-height: 100px;"><br>
      </div>
      <div class="columns">
        <div class="column is-half">
          <div class="field">
            <label class="label">Bransch/er</label>
            <input type="checkbox" formControlName="consulting"> Konsultverksamhet
          </div>
          <div class="field">
            <input type="checkbox" formControlName="industri"> Industri
          </div>
          <div class="field">
            <input type="checkbox" formControlName="logistik"> Logistik
          </div>
          <div class="field">
            <input type="checkbox" formControlName="itteknik"> IT & Teknik
          </div>
          <div class="field">
            <input type="checkbox" formControlName="rekrytering"> Rekrytering
          </div>
          <div class="field">
            <input type="checkbox" formControlName="telekom"> Telekom
          </div>
          <div class="field">
            <input type="checkbox" formControlName="bank"> Bank & Finans
          </div>
        </div>  
        <div class="column is-half">
          <div class="field">
            <input type="checkbox" formControlName="retail"> Retail
          </div>
          <div class="field">
            <input type="checkbox" formControlName="fastigheter"> Fastigheter & Infrastruktur
          </div>
          <div class="field">
            <input type="checkbox" formControlName="forening"> Förening eller Förbund
          </div>
          <div class="field">
            <input type="checkbox" formControlName="revision"> Revision
          </div>
          <div class="field">
            <input type="checkbox" formControlName="startup"> Startup
          </div>
          <div class="field">
            <input type="checkbox" formControlName="redovisningCompany"> Redovisning
          </div>
          <div class="field">
            <input type="checkbox" formControlName="other"> Övrigt
          </div>
        </div>  
        

      </div>
      <div class="columns">
        <div class="column is-half">
          <div class="field">
            <label class="label">Erbjuder</label>
            <input type="checkbox" formControlName="masterthesis"> Exjobb
          </div>
          <div class="field">
            <input type="checkbox" formControlName="internship"> Internship
          </div>
          <div class="field">
            <input type="checkbox" formControlName="summerjob"> Sommarjobb
          </div>
          <!-- <div class="field">
            <input type="checkbox" formControlName="abroad"> Utlandsmöjligheter
          </div> -->
          <!-- <div class="field">
            <input type="checkbox" formControlName="otherthesis"> Uppsatshandledning
          </div> -->
          <div class="field">
            <input type="checkbox" formControlName="parttime"> Extrajobb
          </div>
          <!-- <div class="field">
            <input type="checkbox" formControlName="fulltime"> Heltidsjobb
          </div> -->
          <div class="field">
            <input type="checkbox" formControlName="trainee"> Traineeprogram
          </div>
        </div>
        <div class="column is-half">
          <div class="field">
            <label class="label">Söker</label>
            <input type="checkbox" formControlName="engineers"> Civilingenjörer
          </div>
          <div class="field">
            <input type="checkbox" formControlName="filfakare"> Civilekonomer
          </div>
          <!-- <div class="field">
            <input type="checkbox" formControlName="firstyear"> 1:or
          </div>
          <div class="field">
            <input type="checkbox" formControlName="secondyear"> 2:or
          </div>
          <div class="field">
            <input type="checkbox" formControlName="thirdyear"> 3:or
          </div>
          <div class="field">
            <input type="checkbox" formControlName="fourthyear"> 4:or
          </div>
          <div class="field">
            <input type="checkbox" formControlName="fifthyear"> 5:or
          </div> -->
        </div>
      </div>

      <h1 class="subtitle is-5">Om företaget önskat specifika inriktningar så lämna dessa ifyllda och resten blanka. Om inte, lämna samtliga checkboxar ifyllda. 
      </h1>

      <div class="columns">
        
        <div class="column is-half">

          <div class="field">
            <label class="label">Inriktningar Civilingenjörer</label>
            <input type="checkbox" formControlName="digitalMan"> Digitalisering & management
          </div>
          <div class="field">
            <input type="checkbox" formControlName="finans"> Finans
          </div>
          <div class="field">
            <input type="checkbox" formControlName="industriellmarknad"> Industriell Marknadsföring
          </div>
          <div class="field">
            <input type="checkbox" formControlName="kvalitetVerksam"> Kvalitets- och verksamhetsutveckling
          </div>
          <div class="field">
            <input type="checkbox" formControlName="logistikMaster"> Logistik och supply chain management
          </div>
          <div class="field">
            <input type="checkbox" formControlName="projektInno"> Projekt, innovation och entreprenörskap
          </div>
          <div class="field">
            <input type="checkbox" formControlName="produktionsledning"> Produktionsledning
          </div>
          <div class="field">
            <input type="checkbox" formControlName="strategiStyrning"> Strategi och styrning
          </div>
        </div>

        <div class="column is-half">
          <div class="field">
            <input type="checkbox" formControlName="systemteknik"> Systemteknik
          </div>
          <div class="field">
            <input type="checkbox" formControlName="maskinteknik"> Maskinteknik
          </div>
          <div class="field">
            <input type="checkbox" formControlName="bioteknik"> Bioteknik
          </div>
          <div class="field">
            <input type="checkbox" formControlName="datateknik"> Datateknik
          </div>
          <div class="field">
            <input type="checkbox" formControlName="energiteknik"> Energiteknik
          </div>
        </div>  

      </div>


      <div class="columns">
        
        <div class="column is-half">

          <div class="field">
            <label class="label">Inriktningar Civilekonomer</label>
            <input type="checkbox" formControlName="redovisning"> Redovisning
          </div>
          <div class="field">
            <input type="checkbox" formControlName="ekonomistyrning"> Ekonomistyrning
          </div>
          <div class="field">
            <input type="checkbox" formControlName="strategiMarknad"> Strategi och marknadsföring
          </div>
        </div>

        <div class="column is-half">
          <div class="field">
            <input type="checkbox" formControlName="finansiellekonomi"> Finansiell ekonomi
          </div>
          <div class="field">
            <input type="checkbox" formControlName="nationalekonomi"> Nationalekonomi
          </div>
          <div class="field">
            <input type="checkbox" formControlName="ekonomiskanalys"> Ekonomisk analys
          </div>
        </div>
      
      </div>
  
    <div class="columns">

      <div class="column is-half">
        <div class="field">
          <label class="label">Ställer ut</label>
          <input type="checkbox" formControlName="firstdayappearance"> Tisdag
          <input type="checkbox" formControlName="seconddayappearance"> Onsdag
        </div>
      </div>
        
      <div class="column is-half">
        <div class="field">
          <label class="label">Klimatkompensation?</label>
          <input type="checkbox" formControlName="climateComp"> Ja
        </div>
      </div>

    </div>

  <div class="columns">
        
    <div class="column is-half">

      <div class="field">
        <label class="label">Kontaktsamtal Tisdag</label>
        <input type="checkbox" formControlName="firstdaypackage1"> 8x25min
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label class="label">Kontaktsamtal Onsdag</label>
        <input type="checkbox" formControlName="seconddaypackage1"> 8x25min
      </div>
    </div>
  </div>

      <div class="field">
        <label class="label">Kontaktsamtal: Ansökan ska innehålla</label>
        <input type="checkbox" formControlName="reqresume"> CV/Resume
        <input type="checkbox" formControlName="reqcl"> Personligt brev/Cover letter
        <input type="checkbox" formControlName="reqgrades"> Betyg
        <input type="checkbox" formControlName="reqmaster"> Inriktning
        <input type="checkbox" formControlName="reqmotivation"> Kort motivering

      </div>

      <div class="columns">
        
        <div class="column is-half">

      <!-- <div class="field">
        <label class="label">Deltagande i pusseljakten och vilka dagar?</label>
        <input type="checkbox" formControlName="treasurehunt"> Ja
        <input type="checkbox" formControlName="treasurehuntTuesday"> Tisdag
        <input type="checkbox" formControlName="treasurehuntWednesday"> Onsdag
      </div> -->
        </div>
        <div class="column is-half">

      <div class="field">
        <label class="label">Deltagande i pitchföreläsning?</label>
        <input type="checkbox" formControlName="pitchLecture"> Ja
      </div>
        </div>
      </div>


      <div class="columns">
        
        <div class="column is-half">
      <div class="field">
        <label class="label">Startup-zone?</label>
        <input type="checkbox" formControlName="startUpZone"> Ja
      </div>
        </div>

        <div class="column is-half">

      <div class="field">
        <label class="label">Event under inför-dagarna?</label>
        <input type="checkbox" formControlName="preTEAM"> Ja
      </div>
        </div>
      </div>

      <div class="field">
        <label class="label">OM</label>
        <div class="control">
          <textarea class="textarea" placeholder="Som blir avsnittet 'Om oss' i företagsbeskrivningen." formControlName="about"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Vad företaget värdesätter</label>
        <div class="control">
          <textarea class="textarea" placeholder="Som blir avsnittet 'Vi värdesätter' i företagsbeskrivningen." formControlName="values"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Kontaktsamtalsinfo</label>
        <div class="control">
          <textarea class="textarea" placeholder="Text som syns när student söker kontaktsamtal" formControlName="interviewinfo"></textarea>
        </div>
      </div>


      <h1 class="subtitle is-5">Det är upp till er att länkarna nedan är giltiga så dubbelkolla en gång extra så det inte blir galet, tack!
      </h1>

      <div class="field">
        <label class="label">Länk till företagets hemsida</label>
        <div class="control">
          <textarea class="textarea" rows="1" placeholder="https://www.XXX.yy/" formControlName="hemsida"></textarea>
        </div>
        <label class="label">LinkedIn</label>
        <div class="control">
          <textarea class="textarea" rows="1" placeholder="https://www.linkedin.com/in/XXXXXXX/" formControlName="linkedIn"></textarea>
        </div>
        <label class="label">Instagram</label>
        <div class="control">
          <textarea class="textarea" rows="1" placeholder="https://www.instagram.com/XXXXXXX/" formControlName="instagram"></textarea>
        </div>
        <label class="label">Twitter</label>
        <div class="control">
          <textarea class="textarea" rows="1" placeholder="https://www.twitter.com/XXXXXXX/" formControlName="twitter"></textarea>
        </div>
        <label class="label">Facebook</label>
        <div class="control">
          <textarea class="textarea" rows="1" placeholder="https://www.facebook.com/XXXXXXX/" formControlName="facebook"></textarea>
        </div>
      </div>

      <button type="submit" class="button is-fullwidth" id="submit-button" [disabled]="!addCompanyForm.valid || !logoUploaded">Lägg till företaget</button>
    </div>

  </div>

</form>
