<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered">
        <div class="column is-9">
          <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Kontaktsamtal</h2>
          
          <!-- <h1 class="title is-5">Vad är kontaktsamtal?</h1> -->
          <h1 class="subtitle is-6">
            Kontaktsamtal är ett 25 minuter långt personligt möte där du som student får möjlighet att lära känna ett företag på djupet och skapa värdefulla kontakter inför framtiden.
            Ni styr innehållet och kan diskutera allt från roller, rekryteringsprocesser och företagskultur till vilka möjligheter som finns för just dig.
            Det är ett perfekt tillfälle att få en inblick i arbetslivet, utforska företag du är nyfiken på och bygga relationer som kan leda vidare.
          </h1>
          <br>
          <h1 class="title is-5" style="margin-bottom: 16px;">Hur går ansökningsprocessen till?</h1>
          <p>
            Genom att logga in och skapa ett konto nedan ser du vilka företag som erbjuder kontaktsamtal och vilka ansökningsdokument de efterfrågar.
            Det är även där du administrerar din ansökan genom hela processen. Om du vill läsa mer om något företag, besök sidan
            Mässan → Företagen 2026 här på vår hemsida.
          </p>
          <br><br>
          <h1 class="title is-5" style="margin-bottom: 0px;">Svar på vanliga frågor</h1>
          <div class="content has-text-left" style="display: inline-block; text-align: left; margin: 0 auto;">
            <ul>
              <li>Du kan söka ett obegränsat antal samtal, men tänk på risken att behöva tacka nej till företag du blivit erbjuden ett samtal med.</li>
              <li>När du söker kan du gradera prioriteten för dina företag på en 5-gradig skala, för att säkerställa att du erbjuds dina förstahandsval om det inte finns tillräckligt med tid för att närvara på alla. Maximalt 4 företag kan då tilldelas varje prioriteringsnivå, och övriga saknar prioritet. OBS! Prioriteringen är inget som visas för företagen.</li>
              <li>Datumet när du skickar in din ansökan är inget som påverkar chansen att bli erbjuden ett samtal, så länge svaret har skickats in innan 2 sep 18:00.</li>
            </ul>
          </div>
          <br><br>
<!-- 
          <h1 class="subtitle is-6">
            Kontaktsamtal är ett 25 minuter långt personligt möte där du som student får möjlighet att knyta värdefulla kontakter inför framtiden. 
            Det är en chans att lära känna dina framtida arbetsgivare bättre, ställa frågor och få en inblick i hur just deras arbetsvardag ser ut. 
            Samtalet kan bli din väg in i arbetslivet och är ett utmärkt tillfälle att skapa en personlig kontakt med de företag du är intresserad av. 
            Information om vilka företag som erbjuder kontaktsamtal hittar du nedan. Det går även att skicka in en öppen ansökan, som inte är riktad 
            mot något specifikt företag.
          </h1> -->

          <!-- <h1 class="is-6">
            Kontaktsamtalen är öppna för studenter vid programmen civilekonom och industriell ekonomi på LiU.
          </h1> -->

          <h1 class="is-6">
            <strong>Alla viktiga datum inför årets kontaktsamtal hittar du i tidslinjen nedan</strong>
          </h1>
          <h1 class="is-6">
            <!-- Om du sökt kontaktsamtal 2026 har du fått ett bekräftelsemejl med info och kommer få besked på mail under slutet av vecka 37. -->
            <br><br>
            <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/Tidslinje%20kontaktsamtal%20alt%202.png?alt=media&token=4f1d9e45-6ef6-431c-aac1-295dc0fab0d0" alt="Tidslinje kontaktsamtal" style="max-width: 100%; height: auto;">
            <br><br>
            Har du frågor eller funderingar? Hör gärna av dig till
            <a href="mailto:alice.widepalm@teamdagarna.com">alice.widepalm@teamdagarna.com</a>
            eller
            <a href="mailto:lilly.eriksson@teamdagarna.com">lilly.eriksson@teamdagarna.com</a>
          </h1>
          <br>

          <!-- Öppen ansökan -->
          <!-- <section class="hero" id="pink-hero">
            <div class="collapsible">
              <div class="container is-mobile">
                <div #collapsibleHeader class="collapsible-header">
                  <div class="header-text">
                    <h1 class="title is-5">Öppen ansökan</h1>
                    <h1 class="subtitle is-6">
                      Vill du öka dina chanser att få ett kontaktsamtal?
                    </h1>
                  </div>
                  <button #toggleBtn class="toggle-btn" aria-label="Visa mer"></button>
                </div>

                <div #collapsibleContent class="collapsible-content">
                  <h1 class="is-6"> 
                    Genom att fylla i öppen ansökan visar du att du är intresserad av att träffa fler företag än de du specifikt sökt till. 
                    Du kan fortfarande skicka in riktade ansökningar nedan, men med en öppen ansökan signalerar du att du är nyfiken på fler möjligheter – 
                    vilket ökar dina chanser att bli matchad till ett kontaktsamtal.
                  </h1>
                  <br>
                  <a class="button is-inverted is-outlined"
                    href="https://docs.google.com/forms/d/e/1FAIpQLScWmZWiRlophkjX8OdhRfT7AF2PSZ9LL33Q50bu82G8VZqJ8g/viewform?usp=dialog"
                    target="_blank"
                    rel="noopener noreferrer">
                    Fyll i öppen ansökan
                  </a>
                  <br><br>
                </div>
              </div>
            </div>
          </section> -->

          <br><br>

          <!-- Anmälningsformulär -->
          <div id="participants-portal" style="margin: 0 auto; text-align: left;"></div>
        </div>
      </div>
    </div>
  </div>
</div>