<div class="hero" id="title-hero">

  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered ">
        <div class="column is-9">
          <h2 class="title is-1 is-spaced" style="text-transform: uppercase">Ledartavla för pusseljakten</h2>
          <h2 class="subtitle is-6">Under mässan anordnas pusseljakten. Här nedan kan ni följa liveresultatet i denna tävling. </h2> 
          <h3 class="subtitle is-7"> <a class="is-italic is-clickable" [routerLink]="['pusseljakten']">Psst... undrar du vad pusseljakten är och vill delta? Klicka här!</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="hero">
  <div class="container">
    <div class="columns is-3">
      <div class="column is-full is-mobile">
        <div class="border-btm">
          <h1 class="title is-3">Tisdagens poängställning | topp 5</h1>
        </div>
        <table class="table is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Namn:</th>
              <th>Poäng:</th>
            </tr>
          </thead>
          <tfoot>
          </tfoot>
          <tbody>
            <ng-container *ngFor="let user of leaderBoardTuesday.slice(0,5)">
              <tr>
                <td>{{ user.liuid }}</td>
                <td>{{ user.noOfPoints }}&nbsp;<span class="icon is-small"><img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/ikon.png?alt=media&token=33401086-b60c-4e73-9dbd-66af65d9ea26"></span></td>
              </tr>
            </ng-container>
          </table>
        </div>

     <!--   <div class="column is-half">
          <div class="border-btm">
            <h1 class="title is-3">Onsdagens poängställning | topp 5</h1>
          </div>
          <table class="table is-fullwidth is-striped">
            <thead>
              <tr>
                <th>Namn:</th>
                <th>Poäng:</th>
              </tr>
            </thead>
            <tfoot>

            </tfoot>
            <tbody>
              <ng-container *ngFor="let user of leaderBoardWednesday.slice(0,5)">
                <tr>
                  <td>{{ user.liuid }}</td>
                  <td>{{ user.noOfPoints }}&nbsp;<span class="icon is-small"><img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/ikon.png?alt=media&token=33401086-b60c-4e73-9dbd-66af65d9ea26"></span></td>
                </tr>
              </ng-container>
            </table>
          </div> -->

    </div>
  </div>
</section>
