<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered">
        <div class="column is-9">
          <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Kontaktsamtal</h2>
          <h1 class="subtitle is-6">
            Kontaktsamtal är ett 25 minuter långt personligt möte där du som student får möjlighet att skapa värdefulla kontakter inför framtiden. Kontaktsamtalen erbjuder dig 
            möjligheten att lära känna dina framtida arbetsgivare bättre och kan öppna dörren till ditt framtida arbetsliv. Det är det perfekta tillfället att skapa en personlig 
            kontakt med de företag du är intresserad av samt lära dig mer om själva företaget och vilka möjligheter de erbjuder dig! Mer om vilka företag som erbjuder kontaktsamtal 
            och information om dem hittar ni under ansökan nedan.
            <br><br>
            Ansökan öppnar 18/8.
            <br>
          </h1>
          <h1 class="subtitle is-6" *ngIf="isMessageVisible">
            <!--Ansökan är öppen fram till och med 8:a september!-->
            Om ni har några frågor eller funderingar innan mässan går det bra att kontakta oss på <a href="mailto:kontaktsamtal@teamdagarna.com">kontaktsamtal@teamdagarna.com</a>.
          </h1>
          <h1 class="subtitle is-6" *ngIf="!isMessageVisible">
            Observera att kontaktsamtalen endast är öppet för studenter studerande inom civilekonomprogrammet och industriell ekonomi programmet på Linköpings universitet.
            Om ni har några frågor eller funderingar innan mässan går det bra att kontakta oss på <a href="mailto:kontaktsamtal@teamdagarna.com">kontaktsamtal@teamdagarna.com</a>.
          </h1>
          <!-- Anmälningsformulär -->
          <div id="interviews-application" style="margin: 0 auto;"></div>
        </div>
      </div>
    </div>
  </div>
</div>