<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container has-text-centered is-mobile">
      <div class="columns is-centered">
        <div class="column is-9">
          <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Kontaktsamtal</h2>
          <h1 class="subtitle is-6">
            Kontaktsamtal är ett 25 minuter långt personligt möte där du som student får möjlighet att knyta värdefulla kontakter inför framtiden. 
            Det är en chans att lära känna dina framtida arbetsgivare bättre, ställa frågor och få en inblick i hur just deras arbetsvardag ser ut. 
            Samtalet kan bli din väg in i arbetslivet och är ett utmärkt tillfälle att skapa en personlig kontakt med de företag du är intresserad av. 
            Information om vilka företag som erbjuder kontaktsamtal hittar du nedan. Det går även att skicka in en öppen ansökan, som inte är riktad 
            mot något specifikt företag.
          </h1>

          <!-- <h1 class="is-6">
            Kontaktsamtalen är öppna för studenter vid programmen civilekonom och industriell ekonomi på LiU.
          </h1> -->

          <h1 class="is-6">
            <strong>Ansökan för kontaktsamtal 2025 är stängd.</strong>
          </h1>
          <br>
          <h1 class="is-6">
            Har du frågor eller funderingar? Hör gärna av dig till osss på 
            <a href="mailto:kontaktsamtal@teamdagarna.com">kontaktsamtal@teamdagarna.com</a>.
          </h1>
          <br>

          <!-- Öppen ansökan -->
          <!-- <section class="hero" id="pink-hero">
            <div class="collapsible">
              <div class="container is-mobile">
                <div #collapsibleHeader class="collapsible-header">
                  <div class="header-text">
                    <h1 class="title is-5">Öppen ansökan</h1>
                    <h1 class="subtitle is-6">
                      Vill du öka dina chanser att få ett kontaktsamtal?
                    </h1>
                  </div>
                  <button #toggleBtn class="toggle-btn" aria-label="Visa mer"></button>
                </div>

                <div #collapsibleContent class="collapsible-content">
                  <h1 class="is-6"> 
                    Genom att fylla i öppen ansökan visar du att du är intresserad av att träffa fler företag än de du specifikt sökt till. 
                    Du kan fortfarande skicka in riktade ansökningar nedan, men med en öppen ansökan signalerar du att du är nyfiken på fler möjligheter – 
                    vilket ökar dina chanser att bli matchad till ett kontaktsamtal.
                  </h1>
                  <br>
                  <a class="button is-inverted is-outlined"
                    href="https://docs.google.com/forms/d/e/1FAIpQLScWmZWiRlophkjX8OdhRfT7AF2PSZ9LL33Q50bu82G8VZqJ8g/viewform?usp=dialog"
                    target="_blank"
                    rel="noopener noreferrer">
                    Fyll i öppen ansökan
                  </a>
                  <br><br>
                </div>
              </div>
            </div>
          </section> -->

          <br><br>

          <!-- Anmälningsformulär -->
          <div id="interviews-application" style="margin: 0 auto;"></div>
        </div>
      </div>
    </div>
  </div>
</div>