<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Integritetspolicy </h1>
          <h2 class="subtitle">Nedan kan du läsa om vår integritetspolicy och hur vi hanterar din data.</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
  <div class="content">

    <h1 class="title is-4">Intro</h1>
      <p>Den 25:e Maj 2018 trädde den generella dataskyddsförordningen i kraft och ersatte PUL. Vi ber dig därför se över följande information noggrant så att du är medveten om dina rättigheter. Du kan läsa dataskyddsförordningen i sin helhet <a target="_blank"
        rel="noopener noreferrer" href="https://eur-lex.europa.eu/legal-content/SV/TXT/PDF/?uri=CELEX:32016R0679&rid=1">HÄR.</a> Eventuella frågor eller ärenden bör skickas till personuppgiftsansvariga, vars kontaktuppgifter du finner längst ner på
      sidan.
      </p>

    <h1 class="title is-4">Ändamål för informationslagringen</h1>
    <p>Personuppgifterna du lämnar används för att kunna erbjuda följande tjänster, där ditt samtycke utgör den rättsliga grunden för behandlingen:</p>
    <ul>
      <li>Anmälan till olika event</li>
      <li>Söka kontaktsamtal</li>
      <li>Söka till mässvärd</li>
      <li>Söka till TEAM-dagarnas kommitté</li>
    </ul>

    <h1 class="title is-4">Information vi lagrar om dig</h1>
    <p>Vi lagrar information som du angivit och gett ditt uttryckliga samtycke för. Det är ditt ansvar att se till att informationen du tillhandahåller är korrekt. Detta innefattar:</p>
    <ul>
      <li>LiU-ID</li>
      <li>LiU-mail</li>
      <li>Förnamn</li>
      <li>Efternamn</li>
      <li>Program</li>
      <li>Årskurs</li>
      <li>Kandidatprofil</li>
      <li>Masterprofil</li>
    </ul>
    <p>Utöver dessa punkter lagrar vi dina anmälningar till event i syfte att garantera dig en plats men även för att föra intern (anonym) statistik kring sektionens event.</p>

    <p>Tillhandahållandet av denna information utgör ett avtalsenligt krav där Sektionen för Industriell Ekonomi inte kan erbjuda dig de definierade tjänster eller tillgång till sektionens evenemang skulle du välja att inte tillhandahålla den efterfrågade
      informationen.
    </p>

    <p>Dina personuppgifter lagras tills dess att du återkallar ditt samtycke alternativt max 5 år efter din registrering på sidan.</p>

    <h1 class="title is-4">Vilka har tillgång till dina uppgifter</h1>
    <p>Tillgång till din personliga information begränsas till att endast täcka de uttryckligt angivna ändamålen och den kontinuerliga utvecklingen och underhållet av sidan. Din information lämnas inte till tredje part på hemsidan men appen använder tjänster från tredje part som kan samla in information som används för att identifiera dig. Nedan finnes länkar till integritetspolicies för de tredjepartstjänster som appen använder sig av:</p>
    <ul>
      <li><a target="_blank" rel="noopener noreferrer" href="https://policies.google.com/privacy">Google Play Services</a></li>
      <li><a target="_blank" rel="noopener noreferrer" href="https://onesignal.com/privacy_policy">One Signal</a></li>
    </ul>
    <p>Utöver tjänster från tredjepart har följande personer tillgång till din information: </p>
    <ul>
      <li><strong>IT Ansvarig:</strong> tillgång till all data i underhålls och utvecklingssyfte</li>
      <li><strong>TEAM-dagarnas kommitté:</strong> tillgång till LiU-ID, LiU-mail, förnamn, efternamn, eventanmälningar för att hantera event</li>
      <li><strong>Medlemmar i TEAM-dagarnas kommitté och värdar som hanterar kontaktsamtalen du sökt:</strong> tillgång till LiU-ID, LiU-mail, förnamn, efternamn, eventanmälningar, kontaktsamtalsanmälningar exkl. cv, personligt brev och betyg för hantering
        av kontaktsamtal</li>
      <li><strong>Företagsrepresentant om du sökt kontaktsamtal hos företaget:</strong> tillgång till LiU-ID, LiU-mail, förnamn, efternamn, kontaktsamtalsanmälningar inkl. cv, personligt brev och betyg (om det existerar)</li>
    </ul>

    <h1 class="title is-4">Loggning av data</h1>
    <p>Vi vill informera dig om att när du använder vår tjänst och något går fel i appen så samlar vi in data och information (via tredjepartstjänster) på din telefon som kallas Log Data. Den här datan kan inkludera information såsom din enhets IP-adress, enhetsnamn, operativsystem, appkonfiguration vid användning av tjänsten, tid och datum vid användning av tjänsten och annan statistik.</p>

    <h1 class="title is-4">Kakor</h1>
    <p>Kakor är små filer med liten mängd information som vanligtvis används som anonyma unika identifierare. Dessa sänds till din webbläsare från hemsidor som du besöker och lagras på din enhets interna minne.</p>
    <p>Den här tjänsten använder inte kakor eplicit. Appen kan dock avnända sig av tjänster från tredjepart som använder sig av kakor för att inhämta information i syfte att förbättra deras tjänst. Du har valet att antingen acceptera eller neka användandet av dessa kakor men vid nekande kommer du inte att kunna använda delar av den här tjänsten. </p>


    <h1 class="title is-4">Dina rättigheter</h1>
    <p>Du har rätten att av den personuppgiftsansvarige begära <strong>tillgång till</strong> och <strong>rättelse</strong> eller <strong>radering</strong> av personuppgifter eller begränsning av behandling som rör dig eller att invända mot behandling
      samt rätten till dataportabilitet.</p>
    <p>Du har rätten att när som helst <strong>återkalla ditt samtycke</strong>, utan att detta påverkar lagligheten av behandlingen på grundval av samtycket, innan detta återkallades. Detta gör du genom att kontakta personuppgiftsansvariga.</p>
    <p>Du har rätten att inge klagomål till en tillsynsmyndighet.</p>

    <h1 class="title is-4">Tjänsteleverantörer</h1>
    <p>Vi kan tillsätta företag eller individer från tredjepart på grund av följande anledningar: </p>
    <ul>
      <li>Att underlätta vår tjänst</li>
      <li>Att erbjuda våra tjänster</li>
      <li>Att utföra servicerelaterade tjänster</li>
      <li>Att assistera oss i analyserandet av hur vår tjänst används</li>
    </ul>
      <p>Vi vill informera användare av denna tjänst om att dessa tredje parter har tillgång till din personliga information. Anledningen är att utföra de uppgifter som tilldelats dem på vår vägnar. De är dock skyldiga att inte avslöja eller använda informationen för något annat syfte.</p>

    <h1 class="title is-4">Säkerhet</h1>
    <p>Vi värdesätter ditt förtroende för att ge oss din personliga information, och därför strävar vi efter att använda kommersiellt acceptabla sätt att skydda den. Men kom ihåg att ingen metod för överföring över internet eller metod för elektronisk lagring är 100% säker och pålitlig, och vi kan inte garantera dess absoluta säkerhet. </p>

    <h1 class="title is-4">Länkar till andra webbplatser</h1>
    <p>Denna tjänst kan innehålla länkar till andra webbplatser. Om du klickar på en länk från tredje part kommer du att ledas till den webbplatsen. Observera att dessa externa webbplatser inte drivs av oss. Därför rekommenderar vi dig starkt att granska sekretesspolicyn för dessa webbplatser. Vi har ingen kontroll över och tar inget ansvar för innehåll, integritetspolicyer eller praxis på tredje parts webbplatser eller tjänster. </p>

    <h1 class="title is-4">Integritet för barn</h1>
    <p>Dessa tjänster adresserar inte någon under 13 år. Vi samlar inte medvetet personlig information från barn under 13 år. Om vi upptäcker att ett barn under 13 år har gett oss personlig information, raderar vi omedelbart detta från våra servrar. Om du är förälder eller vårdnadshavare och du är medveten om att ditt barn har gett oss personlig information, vänligen kontakta oss så att vi kan göra nödvändiga åtgärder. </p>

    <h1 class="title is-4">Ändringar av denna integritetspolicy</h1>
    <p>Vi kan uppdatera vår integritetspolicy då och då. Därför uppmanas du att granska denna sida med jämna mellanrum för eventuella ändringar. Vi kommer att meddela dig om ändringar genom att publicera den nya sekretesspolicyn på denna sida. Dessa ändringar träder i kraft omedelbart efter att de har publicerats på den här sidan. </p>

    <h1 class="title is-4">Kontaktuppgifter</h1>
    <p>Vid frågor rörande hur Sektionen För Industriell Ekonomi (moderorganisation) arbetar med GDPR: <a href="dataskyddsombud@isektionen.se">dataskyddsombud@isektionen.se</a>.</p>
    <p>Vid frågor rörande specifikt TEAM-dagarna samt begäran av tillgång till data, radering av data eller rättelse av data: <a href="itwebb@teamdagarna.com">itwebb@teamdagarna.com</a>.</p>
    </div>
  </div>
</section>
