<div class="hero" id="title-hero">
    <div class="hero-body">
      <div class="container is-mobile">
        <div class="columns ">
          <div class="column is-12 has-text-centered">
            <div class="column is-centered">
                <h2 class="title is-2 is-spaced" style="text-transform: uppercase">Jobbmöjligheter 2024</h2>
                <h2 class="subtitle is-6" style="color: #463853">
                    Här kan du hitta aktuella jobb hos företagen.
                </h2>
              </div>
            <div id="jobs-catalogue"></div>
          </div>
        </div>
      </div>
    </div>
  </div>