<div class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <h1 class="title"> Företagsskyltar </h1>
          <h2 class="subtitle">Nedan finner du information gällande de företagsskyltar som kommer att finnas på mässan.</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="border-btm">
      <h1 class="title is-2">Företagsskyltar</h1>
    </div>
    <div class="content">
      <div class="column is-full">
        <p>Är du ute efter en extra inkomstkälla vid sidan av studierna? Eller går du ditt sista år och letar efter det perfekta exjobbet? I så fall, se hit!</p>
        <p>En nyhet för i år är att alla företag som erbjuder möjligheter till sommarjobb, extrajobb och ex-jobb kommer ha skyltar på sina montrar för att underlätta ditt sökande. Håll ett öga öppet efter skyltarna du ser nedan hos de företag du besöker. Vem vet, du kanske hittar ditt drömjobb!</p>
      </div>
    </div>
      <div class="columns is-centered">
      <div class="column is-3">
        <figure class="image is-128x128">
          <img src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/sommarjobb-OK.png?alt=media&token=54c5a0dc-4c4b-4555-96f9-4ff54f0aec72">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image is-128x128">
          <img class="" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/ex-jobb-OK.png?alt=media&token=4e7a5cb4-cc93-4b2b-98ad-52b9e97ed832">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image is-128x128">
          <img class="" src="https://firebasestorage.googleapis.com/v0/b/teamdagarna-5fb26.appspot.com/o/extra-jobb-OK.png?alt=media&token=c80c4c4e-a156-444d-92da-1d2cedf553b0">
        </figure>
      </div>
    </div>
    </div>
</section>
