<div class="hero" id="title-hero">
    <div class="hero-body">
      <div class="container is-mobile">
        <div class="columns ">
          <div class="column is-12">
            <h2 class="title is-3 is-spaced" style="text-transform: uppercase">Intresseanmälan 2024</h2>
            <h2 class="title is-8">
              Nu har intresseanmälan för företag 2024 öppnats!
            </h2>
            <p>Klicka på knappen nedan för att fylla i formuläret och anmäla ert intresse till TEAM-dagarna 2024. <br> Efter att ni har fyllt i formuläret kommer 
              vi att kontakta er med mer information. <br> Vid frågor kontakta <a href="mailto: filippa.hermansson@teamdagarna.com">filippa.hermansson@teamdagarna.com</a>.</p> <br>
              <p>Vi i DreamTEAM ser fram emot att genomföra en fantastisk mässa tillsammans med er!</p> <br>
            <div id="pre-registration"></div>
          </div>
        </div>
      </div>
    </div>
  </div>