<div class="hero" id="title-hero">
  <div class="hero-body">
    <div class="container is-mobile">
      <div class="columns is-centered">
        <div class="column is-12" style="text-align: center;">
          <h2 class="title is-3 is-spaced" style="text-transform: uppercase">Intresseanmälan 2025</h2>
          <h2 class="title is-8">
            Nu har intresseanmälan för företag 2025 öppnats!
          </h2>
          <p>
            Klicka på knappen nedan för att fylla i formuläret och anmäla ert intresse till TEAM-dagarna 2025. <br> Efter att ni har fyllt i formuläret kommer 
            vi att kontakta er med mer information. <br> Vid frågor kontakta <a href="mailto: filippa.ardemalm@teamdagarna.com">filippa.ardemalm@teamdagarna.com</a>.
          </p>
          <br>
          <p>Vi ser fram emot att genomföra en fantastisk mässa tillsammans med er!</p> <br>
          <div id="pre-registration"></div>
        </div>
      </div>
    </div>
  </div>
</div>